[2019-03-22 15:49] ocefpaf opened #1 "Submit erddapy for review"
Submitting Author: Filipe Fernandes (@ocefpaf)
Repository Link:  https://github.com/ioos/erddapy
Version submitted: v0.4.0
Editor: @lwasser
Reviewer 1: @jlpalomino @choldgraf
Reviewer 2: @npch
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope
- Please indicate which [category or categories](https://www.pyopensci.org/dev_guide/

[2019-04-03 17:31] lwasser commented on #1
@ocefpaf my apologies for missing this submission almost 2 weeks ago! in our meeting tomorrow, we will discuss who the reviewers will be for this submission. I will serve as the editor for it but also can review if need be!!

OPEN CALL: Does anyone want to review this submission?

[2019-04-03 18:38] ocefpaf commented on #1
No problem. This is a test submission after all :smile:

BTW, one thing that comes to mind would be to set up a bot, similar to JOSS' bot, so the person submitting the package can get some communication as soon as s/he submits the PR. It can be something like: "Thanks for submitting, please read this and that while you wait for a review..."

We could have a review team to ping here.
Something like

[2019-04-03 18:43] lwasser commented on #1
@ocefpaf these are all great suggestions!! we will look into Joss' Bot. @kysolvik can you kindly look into what they have setup to provide an automated response??

I also really like the idea of having a set of reviewers that could be pinged. We might need to think that through given in the future we could have many submissions at a time. BUT let's keep talking as these are excellent suggestions.

[2019-04-03 20:09] kysolvik commented on #1
JOSS has an excellent bot named Whedon: https://github.com/openjournals/whedon. It definitely seems to be pretty helpful. We could look into creating something similar!

In the mean time, it looks like rOpenSci just has the current editor in chief watch issues in their software-review repo and assign them as they come up. This could be an option until we're able to set up a bot.

[2019-04-09 16:13] lwasser commented on #1
woo hoo! ok so i am going to serve as the editor for this submission. As a part of this process, i am reviewing  the dev_guide closely and making edits / changes to it. pr soon to come. Below are the checks that i'm looking for

### Editor checks:

- [x ] **Fit**: The package meets criteria for [fit](https://pyopensci.github.io/dev_guide/peer_review/aims_scope.html#package-categories) and [overlap

[2019-04-09 23:52] choldgraf commented on #1
Sounds reasonable to me - @jlpalomino how would you like to handle the joint review? Should we prepare it together then submit at once? Or we can just review independently and have a channel of communication somewhere? I'm happy w/ whatever

[2019-04-10 15:06] jlpalomino commented on #1
@choldgraf I'd like to check out the review process docs on my own first, but then it would be great to prepare and submit one together.  I'll send you an email, so we can find a time that works well. Thanks!

[2019-04-11 15:04] lwasser commented on #1
thank you @jlpalomino @choldgraf as you go through the review process, will you please submit PR's to update docs as you find issues? thank you in advance!!!

[2019-04-11 15:09] npch commented on #1
@lwasser - yes, still happy to review this.

[2019-04-11 15:46] lwasser commented on #1
wonderful. thank you @npch !! i'll add you as a formal reviewer now! All please be sure to use the [reviewer template](https://www.pyopensci.org/dev_guide/appendices/templates#review-template) when you submit your review!!

[2019-04-15 18:38] choldgraf commented on #1
FYI @jlpalomino and I are planning to submit a review early the week after next (I'm outta town for a few days this/next week)

[2019-04-29 14:42] npch commented on #1
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2019-04-29 15:36] choldgraf commented on #1
Just a quite note here that I had a bit of a hard time finding the link to the reviewer template...we should make sure that links for reviewers to use are clearly highlighted in the templates for starting the review process etc!

[2019-05-02 16:57] lwasser commented on #1
hey @npch thank you for your review!!
@choldgraf  NOTED...
What do you guys think about creating a thread here: https://pyopensci.discourse.group/c/review-process  for feedback on the review process? that way everyone can see it??

@choldgraf where would you like to see the review template starting the process?
Also just checking in on your / @jlpalomino review? is that coming along?

Thanks all!!

[2019-05-02 20:16] jlpalomino commented on #1
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2019-05-03 15:51] dmlb2000 opened #2 "Pacifica Software Inquiry"
Submitting Author: David Brown (@dmlb2000)
Repository Link (if existing):   https://github.com/pacifica

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which [category or categories](https://pyopensci.github.io/dev_guide/peer_review/peer_review_proc.html#aims-and-scope) this package falls under:
	- [x] Data retrieval
	- [ ] Data extraction

[2019-05-03 21:09] kysolvik commented on #2
Hi @dmlb2000! Thanks for you presubmission inquiry. We'll discuss and get back to you

[2019-05-08 15:02] lwasser opened #3 "EarthPy: Software Submission for Review"
Submitting Author: Leah Wasser (@lwasser)
Repository Link:  https://github.com/earthlab/earthpy
Version submitted:   0.7
Editor: @luizirber
Reviewer 1:  @HaoZeke
Reviewer 2: @sgillies
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope
- Please indicate which [category or categories](https://www.pyopensci.org/dev_guide/peer_revi

[2019-05-18 13:51] marskar opened #4 "Nbless: (de)construct, convert, execute, and prepare slides from Jupyter notebooks."
Submitting Author: Name (@marskar)
Repository Link: https://github.com/marskar/nbless
Documentation Link: https://marskar.github.io/nbless/
PyPI Link: https://pypi.org/project/nbless/

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which [category or categories](https://pyopensci.github.io/dev_guide/peer_review/peer_review_proc.html#aims-an

[2019-05-18 14:18] marskar opened #5 "Rmdawn: (de)construct, convert, and render R Markdown (IN SCOPE)"
Submitting Author: Name (@marskar)
Repository Link: https://github.com/marskar/rmdawn
Documentation Link: https://marskar.github.io/rmdawn/
PyPI Link: https://pypi.org/project/rmdawn/

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which [category or categories](https://pyopensci.github.io/dev_guide/peer_review/peer_review_proc.html#aims-an

[2019-05-18 15:01] marskar opened #6 "Gitone: Combine multiple git version controls steps into one"
Submitting Author: Name (@marskar)
Repository Link: https://github.com/marskar/gitone
Documentation Link: https://marskar.github.io/gitone/
PyPI Link: https://pypi.org/project/gitone/

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which [category or categories](https://pyopensci.github.io/dev_guide/peer_review/peer_review_proc.html#aims-an

[2019-05-18 22:31] kysolvik commented on #4
Hi @marskar! Thanks for you presubmission inquiries. We'll discuss and get back to you on this one and the other two.

[2019-05-18 22:36] kysolvik commented on #2
Hi @dmlb2000, just wanted to check in and let you know we haven't forgotten! Be in touch soon. Sorry for the delay!

[2019-05-18 22:54] dmlb2000 commented on #2
@kysolvik Saw the meeting notes where you brought up Pacifica. If you'd like a voice chat with me some time we can probably arrange that. Glad to see the chat on the meeting notes, it does give me some valuable input on web presence we need to work on.

I'm really happy you checked out the software and were able to have a good discussion about it.

[2019-05-18 23:05] kysolvik commented on #2
@dmlb2000 The big thing from the conversation was that pyOpenSci needs to define our scope in terms of what a "package" is. Something like Pacifica has a lot of components, and we were concerned we can't give it a thorough, high-quality review. So your inquiry created a really important conversation! We just haven't settled on that definition yet. Once we do, we'll update you and we'll let you kno

[2019-05-18 23:28] dmlb2000 commented on #2
@kysolvik Yeah, technically from a Python perspective Pacifica is a namespace with many packages in it. Other large projects (Flask, Django, OpenStack) employ this same python feature...

[2019-05-20 17:16] lwasser commented on #1
hey @ocefpaf just checking in with you again to see if you've seen the review feedback here. Please get in touch with any questions and with a timeline for when you think you can address the review comments. Hope you are well!

[2019-05-20 17:17] lwasser commented on #3
@luizirber  as the editor for this package, will you please ping the reviewers and give them a 3 week deadline to perform the review?

[2019-05-20 17:18] ocefpaf commented on #1
Will do soon. Just swamped with the day job after 15 days away. (I should be able to get back to this later today/early tomorrow.)

[2019-05-20 17:21] lwasser commented on #2
@dmlb2000 we wanted to followup with you about this submission. It does seem like there are many sub modules in this submission. can you kindly help us understand how the submodules work together? We could see each being submitted individually o ris there a subset of these modules that makes sense for us to review first? it is challenging for a reviewing if there are too many components to a submi

[2019-05-20 17:22] lwasser commented on #4
thank you @kysolvik  :) @marskar welcome to pyopensci!! i'd like @choldgraf to look at your three submissions given his is on the Jupyter dev team!!

[2019-05-20 17:26] choldgraf commented on #4
I'll try to take a look sometime this week if I have time. On that note, I don't know that we have the capacity to review three projects from the same person...@marskar do you have a preferred repository from the three that you submitted to be reviewed?

[2019-05-20 17:28] lwasser commented on #4
thank you @choldgraf !! I agree.. we may need to space things out a bit

[2019-05-20 17:41] lwasser commented on #1
ok wonderful. thank you @ocefpaf i hope your 15 days away were fun rather than work!! i understanding the catch up game. Please get in touch if you need anything to begin to respond to the reviewers or from pyopensci in general!

[2019-05-20 18:14] marskar commented on #4
Hi @kysolvik, @lwasser, and @choldgraf,
Thanks for the quick follow-up.
No rush with the review. I just want to see if any of these three packages would be of interest to pyopensci. @choldgraf, I do not have a preference, please feel free to prioritize or deprioritize as you see fit.
- Nbless is related to Jupyter. It uses `nbformat` and `nbconvert`. I wrote it after watching Joel Grus' [I don't l

[2019-05-20 18:19] lwasser commented on #4
Thank you so much @marskar we  appreciate your engaging with us and all of the submissions! we will have a look at all three individually and will then get back to you! because we are new and still building our infrastructure, we may need to space things out based upon resources and time. However we will get back to you and are  appreciative of the submissions!

By the way, are you interested in b

[2019-05-20 18:31] marskar commented on #4
Thanks @lwasser!
Again, no rush with the reviews.
I understand that pyopensci is new. I was following ropensci for a while and was excited to hear about pyopensci! I use R a lot, but I prefer to develop in Python (for many reasons!).
I would be honored to be a pyopensci package reviewer in the future!

[2019-05-20 18:39] lwasser commented on #4
oh wonderful. thank you @marskar !! You are also welcome to drop in on one of our meetings (we meet every three weeks) via zoom. if you are interested please send me an email and i'll add you to the invite list. we look forward to working with you in the future. We will need reviewers so it's wonderful that you are willing to contribute in that way!

More on your submissions soon!! :)

[2019-05-20 20:16] dmlb2000 commented on #2
@lwasser Pacifica's architecture is a set of independent micro services that communicate with one another to perform tasks required by an institutional data management system for research organizations.

So, each module in the namespace is a separate micro service that operates on scientific data. The archiveinterface interacts with a hierarchical storage management (mixture of ssd/disk/tape) syst

[2019-05-21 22:47] luizirber commented on #3
## Editor checks:

- [ ] **Fit**: The package meets criteria for [fit](https://pyopensci.github.io/dev_guide/peer_review/aims_scope.html#package-categories) and [overlap](https://pyopensci.github.io/dev_guide/peer_review/aims_scope.html#package-categories).
- [ ] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [ ] **License:** The package has a

[2019-05-21 22:52] luizirber commented on #3
@lwasser I don't have permission to change labels in this issue, but ready for review (past editor checks and reviewer assignment)

[2019-05-22 13:40] lwasser commented on #3
@luizirber !! i Just made you an admin for this repo so you should have permissions now. Please let me know if you don't!! And thank you for letting me know and for being willing to serve as an editor!!

[2019-05-23 16:33] ocefpaf commented on #1
Both actually. It was fun work.

Here are the answers for the review: https://github.com/pyOpenSci/software-review/issues/1#issuecomment-488816307. I'll respond to https://github.com/pyOpenSci/software-review/issues/1#issuecomment-487607456 later in separately.

There is not a full, ERDDAP is not an acronym. It is just ERDDAP.
Regarding the details I believe that this part of the README has what y

[2019-05-27 14:08] ocefpaf commented on #1
Responses for review https://github.com/pyOpenSci/software-review/issues/1#issuecomment-487607456:

I believe the present summary is enough.
The nature of wrapper libraries is that the target users already know the library being wrapped. If that is not true there is a link to the ERDDAP page to send them to the docs.

Done. The PRs fixing that are referenced in the other review.

I disagree with t

[2019-05-28 16:33] lwasser commented on #1
thank you @ocefpaf for the detailed responses to the reviewers @npch , @choldgraf and @jlpalomino
I will have a look at this in more detail in a bit. it looks like we have some questions with respect to
1. expectations how we document functions, etc
2. expectations about contributing and associated documentation
3. documentation in general - what should go in a readme vs actual docs . (filipe - i'

[2019-05-30 18:24] lwasser commented on #4
ok @marskar thank you so much for this submission (and for the other 3!!). After our meeting discussion, let's plan to review this package first.

@leouieda and @ocefpaf will be the reviewers on this package. To begin the formal submission process, please submit a new issue that is an actual submission issue. Here you will be asked if this will be reviewed for JOSS as well as if you are OK with re

[2019-05-30 18:27] marskar opened #7 "Nbless: Software Submission for Review"
Submitting Author: Martin Skarzynski (@marskar)
Package Name: Nbless
One-Line Description of Package: Construct, deconstruct, convert, execute, & prepare slides from Jupyter notebooks
Repository Link:  https://github.com/marskar/nbless/
Version submitted: 0.2.26
Editor: @lwasser
Reviewer 1: @ocefpaf
Reviewer 2: @kysolvik
Archive: TBD
Version accepted: TBD

---

## Description

- Include a brief pa

[2019-05-30 18:27] lwasser commented on #2
hi there @dmlb2000 thank you again for this submission. we discussed it today in our checkin and decided that while this might be in scope for pyOpenSci, we currently don't have the capacity to review it at this point given we are just getting started. Please ping us in the future as we will likely have much more capacity as the organization grows.

In the meantime please feel free to [drop by a c

[2019-05-30 19:15] #4 closed

[2019-05-30 19:17] marskar commented on #4
Thanks @lwasser!
I'm very excited that Nbless is going to be reviewed!
I made a new issue (#7) so I already closed the pre-submission inquiry issue (#4).

[2019-05-30 20:20] lwasser commented on #1
ok working through all of the wonderful content in these reviews and this package!! I am going to start with @npch because it brought up some really good questions that i also have. note - this is our first review so thank you BOTH for your patience. I suspect we may move a few discussion points over to discourse.

 @ocefpaf it looks like you have addressed a many things already including the inst

[2019-05-30 20:35] lwasser commented on #7
## Editor checks:

- [x] **Fit**: The package meets criteria for [fit](https://pyopensci.github.io/dev_guide/peer_review/aims_scope.html#package-categories) and [overlap](https://pyopensci.github.io/dev_guide/peer_review/aims_scope.html#package-categories).
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service. TRAVIS
- [x ] **License:** The packa

[2019-06-02 20:16] ocefpaf commented on #7
@lwasser, @leouieda and @marskar here is my review.
@marskar please feel free to ignore the checked items when copying this to answer and use only the unchecked ones. Also, every actionable item has an issue to the package repository linked, so feel free to answer there first and then summarize/cross-reference it here.

## Package Review

*Please check off boxes as applicable, and elaborate in com

[2019-06-02 20:46] ocefpaf commented on #1
The problem is that ERDDAP is a generic scientific data server and any attempt of describing the datesets in it will come short. The description you got above is of one ERDDAP instance.
I could create another one with sound data from whales and then the description would be wrong. That is why I prefer the generic (and I know vague) "Easier access to scientific data." I asked the author of ERDDAP a

[2019-06-02 23:31] marskar commented on #7
Thanks for the very helpful review @ocefpaf!
I plan to work through each of the 6 issues before the end of the week.

In the meantime, the answer to your question regarding pandoc is that the `nbconv` function/command (a wrapper for `jupyter nbconvert`) requires `pandoc` for [conversion to all formats other than HTML](https://nbconvert.readthedocs.io/en/latest/install.html#installing-pandoc). Conv

[2019-06-04 19:44] luizirber commented on #3
Hi @kysolvik and @carsonfarmer! Anything I can do to help you with your reviews? Next steps are:

- Post this template in a comment here: https://www.pyopensci.org/dev_guide/appendices/templates#review-template
- Follow the template and https://www.pyopensci.org/dev_guide/peer_review/reviewer_guide.html for you review.

[2019-06-04 22:13] lwasser commented on #3
our docs are building again too - yay! they were down due to a RTD issue. thank you @luizirber

[2019-06-06 15:26] lwasser commented on #3
hey guys @carsonfarmer @luizirber  -- wanted to followup on here. @kysolvik pointed out that there is a potential conflict of interest here given Kylen has worked for me and i'm not sure if that would apply with @carsonfarmer as well given we were both a part of earth lab for some time. we may need to reassign reviewers. @luizirber i tried to ping you on slack but am not sure if you saw it! just w

[2019-06-10 17:54] luizirber commented on #3
Good point, I reset the reviewers and changed the label back to seeking reviewers.

If @leouieda agree to review this one, maybe @marskar would like to be a reviewer? It is a geospatial submission, but since @leouieda can cover the specific area I think it is good to have someone with a distinct expertise taking a look too.

@marskar @leouieda what do you think?

[2019-06-17 01:31] marskar commented on #7
- I set up my [versioning system correctly](https://github.com/py4ds/nbless/issues/12)
- I fixed my travis testing problem (turns out the problem was with `tox`)
- I added [many tests](https://github.com/py4ds/nbless/issues/17)
- I made sure the [behaviour of the nbconv matches the docs](https://github.com/py4ds/nbless/issues/14)
The remaining issues all have to do with the docs.
I will try to wra

[2019-06-19 15:03] ocefpaf commented on #7
@lwasser I believe that @marskar addressed all the issues I raised in my review. (I updated the check boxes in https://github.com/pyOpenSci/software-review/issues/7#issuecomment-498061890 to reflect that.)

[2019-06-19 15:31] lwasser commented on #7
awesome. ok so we just need a second review now i think? we ran into an issue where we need reviewers for earthpy too.. and so i think @leouieda was asked twice which isn't ideal. Leo would you prefer to review this package or earthpy? we can try to find others for earthpy if need be!

and thank you both for working through this process - it seemed pretty seamless the way you implemented the revie

[2019-06-19 15:36] lwasser commented on #1
ok all... I need to get this moving. the reason why i've been stalling is that not all reviewer comments were implemented and i'm not sure what the best way forward is to ensure everyone feels satisfied. @choldgraf @npch @ocefpaf  should we have a discussion over in the discourse forum on

1. how much documentation do we require and what types of feedback do we require authors to implement
2. how

[2019-06-19 22:49] leouieda commented on #7
Hi all, sorry I haven't been able to stay up to date with my github notifications. I don't know if I'll be able to get this done until the end of month.

@lwasser I don't have a preference but I feel like it would be easier to find someone else to review nbless than earthpy, since nbless is general purpose. I could do earthpy if you prefer.

[2019-06-20 02:13] marskar commented on #7
Hi @lwasser, @ocefpaf, and @leouieda,
Indeed, the review was seamless and very helpful.
No rush with the second review.
I made many improvements including getting the test coverage up to 100%.
I would like to volunteer as a reviewer for earthpy if you think that would work.
We can discuss this on the call tomorrow.

[2019-06-20 16:17] lwasser commented on #7
@marskar that would be wonderful. it sounds like you and @leouieda could do earthpy and then maybe @kysolvik or @carsonfarmer could be interested in reviewing nbless. i'll put your names in the doc and we can chat today. @luizirber note that we may have two reviewers for earthpy now!!

[2019-06-20 16:19] lwasser commented on #3
@luizirber  i think we have confirmation as of today from @marskar and @leouieda that they are willing to work on reviewing earthpy!! i'll find someone else for nbless :)

[2019-06-20 16:20] lwasser commented on #7
@kysolvik are you interested in reviewing this package? Leo is open to reviewing earthpy. please let me know!!

[2019-06-20 16:51] kysolvik commented on #7
@lwasser yep I'm happy to!

[2019-06-20 21:19] lwasser commented on #1
ok all -- we are going to do a reboot of this submission. @ocefpaf today we had a good conversation around package usability and what pyopensci wants to see from packages. There was general agreement that we should move towards packages that are more usable to a larger audience of people. this includes things like clear documentation , readmes, etc etc.

We also agreed that this issue is very larg

[2019-06-21 01:15] choldgraf commented on #1
I can take another pass from a fresh issue and a new template if that's helpful - I must admit that I have been putting off responding on this particular thread because the issue is long and intimidating to go through :-)

[2019-06-24 17:14] lwasser commented on #1
@choldgraf we all agree that this issue has gotten massive. my pr in dev_guide begins to address some of the issues here. https://github.com/pyOpenSci/dev_guide/pull/31 if you'd like to resubmit this and start fresh, that would be wonderful. Essentially in our meeting we agreed that usability is core to pyopensci that is captured in the new edits to the review template.

[2019-07-03 15:46] luizirber commented on #3
Hi @leouieda and @marskar! You've been assigned, next steps are:

- Post this template in a comment here: https://www.pyopensci.org/dev_guide/appendices/templates#review-template
- Follow the template and https://www.pyopensci.org/dev_guide/peer_review/reviewer_guide.html for you review.

[2019-07-10 21:36] kysolvik commented on #7
Hi all! Sorry for the delay. 3 weeks passed fast. Just wanted to give @marskar a heads up that I started working on the review today. I'll try to post this afternoon or tomorrow.

[2019-07-12 00:05] kysolvik commented on #7
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2019-07-15 15:21] lwasser commented on #7
thank you @kysolvik !! @marskar it looks like you saw the review. please let us know if you have any questions or comments. when you are done addressing Kylen's comments above, please ping me!!

[2019-07-15 15:23] lwasser commented on #1
hey team!! it's been a while since we have revisited this review. Let's try again using the new template and via submitting issues / PR's as it makes sense. @choldgraf @jlpalomino are you game to kickstart that process?? thank you in advance!!  and thank you @ocefpaf and all for your patience!!

[2019-07-15 15:34] jlpalomino commented on #1
Sounds good @lwasser. I'll coordinate with @choldgraf to finish a new review using the revised template.

[2019-07-15 15:42] lwasser commented on #1
thank you so much @jlpalomino  :)

[2019-07-16 19:50] marskar commented on #7
Hi @lwasser,
I believe I am done with addressing all of the comments that @kysolvik made!
Thanks so much for the review, Kylen!

[2019-07-16 20:11] lwasser commented on #7
wow! so @kysolvik @ocefpaf it looks like @marskar has completed everything requested in this review. do you guys want to have one last look at things and then let me know if we are good to ACCEPT this package as our first in the pyopensci ecosystem. BTW this means we will need to create a badge for it!! :)

[2019-07-16 20:14] kysolvik commented on #7
Looks good to me @marskar and @lwasser!! Good work all, especially @marskar for creating an awesome package!

[2019-07-16 20:17] lwasser commented on #7
@marskar i suspect we have our FIRST PACKAGE accepted. let's get a final ok from @ocefpaf who i know is very busy today after his conference trip!!

[2019-07-16 20:53] lwasser commented on #7
oh housekeeping. @marskar would you prefer to move your package OVER HERE to our org. or keep it in your space and we list it on the website? the choice is yours.

[2019-07-16 20:55] marskar commented on #7
I think it might be better to keep it where it is now, but I'd be happy to discuss this in our next community call.

[2019-07-17 16:39] ocefpaf commented on #7
Looks good to me too! +1 to approve `nbless`!

[2019-07-17 18:48] lwasser commented on #7
yahoo!! ok i'll followup with a badge. i don't think anyone has respond to my discourse post yet. and i'll double check we aren't missing anything else that ROS does when accepting a package!

[2019-07-26 15:40] jlpalomino commented on #1
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2019-07-26 16:04] jlpalomino commented on #1
@lwasser @ocefpaf Please see above the review for erddapy by choldgraf and myself using the latest template.

[2019-08-06 15:40] lwasser commented on #3
hello there @luizirber @leouieda @marskar just checking in to see where this review is now?? i've bumped the version of earthpy up a few times since submitting so if the review hasn't started i might update the version here. and if it has and you guys have questions, please say the word!

[2019-08-06 15:45] lwasser commented on #7
ok this package has been ACCEPTED into pyopensci. it lives here: https://github.com/marskar/nbless/ . we now need to put it somewhere on our website so there is a connection between it and pyopensci. i'll create a separate issue for that  in our website repo and ill close this here!!

https://github.com/pyOpenSci/pyopensci.github.io/issues/3

[2019-08-06 15:45] #7 closed

[2019-08-07 01:22] marskar commented on #3
Hi @lwasser,
Let's work with the latest version.
I have a bio (not geo) background, so maybe @leouieda could address the science behind earthpy first and I will read his review and then follow up with more general packaging advice (testing, docs, etc.). Does that sound like a good plan?

[2019-08-14 22:21] cosmicBboy opened #12 "Pandera: A flexible and expressive pandas data validation library."
Submitting Author: Niels Bantilan (@cosmicbboy)
Package Name: pandera
One-Line Description of Package: validate the types, properties, and statistics of pandas data structures
Repository Link: https://github.com/cosmicBboy/pandera
Version submitted: 0.1.5
Editor: @lwasser
Reviewer 1: @mbjoseph
Reviewer 2: @xmnlab
Archive: TBD
Version accepted: 10 October 2019

---

## Description

`pandas` data st

[2019-08-19 18:35] MikeTrizna opened #13 "Presubmission Inquiry: pyBHL"
# pyBHL presubmission inquiry

Submitting Author: Mike Trizna (@MikeTrizna )
Package Name: pyBHL
One-Line Description of Package: Python wrapper for Biodiversity Heritage Library (BHL) API
Repository Link (if existing): N/A

---

## Description

- Include a brief paragraph describing what your package does:

This will just be a simple Python wrapper around the Biodiversity Heritage Library (BHL) A

[2019-08-19 19:25] lwasser commented on #13
Thank you for this presubmission @MikeTrizna !! we will get back to you on the next steps !!

[2019-08-19 19:26] lwasser commented on #12
Thank you @cosmicBboy !! we will get back to you with the editor / review process next steps !!

[2019-08-19 19:26] lwasser commented on #2
closing this given no response since may! we can reopen in the future if needed.

[2019-08-19 19:26] #2 closed

[2019-08-23 22:19] lwasser commented on #12
## Editor checks:

- [x] **Fit**: The package meets criteria for [fit](https://pyopensci.github.io/dev_guide/peer_review/aims_scope.html#package-categories) and [overlap](https://pyopensci.github.io/dev_guide/peer_review/aims_scope.html#package-categories).
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service. `Might add better dev setup instruct

[2019-08-23 22:22] lwasser commented on #1
@ocefpaf just a friendly ping to see how if you have time to respond to the latest review . Also please note at the [top of this issue](https://github.com/pyOpenSci/software-review/issues/1#issuecomment-479609702) I did confirm that Filipe is NOT interested in the JOSS component of the review at this time @jlpalomino

[2019-09-03 20:17] mbjoseph commented on #12
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2019-09-10 14:55] lwasser commented on #12
thank you @mbjoseph for this extremely thorough review. gosh i'm not sure why i didn't see this in my github notifications. my apologies.  @xmnlab you can have a look at the review above. Do you want to give the second review a go after seeing what max has pointed out above? If you need any guidance, please say the word!!

[2019-09-10 15:23] xmnlab commented on #12
@lwasser sure thing! I am planning to start to work on that today :) thanks!

[2019-09-10 16:12] lwasser commented on #12
awesome @xmnlab please reach out if you have any questions !! we are all hear to support. @cosmicBboy just a note that the second reviewer is starting the process. You could have a look at @mbjoseph review if you'd like in the meantime!! thank you all!! :)

[2019-09-11 02:30] cosmicBboy commented on #12
thanks @lwasser!

@mbjoseph thanks for the review! I've released v0.2.1, where I addressed many of the points that you raised in the review, check out the [release notes](https://github.com/pandera-dev/pandera/releases/tag/v0.2.0).

## Most notable changes:

- add citation information
- add dev installation instructions
- improve formatting and wording of sphinx documentation (this addresses sever

[2019-09-11 20:46] xmnlab commented on #12
just one question. the version submitted for review is `0.1.5`
but it seems pandera has more 2 version after that.

should I review just `0.1.5`? the same applies to documentation on readthedocs?

[2019-09-11 21:23] mbjoseph commented on #12
IMO @xmnlab you should focus on the most recent version, but @lwasser may also have a preference!

[2019-09-11 22:18] lwasser commented on #12
@mbjoseph i think that is a reasonable suggestion!! may i assume you reviewed the most recent version as well? if that is the case then the reviews will be consistent. thank you both!!

[2019-09-11 22:57] mbjoseph commented on #12
That's right @lwasser -- my review was for the most recent version at the time, but the package has been updated since (including updates that address my review). So, probably better to work on the most recent version for review 2.

[2019-09-13 13:56] xmnlab commented on #12
thanks for the feedback @mbjoseph and @lwasser ! I am doing the review on the latest version. thanks

[2019-09-14 15:58] xmnlab commented on #12
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2019-09-16 17:21] lwasser commented on #12
awesome. thanks @xmnlab  !!! @cosmicBboy please note the new round of review comments. Ping me when changes have been implemented / you have questions etc!! Thank you all for a really smooth review process!!

[2019-09-29 23:12] cosmicBboy commented on #12
thanks @lwasser @xmnlab @mbjoseph!

I've cut a new pandera release 0.2.2 that adds [example docstrings](https://github.com/pandera-dev/pandera/commit/4eeeb16541e5d9e74748fe9d1307065a8902a6b1) to all public-facing classes and methods. The commit also:

- docstring examples should be reflected in the [docs](https://pandera.readthedocs.io/en/stable/API.html)
- changes README with updated development

[2019-09-30 19:07] lwasser commented on #12
thank you @cosmicBboy  !! @mbjoseph @xmnlab will you please have a look at the latest release? let me know if the changes are acceptable given your review! if so, you can check the. "the author has responded to my review" box at the bottom of your review submission. If you see anything that wasn't addressed to your satisfaction please let me know!!

thank you all for such a smooth review process!

[2019-09-30 23:41] mbjoseph commented on #12
@cosmicBboy thanks for addressing my suggestions - v0.2.2 looks good to me!

[2019-10-01 15:08] lwasser commented on #12
@xmnlab   can you kindly have a look at the above and if you are happy with the edits, check the box in your review that states that the author has addressed everything to your satisfaction .

[2019-10-01 15:12] lwasser commented on #13
@MikeTrizna my apologies for being slow to get back to you on this. I think that the group is confident in this package being a good fit. So the next steps are for it to just be submitted when you full develop it. Did you have any other questions? if not we can close this and you can open a new issue when you have a package to submit! please let me know what you think!

[2019-10-01 15:14] lwasser commented on #3
hey team. i thijnk we might need to regroup on this review! given there has been no activity here. i suggest we reassign everything: editor, and reviewers. @luizirber i feel like you are super busy and don't have time. i'm wondering if @marskar or someone else might want to serve as the editor and we can find two new reviewers then! i have one reviewer in mind who's using this package for lessons

[2019-10-01 15:18] xmnlab commented on #12
@lwasser sure thing. I will work on that today.

@cosmicBboy thanks for working on this new release. I will do the review today in some hours. thanks!

[2019-10-01 15:26] lwasser commented on #12
thank you so much, @xmnlab !!

[2019-10-01 18:34] marskar commented on #3
Hi @lwasser, I am happy to step in to serve as editor. In my opinion, *the more, the merrier* in terms of reviewers. Earth science is not my field, though I am happy to learn. It would be excellent if we could have involve the reviewer you mentioned, the one with experience using EarthPy!

[2019-10-01 18:47] lwasser commented on #3
ok let's try that! this review has been stale for a while so i'd like to see it move forward. @rbavery was one person i thought might be able to review for us. Ryan would you be game for that? but if not, can you suggest 1 or 2 people?  We could also ask around (Twitter maybe??) to find some else that has time and can make our 3 week review window!

[2019-10-01 18:50] xmnlab commented on #3
I don't have any experience with EarthPy but I have some experience with GIS ... let me know if I can help in any way.

[2019-10-01 18:53] lwasser commented on #3
thank you @xmnlab because earthpy is something i worked on, i'm trying hard to stand back from the review :) but it is a spatial library! it's designed to make exploring spatial data a bit easier. it has wrappers around rasterio and geopandas. you just did a (great) review and i know you are wrapping that up. i'll step back and will let @marskar decide on what he'd like to do as editor :) @marskar

[2019-10-01 19:27] xmnlab commented on #12
@cosmicBboy good job with the examples in the documentation!

I have checked the my "Final approval" checkbox.

Just some minors observations:

1. There are some public methods without type hinting and/or docstring for `return`, if you could open an issue for that and address that it would be great.
2. And there are some private methods without any docstring or type hinting.

thanks for working on

[2019-10-01 19:29] cosmicBboy commented on #12
Thanks! I’ll look over more carefully and have more complete
typing/docstrings

On Tue, Oct 1, 2019 at 3:27 PM Ivan Ogasawara <notifications@github.com>
wrote:

[2019-10-01 19:33] lwasser commented on #12
this is great. @cosmicBboy @xmnlab are these small things that could be done quickly? it would be nice to have that done and wrapped up before the final approval. pyopensci does value documentation highly!

[2019-10-04 01:54] cosmicBboy commented on #12
@lwasser I just released [v0.2.3](https://github.com/pandera-dev/pandera/releases/tag/v0.2.3) with improvements to documentation, unit test maintainability, and bugfix in coercion + nullable logic.

[2019-10-04 16:36] lwasser commented on #3
@luizirber it sounds like @HaoZeke  might be available to review this as well.

[2019-10-04 16:39] HaoZeke commented on #3
Yup, @luizirber and @lwasser, I'd be happy to review this one here and later for JOSS once it's been written up and submitted there as well.

[2019-10-04 20:02] luizirber commented on #3
Awesome, thanks @HaoZeke!

So let's get this train rolling: @HaoZeke and @marskar have been assigned, next steps are:

- Post [this template](https://www.pyopensci.org/dev_guide/appendices/templates#review-template) in a comment in this issue
- Follow the template and https://www.pyopensci.org/dev_guide/peer_review/reviewer_guide.html for you review.

[2019-10-08 20:36] luizirber commented on #3
Hey all, we have a new potential reviewer! @sgillies responded on Twitter, so I recommend we try either:
- @marskar move to another review, or
- 3 reviewers, and add @sgillies

I kind of like the three reviewers idea, what do you think @marskar?

[2019-10-08 22:42] lwasser commented on #3
hi colleagues. whoever does review this please note that the clip module is being [migrated to geopandas (it fits there better!!)](https://github.com/geopandas/geopandas/pull/1128) it's underway. but ofcourse if you have implemention comments i'll totally move that over to geopandas in that pr!

[2019-10-10 19:52] lwasser commented on #12
awesome @cosmicBboy !! I believe this is done!! congratulations as you are the second package to successfully go through our review process!

Next steps.

1. I am redoing the website package list so i'll go ahead and add you to that and will provide the link when it's done!!
2. I will also add you as a contributor on our contributors page as i am working on that now.
3. we'd love for you to add a

[2019-10-10 23:51] luizirber commented on #3
@HaoZeke and @marskar can you please post your reviewer checklist to acknowledge you started?

And @marskar, do you prefer the 3 reviewers approach or moving to another review?

Thanks!

[2019-10-14 12:01] cosmicBboy commented on #12
@lwasser badge added! Yes please let me know when you need more info on the package.

Out of curiosity, what are the requirements for submitting this package to JOSS?

[2019-10-15 23:34] lwasser commented on #12
hi @cosmicBboy please check out this page

https://www.pyopensci.org/dev_guide/appendices/templates.html
 in our dev guide and scroll down to the section on joss!! (it's actually also in the review template) ... if you are interested in pursuing joss and meet their requirements, please do let us know. it would be the first submission that also went through JOSS!! but we do have an established part

[2019-10-15 23:58] luizirber commented on #3
@HaoZeke @marskar How is it going? Anything I can do to help you with your review?

[2019-10-16 13:47] marskar commented on #3
Hi @luizirber, I think it will be better to stick to 2 reviewers.
So my suggestion is to move forward with @HaoZeke and @sgillies as the reviewers.
If there is a problem with this, please let me know and I will jump back into the review.

[2019-10-16 13:51] HaoZeke commented on #3
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [ ] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2019-10-16 19:45] luizirber commented on #3
Thanks for the feedback, @marskar! Let's proceed with 2 reviewers then.

@sgillies are you still available for this review?

@HaoZeke No worries! Review due date is Oct 25th, and might be postponed depending on @sgillies response. And thanks for posting the reviewer checklist =]

[2019-10-16 23:00] sgillies commented on #3
@luizirber I am. Shall I also copy the checklist into this issue and begin? I have some evening time this week and expect no trouble with the 25 October deadline.

[2019-10-16 23:05] luizirber commented on #3
Cool, thanks @sgillies! Copying the checklist here and you're good to go =]

[2019-10-17 15:26] lwasser commented on #3
you guys rock!! again just a note that the CLIP module is moving to GEOPANDAS:

https://github.com/geopandas/geopandas/pull/1128

but i am open to feedback on it as we move it over if you wish to provide it :)

[2019-10-19 01:23] sgillies commented on #3
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [ ] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2019-10-23 18:48] luizirber commented on #3
@HaoZeke @sgillies any questions about the process, or any other help I can offer?

[2019-10-24 04:36] sgillies commented on #3
@luizirber the earthpy package has not also been submitted to JOSS correct? I can leave those boxes unchecked?

[2019-10-24 07:40] HaoZeke commented on #3
Yeah I believe it is not for consideration there since there's no
`paper.md` either..

[2019-10-24 15:26] lwasser commented on #3
@sgillies @HaoZeke we'd like to submit to JOSS but i've never been through that process before and this is my first time having a package reviewed. So i was going to complete this initial review with pyopensci and then if all goes well, ask for things to be pushed along to JOSS. i need to contact arfon again about how that works. I believe that the JOSS reviewers look at the paper.md. @luizirber d

[2019-10-24 15:39] HaoZeke commented on #3
Well I've reviewed seven papers for joss and if you set up a paper.md I'd
be happy to serve as a reviewer when you submit there as well. I'm not sure
how the transfer works though.

via Newton Mail
[https://cloudmagic.com/k/d/mailapp?ct=pa&cv=10.0.25&pv=6.0.1&source=email_footer_2]

[2019-10-24 15:41] lwasser commented on #3
ok thank you @HaoZeke i will dig into the joss part. This is the first package that will move on to JOSS. it needs to pass pyopensci review first however. I will do a bit of research on that document and will get back to you guys soon!! in the meantime i'm working on comments and issues from this review and are so appreciative of everything suggested so far!!

[2019-10-25 21:54] lwasser commented on #3
ok i am working my way through @sgillies comments and issues which are all great -- THANK YOU!! @HaoZeke do you have a review for us coming? i didn't see your review template as filled out.

in the meantime we will have a paper.md file pushed in the next few days for JOSS!!

[2019-10-28 14:29] mbjoseph commented on #5
@marskar this looks like this would be in-scope for us! I will be the handling editor for Rmdawn.

I'll close this presubmission issue, and you can open a new submission issue using the "Submit Software for Review" template whenever you are ready. Let me know if you have any questions!

[2019-10-29 11:42] HaoZeke commented on #3
Hi @luizirber. I have completed my review, and I am satisfied with the code both in terms of functionality as well as documentation and reproducibility. I am not much of a geologist, but I am certain such a well crafted tool will be of much use to the community. I recommend this for endorsement. Also @lwasser, thank you for your patience. I would be willing to review this submission when you submi

[2019-11-02 00:34] luizirber commented on #3
Hello all,

thanks for the reviews @sgillies and @HaoZeke! I see that the only item missing in both your checklist is the final approval (and the JOSS parts), so I think this is ready to be approved (if you don't have any other concerns).

[2019-11-04 18:49] lwasser commented on #3
awesome. just a note that
1. we will not address the issue associated with the clip modules as that is moving to geopandas and we are working on the PR there. we will however integrate sean's suggestions in that PR!
2. we were going to implement logging but after some discussion with @sgillies we decided that this might not be necessary for earthpy. so if everyone is on board, i think we are in go

[2019-11-04 19:31] sgillies commented on #3
@lwasser went above and beyond in responding to my review comments. I've checked off the last box. Thanks for letting me get involved, I found the process and documentation quite interesting and well done.

[2019-11-06 14:52] luizirber commented on #3
Thanks @sgillies!

@HaoZeke, any final comments before we move to `approved`?

[2019-11-06 15:08] HaoZeke commented on #3
Thank you for asking. I think the documentation is great and it's ready to
go further without any issues. Great work.

[2019-11-06 17:26] luizirber commented on #3
Thanks @HaoZeke!

Label updated, now EarthPy is [`6/approved`](https://github.com/pyOpenSci/software-review/labels/6%2Fapproved)!

[2019-11-06 17:28] luizirber commented on #3
Approved! Thanks @lwasser  for submitting and @HaoZeke and @sgillies for your reviews! :smile_cat:

To-dos:
- [ ] Transfer the repo to our "pyOpenSci" GitHub organization under "Settings" in your repo. I have invited you to a team that should allow you to do so. You'll be made admin once you do.
- [ ] Fix any links in badges for CI and coverage to point to the pyOpenSci URL. For Appveryor projects

[2019-11-06 17:29] luizirber commented on #3
and this approval template might need some tweaks, since we are not asking repos to be moved to pyopensci... But the JOSS items are relevant!

[2019-11-06 22:19] lwasser commented on #3
oh yay !! ok @luizirber that's a great idea to update the template. whatever suggestions you have would be awesome!!

I will create a release and submit to JOSS next. @arfon told me to just link to this issue as documentation that we are approved by pyopensci. You may know more than me on this but i'll submit it first and will report back here in this issue. Please let me know if you have any sugg

[2019-11-07 17:24] lwasser commented on #3
JOSS review is happening here: https://github.com/openjournals/joss-reviews/issues/1869

[2019-11-09 15:58] anitagraser opened #14 "MovingPandas: Presubmission Inquiry"
Submitting Author: Anita Graser (@anitagraser)
Package Name: movingpandas
One-Line Description of Package: Implementation of Trajectory classes and functions built on top of GeoPandas
Repository Link (if existing): https://github.com/anitagraser/movingpandas

---

## Description

- Include a brief paragraph describing what your package does:

MovingPandas is a package for dealing with movement dat

[2019-11-11 20:14] lwasser commented on #14
hey @anitagraser !! thank you for this submission. we will have a look at it and will get back to you. Welcome to pyopensci!!

[2019-11-13 22:58] lwasser commented on #12
given this has been APPROVED, i will close this issue. If there is any reason to reopen it, please say the word!!!

[2019-11-13 22:59] lwasser commented on #3
this has also been approved!! so closing the issue!! yay!

[2019-11-13 22:59] #3 closed

[2019-11-13 23:00] lwasser commented on #5
hey @marskar just checking in here -- are you still interested in us reviewing rmdawn? if so, please open a new software submission issue here and we can get the review process going with @mbjoseph  as editor.

[2019-11-14 18:33] marskar commented on #5
Great!  Yes, I will prepare the submission. Thanks!

[2019-11-14 19:22] lwasser commented on #14
hi @anitagraser !! we discussed moving pandas today and would like for you to submit it to pyopensci! the next steps, please open a new submission issue for the tool - and i will respond to you there!! Thank you for this inquiry!!

[2019-11-14 22:18] anitagraser commented on #14
Will do, thanks @lwasser !

[2019-11-14 22:18] #14 closed

[2019-11-23 20:57] sjvrijn opened #15 "MF2: Multi-Fidelity Functions"
Submitting Author:  Sander van Rijn(@sjvrijn)
Package Name:  mf2
One-Line Description of Package:  A collection of multi-fidelity analytical benchmark functions
Repository Link (if existing):  https://github.com/sjvrijn/mf2

---

## Description

- Include a brief paragraph describing what your package does:

This package provides a number of multi-fidelity function implementations commonly used to

[2019-12-04 19:48] lwasser commented on #15
thank you for this submission @sjvrijn our next pyopensci checkin in is tomorrow at 11am mountain time! we will discuss this package then. you are welcome to join us as well as it's an open meeting!!!

[2019-12-09 11:01] sjvrijn commented on #15
As discussed in the December 5 meeting, this submission is withdrawn/on hold

See [the meeting notes](https://hackmd.io/cHsYlTvwT7eWz8y21v8G5w) for details.

[2019-12-09 11:01] #15 closed

[2019-12-09 19:39] lwasser commented on #15
hey @sjvrijn thank you for closing this and for understanding!! I hope that you still are interested in being involved with us. We just don't have the capacity yet to review this particular submission BUT i do suspect that in the future we may have that capacity!!

[2019-12-10 21:52] sjvrijn commented on #15
@lwasser No problem, and yes I'm still interested. How do I sign up as a reviewer/supporter?

[2019-12-10 23:53] lwasser commented on #15
awesome! and funny you should ask!! i finally created a good form for this very purpose. You can fill it out here -- https://forms.gle/5MuYMVs8xpCxk9w29 and please let me know if you have any issues with filling it out or if there are other "categories" of domain expertise that i am missing!! i am sure i've missed some important ones.

[2019-12-12 00:42] megies opened #16 "ObsPy: Software Submission for Review"
Submitting Author: @megies
Package Name: ObsPy
One-Line Description of Package: A Python Toolbox for seismology/seismological observatories.
Repository Link:  https://github.com/obspy/obspy
Version submitted:   [1.1.1](https://github.com/obspy/obspy/releases/tag/1.1.1)
Editor: @lwasser
Reviewer 1: @canyon289
Reviewer 2:  @raoulcollenteur
Archive: TBD
Version accepted: TBD

---

## Description

Obs

[2019-12-12 00:45] megies commented on #16
Code of conduct was added after last stable release, it's in `master` and will be part of soon-to-be-released 1.2.0.

[2019-12-12 01:40] lwasser commented on #16
awesome! thanks @megies for this submission. we will get back to you soon!! likely after agu :) in the meantime are there people who you could suggest as reviewers? i can also dig into our spreadsheets but if you know of folks, please feel free to suggest here. now that i'm writing this i'm realizing we might consider adding this question to our template as well.

[2019-12-12 07:15] megies commented on #16
That'd be somebody working in seismonology, good in Python and not using obspy? Is that even possible?

:point_up_2: just kidding :stuck_out_tongue_winking_eye: but yeah, most people I know would be biased :wink:

[2019-12-17 02:43] morganjwilliams opened #17 "pyrolite Presubmission Inquiry"
Submitting Author: Morgan J. Williams (@morganjwilliams)
Package Name: pyrolite
One-Line Description of Package: A set of tools for getting the most from your geochemical data.
Repository Link (if existing):  https://github.com/morganjwilliams/pyrolite

---

## Description

- Include a brief paragraph describing what your package does:

pyrolite provides tools for munging, transforming and visuali

[2019-12-17 17:22] lwasser commented on #17
thank you for this submission @morganjwilliams !! this looks like a great fit for pyopensci .  i'll be in touch about next steps. i'm just catching up from AGU!! :)

[2020-01-06 17:13] anitagraser opened #18 "MovingPandas: Software Submission for Review"
Submitting Author: Anita Graser (@anitagraser)
Package Name: MovingPandas
One-Line Description of Package: Trajectory classes and functions built on top of GeoPandas
Repository Link:  https://github.com/anitagraser/movingpandas
Version submitted: 0.2
Editor: Jenny Palomino (@jlpalomino)
Reviewer 1: Ivan Ogasawara (@xmnlab)
Reviewer 2: Martin Fleischmann (@martinfleis)
Archive: -
Version accepted:

[2020-01-08 03:10] morganjwilliams commented on #17
Happy New Year @lwasser! I hope you've had a bit of time to relax and recover from AGU. Just following up on this one, let me know if there's anything to address before proceeding to a submission.

[2020-01-15 20:07] lwasser commented on #16
hey there @megies !! i'm just catching up on things with the holidays, and beginning of the semester here... so my apologies for the delay. Our next meeting is this thursday so i'll be sure to get this review going.

I'll put a few calls out to try to find some reviewers. it seems to me that someone who uses obspy could be ok?! but  if they are closely related to the development already that would

[2020-01-15 20:10] lwasser commented on #17
hi @morganjwilliams !! my apologies for the delay. i'm catching up post holidays and beginning of the semester. We have a meeting this thursday but i suspect we will ask for a full submission after that meeting. you are welcome to come to pitch the package as well if you'd like!! it's at 11am mountain time. If not i'll just bring it up as an issue.

In the meantime if you could think of people who

[2020-01-15 20:11] lwasser commented on #18
hi @anitagraser !! thank you again for this submission. it will be on our discussion list for this thursday's pyopensci meeting! can you think of any folks who might be well suited to review this package? we will need 2 people.

[2020-01-15 22:19] anitagraser commented on #18
Thank you @lwasser! I think GeoPandas developers would be a good fit.

[2020-01-16 00:15] morganjwilliams commented on #17
Thanks for the update, sounds good. I won't make the meeting this time around (2am my time), but I'll jot down some ideas for reviewers and start getting things ready for the full submission.

[2020-01-16 18:11] lwasser commented on #18
@jlpalomino  will be the fearless editor for this submission !! And @xmnlab will be our first reviewer. We will reach out to the geopandas folks. @martinfleis would you be interested in being a second reviewer for moving pandas? please let us know!

[2020-01-16 19:41] martinfleis commented on #18
@lwasser I would love to do that, but not sure how fast I'd be. What is the timeframe?

[2020-01-16 22:51] lwasser commented on #18
hey @martinfleis we understand. we typically ask for a 3 week turn around on reviews. Would that timeframe work for you or is that too quick? Many thanks for responding so quickly!

[2020-01-16 23:47] martinfleis commented on #18
@lwasser that seems to be doable. Count me in.

[2020-01-17 15:54] lwasser commented on #18
awesome!! Thanks @martinfleis for doing this!!

[2020-01-17 16:01] megies commented on #16
Like I said, it's all good, we're in no hurry about this at all. :+1:

[2020-01-17 16:44] jlpalomino commented on #18
## Editor checks:

- [X] **Fit**: The package meets criteria for [fit](https://pyopensci.github.io/dev_guide/peer_review/aims_scope.html#package-categories) and [overlap](https://pyopensci.github.io/dev_guide/peer_review/aims_scope.html#package-categories).
- [X] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [X] **License:** The package has a

[2020-01-27 11:41] stijnvanhoey opened #19 "Submit pydov for review"
Submitting Author:  @roel, @stijnvanhoey, @pjhaest
Package Name: pydov
One-Line Description of Package: Python package to retrieve data from Databank Ondergrond Vlaanderen (DOV)
Repository Link: https://github.com/DOV-Vlaanderen/pydov
Version submitted:  [1.0.0](https://github.com/DOV-Vlaanderen/pydov/releases/tag/v1.0.0)
Editor: @lwasser
Reviewer 1: @nickledave
Reviewer 2: @xmnlab
Archive: TBD
Ve

[2020-01-28 23:22] martinfleis commented on #18
## Package Review

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly stating problems the software is designed to solve

[2020-01-29 05:05] canyon289 commented on #16
Hi, I saw the call for reviewers on twitter, all for open source science, would like to be helpful. I'm not in seismology and don't use ObsPy, but do help maintain ArviZ and PyMC3 which I hope qualifies me enough. Let me know if I meet the bar.

[2020-01-29 08:29] anitagraser commented on #18
Thanks a lot for the thorogh review and great feedback, Martin! I'll work on the open issues.

I've been looking for the badge for pyOpenSci peer-review but haven't been able to locate one for ongoing peer review.

[2020-01-29 09:31] martinfleis commented on #18
That is more the question for @lwasser and @jlpalomino, I just copied review template.

[2020-01-29 15:54] jlpalomino commented on #18
Thanks @martinfleis for your review.

@anitagraser I also was not able to find the badge details in our review guide, so I have made a note to look into where we provide this info.

Here is the badge for pyOpenSci peer review, with the second link being the URL to this issue:
```[![pyOpenSci](https://tinyurl.com/y22nb8up)](https://github.com/pyOpenSci/software-review/issues/18)```

[2020-01-29 22:24] d-wasserman commented on #18
If there is room to get involved I would not mind to review as well. I look forward to seeing this move forward through the review process.

[2020-01-30 07:18] raoulcollenteur commented on #16
I could help with a review. Not specifically known in seismology but I am a hydrogeologist and (co-) develop some python packages.  Let me know if help is needed :)

[2020-01-30 15:32] anitagraser commented on #18
If fixed the remaining README issues: badges https://github.com/anitagraser/movingpandas/issues/53 and citation information https://github.com/anitagraser/movingpandas/commit/56ef608c3302f53f408f07781fbf9c30147eb1f3

The last open issue from Martin's review should be the Community guidelines.

[2020-01-30 15:46] xmnlab commented on #18
I am planning to review MovingPandas today :)

[2020-01-30 15:50] anitagraser commented on #18
Contribution guidelines are now available at https://github.com/anitagraser/movingpandas/blob/master/CONTRIBUTING.md

[2020-01-30 16:12] lwasser commented on #16
hi @canyon289 and @raoulcollenteur  if you have experience developing packages, and are on the geosciences end of things, I think that could work well for this review. @megies please let me know what you think about two people reviewing who are not from the seismology community explicitly? i suspect this might be challenging to find someone without a conflict of interest and such.  I know both are

[2020-01-31 00:36] lwasser commented on #18
@anitagraser when your package has fully passed both reviews and both reviewers are happy with your addressing their requested changes, we will ask you to add the badge to the readme!! please get in touch with any other questions. @martinfleis  THANK YOU for this review!!

[2020-01-31 00:37] lwasser commented on #18
one other question @anitagraser are you interested in JOSS? i see you didn't check the box. Joss only requires you to write a very short paper about the package (i can show you the earthpy example) . They accept the pyopensci technical review by default. no worries if you are not interested... but it's a nice citation to have if you are (linked to your orcid id and such).

[2020-01-31 08:12] anitagraser commented on #18
@lwasser Thank you. Do I understand correctly that I should remove the pyopensci badge from the MovingPandas readme again? Is there a different badge to fulfill the requirement in the review template "the badge for pyOpenSci peer-review once it has started"?

Concerning JOSS, I have been thinking about it but wasn't sure if JOSS sees prior publications as an obstacle:

Graser, A. (2019). MovingPan

[2020-01-31 09:53] megies commented on #16
I don't see a problem with that at all. :+1:

[2020-01-31 13:43] anitagraser commented on #18
@lwasser After looking at the earthpy paper you mentioned, I think there should be minimal overlap with the existing MovingPandas paper in GI_Forum. So yes, I'd like to try a JOSS submission.

[2020-01-31 23:37] lwasser commented on #16
awesome @raoulcollenteur  and @canyon289 if you are still willing, I am going to assign you as reviewers for obspy!! Please plan to have your feedback to @megies by **Monday Feb 24th**.

You can use our review guide as a basis for your review. https://www.pyopensci.org/dev_guide/peer_review/reviewer_guide.html We actually have some reviews that you can look out now (our guide is dated already!!) w

[2020-01-31 23:40] lwasser commented on #16
@megies please excse me if i already asked you this? are you interested in a JOSS citation? it's not a significant amount of extra work. you write the "paper" which can be quite short. earthpy has one in it's repo, and then joss automatically accepts the review that happens here so it's fast once the paper is complete. You then get a more formal citation through a journal which is really nice and

[2020-01-31 23:41] lwasser commented on #16
one other note  -- @raoulcollenteur and @canyon289 the review template is here in case you didn't see it above! https://www.pyopensci.org/dev_guide/appendices/templates.html

[2020-01-31 23:45] lwasser commented on #19
Hi @stijnvanhoey !!! 👋  thank you for this submission!! i will add this to our list of packages to discuss in our next meeting which is next week - feb 6!!

[2020-02-01 05:59] canyon289 commented on #16
Great. I'll get this done by the 24th. Also interested in whether this is getting submitted to JOSS as there seem to be extra reviewer items for me to go through if that's the case.

[2020-02-01 12:29] megies commented on #16
No problem. I'm not sure if it would do much though, since we have three citable papers for obspy but if you have a good idea how to theme it or if you think it's still adding something, let me know. :-)

[2020-02-01 12:30] megies commented on #16
You can start on those items not affected by JOSS submission :-)

[2020-02-03 16:19] xmnlab commented on #18
I will finish my review today :)

[2020-02-03 23:55] lwasser commented on #16
awesome. thanks all!! sure. i'll actually reach out to @arfon on this. Arfon if you happen to see this - does JOSS provide anything new in terms of citation and visibility if a tool has already been published in a few other journals?

[2020-02-03 23:58] arfon commented on #16
:wave: If you already have a paper (or multiple papers!) that you like people to cite for this software then I don't think it makes much sense to publish a paper with JOSS.

[2020-02-04 00:01] lwasser commented on #18
@anitagraser that's great to hear!! ok so the process is pretty straight forward. Once the review is done and moving pandas is accepted here, I will ping our JOSS friends and they will help you through the JOSS process. this all looks great. the only challenge i had with JOSS was small formatting issues when it published to PDF. There is a nice tool however that is helpful. so when we get there ..

[2020-02-04 00:02] lwasser commented on #18
Thank you @xmnlab  :) we are so appreciative of your review!!

[2020-02-04 00:03] lwasser commented on #18
Also you are the second package maintainer that has asked about other publications. i will email arfon tonight!! Also let me look into the badge specifics. it's not a huge deal but typically we've had people add the badge post review. I'll get back to you anita!!

[2020-02-04 00:06] lwasser commented on #16
Thank you @arfon !! that was fast. ok great.. i just emailed you about this given i have a similar question for another review underway!

[2020-02-04 00:08] lwasser commented on #18
ok @anitagraser @arfon actually responded here: https://github.com/pyOpenSci/software-review/issues/16#issuecomment-581677530 on another review. he did say that if you have another citation already that you want to use to cite your software, then you probably don't need to worry about joss. i know you have already begun work on the joss paper... but see his comment and let us know what you think!

[2020-02-04 05:43] xmnlab commented on #18
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2020-02-04 05:45] xmnlab commented on #18
@anitagraser it is a interesting project!

I have added the result of my review above. Let me know if you need any additional explanation or detail!

[2020-02-05 00:11] lwasser commented on #5
Hey @marskar checking in on this submission again! Would you still like to submit it for review ?it just needs a formal submission so we can move it forward.

[2020-02-06 17:12] anitagraser commented on #18
Thank you very much for the extensive feedback @xmnlab! It's very clear. I have just one question so far concerning "explain how to install movingpandas in development mode.": the [README](https://github.com/anitagraser/movingpandas#development-installation) already has a section titled Development Installation with the necessary conda instructions. Are you missing something specific?

[2020-02-06 18:24] anitagraser commented on #18
Status of improvements:

* [x] In the README file, maybe it would be good if [0] and [1] would be linked to the Publications section. https://github.com/anitagraser/movingpandas/commit/f1da7954563f79507ea8e62222bdf677ca135d13
* [x]  in the "Tutorial 0", section "Continue exploring MovingPandas", maybe it would be better to have just a link to the tutorial (1).  https://github.com/anitagraser/movin

[2020-02-06 18:39] lwasser commented on #19
@nickledave will be a reviewer for this submission!! @lwasser will try to find a second reviewer and editor (or she will be editor)

[2020-02-07 19:47] lwasser commented on #17
@morganjwilliams we'd like to get this into our review process. can you please submit it?
Also if you can suggest any reviewers, i'd greatly appreciate it. if not we can post on twitter / discourse as well once you submit! many thanks for your patience. i got a bit behind over the holidays!!

[2020-02-07 19:50] lwasser commented on #18
Hi David!

For some reason I can’t seem to find this post but we are always looking for reviewers so please reach out to me if you have space to review another package! Moving pandas is under review currently and we do have 2 reviewers already. But we have a few other packages in the pipelines that will need reviewers.

[2020-02-08 14:23] anitagraser commented on #18
@lwasser I've removed the review badge for now (after reading the last pyOpenSci meeting notes). Concerning JOSS: I think it would still be worthwhile to publish in JOSS since the current main paper is in a very specific venue with a very different audience.

[2020-02-10 03:05] morganjwilliams commented on #17
Thanks @lwasser, I'm getting onto this now. It'll go into our internal publications system today, and should be able to be submitted shortly afterwards. I have an idea of one or two reviewers who might be interested, I'll ping them in the issue thread when I get the submission in.

[2020-02-10 16:14] jlpalomino commented on #18
@anitagraser thanks for checking in about this and for your action! We are now working on a PR to the dev guide (https://github.com/pyOpenSci/dev_guide/pull/42) to address the timing of when to add the badge as well as to include the badge information for when the package is accepted.

[2020-02-10 16:44] xmnlab commented on #18
@anitagraser about the "Development Installation" it explains how to prepare the environment but I didn't find the command line for install `movingpandas` in development mode, it could be, for example, `python setup.py develop` or `pip install --no-deps -e .` or if you want to just point to some nice documentation/tutorial that explains more about development mode  you can add just a link to that

[2020-02-10 18:39] anitagraser commented on #18
@xmnlab Thank you! I wasn't aware of this develop mode. That's what caused the confusion, since my dev setup so far is finished when the environment is ready.

[2020-02-15 22:25] canyon289 commented on #16
Hi,
I've reviewed the package and have two comments

For the author
1. Tests are failing in CI and some fail locally.  http://tests.obspy.org/109013/
2. I wasn't able to quickly find a usage tutorial of the "intro to obspy" sort in the README. The docs are quite extensive so I'm sure one exists somewhere but I wasn't able to find it. The README shows an output image, perhaps the code used to gener

[2020-02-16 11:58] anitagraser commented on #18
I've added usage examples to all user-facing functions except those that are self-explanatory (because they have either no parameters or have only simple parameters that are sufficiently described in the corresponding parameters section). I've also added direct links to the tutorials to https://movingpandas.readthedocs.io/en/latest/index.html

[2020-02-17 16:54] xmnlab commented on #18
@anitagraser it looks very nice!

related to your point about the methods self-explanatory, I would add examples for each function/method  including for these cases because:

1) if you want you can also integrate it with doctest (https://docs.python.org/3/library/doctest.html) in the future and it will help to test your docstring examples and
2) for some functions that return more complex data (li

[2020-02-17 19:18] xmnlab commented on #18
actually the editor for this submission is @jlpalomino. do you have any thoughts about this?

[2020-02-17 19:38] martinfleis commented on #18
If I may add my thoughts here, I would say that there should be a distinction in the pyOpenSci review process between what is considered _required_ change and what is a recommendation only. For example, I did not point out examples in docstrings as I did not feel it is a substantial issue. @xmnlab has a different approach, requiring complete examples ready for doctest.

This is a more general comm

[2020-02-17 20:34] xmnlab commented on #18
@martinfleis actually I am very curious about this too :) as the guideline says that `all facing-user function should have examples` (https://www.pyopensci.org/dev_guide/packaging/packaging_guide.html#Documentation) so using just tutorials for the examples is hard to check if all functions have an example inside. also from the user's perspective, If I want to see how to use a method, generally I w

[2020-02-17 20:52] martinfleis commented on #18
@xmnlab good point. I thank that after reading Good/Better/Best in this section I interpreted it as if it is covered in tutorial it is fine. But you are probably right.

[2020-02-17 20:56] anitagraser commented on #18
Thank you all for working on clarifying this! I mostly looked at previously accepted projects to guide my work. For example, Pandera has usage examples but not for all user-facing functions:  https://pandera.readthedocs.io/en/latest/API.html

[2020-02-17 21:20] jlpalomino commented on #18
@anitagraser @martinfleis @xmnlab This is a great discussion, and I want to encourage you to continue it.  I am interjecting here to say that I will discuss these comments further with @lwasser and get back to you with feedback from the editor perspective.

[2020-02-18 11:11] martinfleis commented on #18
When I started my review I tried to understand what pyOpenSci expects. Based on the review guide, I felt that it tries to be rather inclusive than strict. After reading various Good/Better/Best explanations, my understanding was following:

- The package does not have to be _perfect_. Various Good options are far from perfect (e.g. `Manually updated documentation as text files that ship with your

[2020-02-19 04:54] morganjwilliams opened #20 "pyrolite Submission"
Submitting Author: Name (@morganjwilliams)
Package Name: pyrolite
One-Line Description of Package: A set of tools for getting the most from your geochemical data.
Repository Link:  https://github.com/morganjwilliams/pyrolite
Version submitted:  0.2.5
Editor: @lwasser
Reviewer 1: @rbeucher
Reviewer 2: @charlesll
Archive: https://doi.org/10.5281/zenodo.3877690
Version accepted: v0.2.7

---

## Descr

[2020-02-20 00:31] jlpalomino commented on #18
Hi @anitagraser @martinfleis @xmnlab thanks for your patience in this process.

@lwasser and I have decided that this is a good topic of conversation during the next pyOpenSci meeting, which will occur next Fri 2/28/20 at 11am MDT ([details on discourse](https://pyopensci.discourse.group/t/our-next-community-call-is-fri-28-feb-2020-at-11am-mountain-time/158/2)). We invite you all to attend if you

[2020-02-20 00:33] jlpalomino commented on #18
We will also start a discourse discussion on this!

[2020-02-23 13:41] raoulcollenteur commented on #16
## Package Review
- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [X] **A statement of need** is provided.
- [X] **Installation instructions:** Good docum

[2020-02-25 10:33] megies commented on #16
Thanks for the feedback, I'll try to have a detailed look as soon as I can.. we're pushing for a major release right now, so might not be able to reply immediately.

[2020-02-26 11:06] megies commented on #16
Here's my reply to @canyon289, thanks for the helpful comments. I also left some remarks in the google docs, mainly about those failing tests in CI.

### 1

We quite often have tests failing which most times is due to the tests being so rigorous. I can make you a log of numpy floating point operation result differences at the 15th digit and their changes across platforms, architectures and numpy v

[2020-02-26 12:07] megies commented on #16
@raoulcollenteur, thanks for your review, here's my comments/replies:

 - @canyon289 also commented about the missing usage example in README, I added it to the README and also improved the "Getting started" in the wiki. I also added mention of www.seismo-live.org which has static preview notebooks as well as binder for interactive use of all the ObsPy training notebooks (and much more).
 - I don'

[2020-02-26 12:07] megies commented on #16
@lwasser responded to both reviews, let me know if you need more from my side

[2020-02-28 17:23] lwasser commented on #17
closing this given #20 thank you again @morganjwilliams !!

[2020-02-28 17:23] #17 closed

[2020-02-28 17:27] lwasser commented on #16
thank you @megies !! i'll look at this a bit more closely today!
one note - when we talk about vignettes we like to see them in the api docs but also something like this is always nice:

* [earthpy vignette gallery](https://earthpy.readthedocs.io/en/latest/gallery_vignettes/index.html)
* [geopandas vignette gallery](https://geopandas.readthedocs.io/en/latest/gallery/index.html)

It's becoming clea

[2020-02-28 17:39] lwasser commented on #16
also @canyon289  and @raoulcollenteur  can you kindly have a look at the comments above and let me know if you are satisfied with @megies  responses? i see that you guys did go back and forth in the google doc! i will copy that text over to this issue just so we have a record of it now (in case the doc gets lost in the future!).

[2020-02-28 17:40] lwasser commented on #16
### THIS IS THE GOOGLE DOC REVIEW TEMPLATE - from @canyon289 copying it here for records and safe keeping!! ###
Review Template

Checklist Legend
X - Complete and meets criteria
? - Not sure if criteria is met
Not Met - Criteria is not met
Not applicable - Not required for this review
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limi

[2020-02-28 19:08] lwasser commented on #18
hi @anitagraser @martinfleis @xmnlab i have added some language to the post based upon our meeting today. how much documentation is good enough? https://pyopensci.discourse.group/t/good-better-best-required-versus-recommended-changes-by-reviewers-your-feedback-is-requested/160/2 same link as the one jenny provided above but with a new post from our community call today. Do you guys have any though

[2020-02-29 19:10] canyon289 commented on #16
There's a couple of things that are still open.

1. Regarding the note below I still think developer installation can be easier. Instead of requiring a user to understand an error message to fix their install, would it be easier for newcomers if the instructions just included a note to install numpy?
![image](https://user-images.githubusercontent.com/7213793/75613516-81348400-5ae3-11ea-8fe2-db42b2

[2020-03-01 12:32] anitagraser commented on #18
Thank you for the update, @lwasser ! If I understand the intent of the discussion on discourse, having examples for all user-facing functions is not going to be a must.
Besides trying to find the best wording for the guidelines, how should we proceed on this review?
If I haven't missed anything, my work on the requested improvements is finished.

[2020-03-01 12:51] martinfleis commented on #18
@anitagraser what about JOSS submission? Is it happening in the end? If you want to submit to JOSS we’ll have to review the paper and tick couple of other boxes.

[2020-03-01 13:04] anitagraser commented on #18
@martinfleis Right! For JOSS, I'll still have to get a DOI.

I might bump the MovingPandas version to 0.3. (Movingpandas 0.2 works for geopandas 0.6.3. MovingPandas 0.3 works with GeoPandas 0.7)

The paper is in a dedicated brach for now: https://github.com/anitagraser/movingpandas/blob/joss-paper/paper.md

Is there anything else?

[2020-03-01 20:28] xmnlab commented on #19
I would be happy to help here as reviewer :)

[2020-03-02 21:14] martinfleis commented on #18
I've checked the paper and there does not seem to be any issue re JOSS requirements. Just few very minor notes.

- matplotlib reference is missing
- after MyBinder link is missing dot
- JOSS apparently makes a new line in the middle of `code`, which in some cases breaks movingpandas, geopandas,  and python words. See linked pdf - [paper.pdf](https://github.com/pyOpenSci/software-review/files/42779

[2020-03-03 08:11] raoulcollenteur commented on #16
Thanks for the comments on the review @megies, I think all the questions were answered well. Just the last thing I am not really sure about is the failing of CI tests (Travis fails: https://travis-ci.org/obspy/obspy). I agree with @canyon289 that this is rather confusing and could be fixed by allowing some tests to fail. I think many people use this to quickly evaluate a package for a) practical u

[2020-03-04 15:08] megies commented on #16
I did not see the problem with the developer installation instructions in the wiki, to be honest. It was advertising using Anaconda as the most straightforward solution, in which case the mentioned error is not encountered as numpy will be there. For people not following the recommendation, I would expect them to be experienced and I would deem "No module named numpy. Please install numpy first, i

[2020-03-04 15:42] megies commented on #16
@raoulcollenteur

You mean http://seismo-live.org/  is not working for you? Maybe a random network fail. The link should work

Looking at the earthpy vignette gallery @lwasser linked, actually this is pretty much what our gallery is? It also has a mosaic of plots that link to corresponding parts of the API pages.

---

I can see that [there is some argument](https://twitter.com/choldgraf/status/12

[2020-03-04 16:34] lwasser commented on #16
hey there @megies !! this is great insight - thank you for it.
Let me tell you first and foremost, things have been slow because i have had some medical and family issues and have pretty much been offline for 2 weeks and am now behind. MY APOLOGIES for that! i am trying to catch up now.

I don't want these issues to STOP this review process! what has been happening is that every review we learn so

[2020-03-04 18:02] canyon289 commented on #16
@megies
Thank you for updating the developer instructions! I feel that that point has been sufficiently addressed and I appreciate you sharing your thoughts as well.

@megies @lwasser and @choldgraf
About tests and independent of this review, I had similar experiences with flaky tests on ArviZ and the PyMC projects and ended up making some big changes to our testing pipeline to get over the hurdle

[2020-03-05 12:53] megies commented on #16
@lwasser no worries and I hope everything got sorted out :+1:

    **good enough (required)**: all user facing functions (inputs and outputs) are documented both in the code and in the user-facing documentation.
    **better**: all user facing functions are documented with examples (in tutorials or doc strings)
    **best**: all user facing functions are documented and there is are tutorials (vign

[2020-03-07 15:23] anitagraser commented on #18
@martinfleis Thank you for reviewing the paper! I have fixed the first two issues. I don't see how to affect the line break (third issue you mentioned) and found that it's also visible in recently published papers, such as https://joss.theoj.org/papers/10.21105/joss.02075

[2020-03-09 16:50] jlpalomino commented on #18
Hi @anitagraser, it is correct that based on the recent pyOpenSci guideline discussion, examples for all user-facing functions would not be considered a requirement under the OK/Better/Best framework. For the overall review, if the reviewers felt that the `OK` requirements have been met and recommend accepting the package, then a package could be accepted to pyOpenSci.

For everyone - we welcome a

[2020-03-09 17:18] xmnlab commented on #18
@jlpalomino I am updating my review today and I will expand my review for JOSS submission section.

[2020-03-10 13:12] pmeier opened #21 "Presubmission Inquiry: pystiche"
Submitting Author: Philip Meier (@pmeier)
Package Name: `pystiche`
One-Line Description of Package: Framework for Neural Style Transfer
Repository Link (if existing):  https://github.com/pmeier/pystiche

---

## Description

- Include a brief paragraph describing what your package does:

  `pystiche` is a framework for Neural Style Transfer (NST) algorithms based on [PyTorch](https://pytorch.org).

[2020-03-12 03:05] xmnlab commented on #18
@anitagraser thanks for having working hard on all the recommendations.

MovingPandas documenation looks very good. I just found some minor issues. Some methods' docstring don't have the parameter section:

MovingPandas.TrajectoryCollection:
- `TrajectoryCollection.add_speed` https://movingpandas.readthedocs.io/en/latest/trajectorycollection.html#movingpandas.TrajectoryCollection.add_speed

Moving

[2020-03-12 03:15] xmnlab commented on #18
Some suggestions related to docstrings (not required):
- Inside `Parameters` section, you can use `optional` and `default` information to add more details about the parameter, for example:

[code]
ref: https://numpydoc.readthedocs.io/en/latest/format.html
- When a parameter can only assume one of a fixed set of values, those values can be listed in braces, with the default appearing first, for exa

[2020-03-12 14:37] xmnlab commented on #18
JOSS Review section:

It looks very good! I just noticed a minor issue, also mentioned by  @martinfleis , related to some word break like GeoPandas, MovingPandas.

thanks for working on that @anitagraser , let me know if I can help in anyway.

[2020-03-14 15:28] anitagraser commented on #18
Thank you, @xmnlab! I've added the missing parameter sections: https://github.com/anitagraser/movingpandas/commit/b98b404238e6880f22c3d8743d45a1cbad1d3a34

[2020-03-14 15:56] anitagraser commented on #18
And a Zenodo DOI is set up [![DOI](https://zenodo.org/badge/161995245.svg)](https://zenodo.org/badge/latestdoi/161995245)

[2020-03-16 14:52] anitagraser commented on #18
v0.3rc1 has landed on conda-forge https://anaconda.org/conda-forge/movingpandas

[2020-03-16 15:37] xmnlab commented on #18
awesome! @anitagraser thanks for letting us know about the new release :)

Final approval (post-review)
- [x] The author has responded to my review and made changes to my satisfaction. I recommend approving this package.

Thanks @anitagraser for working on the recommendations and congrats for the hard work you are doing on MovingPandas!

[2020-03-16 15:46] jlpalomino commented on #18
Thank you @martinfleis and @xmnlab for your final reviews of MovingPandas.  We also really appreciate all of your feedback on the review process.

Great work @anitagraser!  Both reviewers have provided their final approvals for acceptance to pyOpenSci.  I will follow up with next steps shortly.  Thanks.

[2020-03-16 15:49] lwasser commented on #16
ok team. My apologies for being absent for the past few weeks. So many things have been happening. getting back to this and reading through everything again, it seems like the reviewers are generally happy with obspy now. I see that @megies did make the install a bit more clear! thank you. it looks great and i see numpy mentioned as a requirement.

So here we are left with two bigger issues --
1.

[2020-03-17 15:35] anitagraser commented on #18
Thank you for all you feedback @xmnlab, much appreciated!

[2020-03-17 22:07] rita-ni opened #22 "Submission: imgtoolpy (Python)"
Submitting Author: Ruidan Ni (@rita-ni)
Package Name:  imgtoolpy
One-Line Description of Package:  A Python package that is intended to allow users to compress, sharpen and shrink an input image
Repository Link:  https://github.com/UBC-MDS/imgtoolpy
Version submitted:   v0.3.0
Editor: Varada Kolhatkar (@kvarada)
Reviewer 1: Kenneth Foo (@kfoofw)
Reviewer 2: Gaurav Sinha (@sgauravm)
Archive: TBD
Ve

[2020-03-17 22:11] rita-ni commented on #22
Sorry wrong place

[2020-03-17 22:11] #22 closed

[2020-03-19 18:11] jlpalomino commented on #18
Hi @anitagraser you may have seen that I have followed up with @martinfleis to tie up loose ends related to two open issues from his review.

One item is for you is about versions. The last JOSS check for the editor is: `Version (JOSS only, may be post-review): Does the release version given match the GitHub release (v1.0.0)?`

It seems that there is a slight difference between the [GitHub version

[2020-03-19 18:40] anitagraser commented on #18
Thank you @jlpalomino!

Concerning versions: in my experience, it is common practice to increase the version in Github immediately after a release. Think of it as a necessary step for starting work on the next release.

[2020-03-19 19:59] martinfleis commented on #18
@jlpalomino I am happy with all changes. I thought I indicated it clearly above, but apparently not enough. There is nothing to be resolved from my side.

@anitagraser versions should be ideally in sync between GitHub, PyPI, conda-forge and zenodo.

[2020-03-19 20:52] anitagraser commented on #18
I've reverted the version number to rc1 https://github.com/anitagraser/movingpandas/commit/bba76fe9fbdc4a40a8f6aa8054046171c3b28190

[2020-03-19 20:56] jlpalomino commented on #18
Thanks @martinfleis for your prompt responses about those issues (for final documentation purposes) and for your response related to the versions.

@anitagraser thanks for your action on the version. I checked in with @lwasser about the version difference as well. We have typically followed the version sync suggested by @martinfleis, that the GitHub repository remains the same version and only cha

[2020-03-19 21:18] jlpalomino commented on #18
MovingPandas has been approved for pyOpenSci! Thanks @anitagraser for this submission and @martinfleis and @xmnlab for your detailed reviews!

@anitagraser Here are the next steps:
- [ ] Add the badge for pyOpenSci peer review, with the second link being the URL to this issue:
[![pyOpenSci](https://tinyurl.com/y22nb8up)](https://github.com/pyOpenSci/software-review/issues/18)
- [ ] Submit a PR to

[2020-03-19 21:32] jlpalomino commented on #18
Hi @arfon pyOpenSci has approved MovingPandas. @anitagraser is interested in JOSS publication, and the [draft paper](https://github.com/anitagraser/movingpandas/blob/joss-paper/paper.md) has been reviewed by the pyOpenSci reviewers.

@anitagraser has another [publication](https://www.austriaca.at/rootcollection?arp=0x003aba2b) that she feels demonstrates minimal overlap:
Graser, A. (2019). MovingP

[2020-03-20 12:31] arfon commented on #18
@anitagraser - feel free to open an issue on the [JOSS repository](https://github.com/openjournals/joss/issues) about this paper. On initial inspection I would say that JOSS would not accept a paper about MovingPandas as the [earlier publication](https://www.austriaca.at/rootcollection?arp=0x003aba2b) looks to be describing essentially the same software.

[2020-03-20 13:09] anitagraser commented on #18
Thank you for your feedback, @arfon!
As mentioned in https://github.com/pyOpenSci/software-review/issues/18#issuecomment-580630767, I wasn't sure if prior publications would be an obstacle. Graser (2019) describes the concepts underlying MovingPandas and presents an early unreleased version of the library. (The first release was published later in Sept 2019 https://pypi.org/project/movingpandas/#h

[2020-03-20 15:12] arfon commented on #18
@anitagraser - could you summarize the major changes between MovingPandas when Graser (2019) was submitted compared to how it is today?

We do allow for multiple papers for the same piece of software but would expect _at least_ a major release of the software to warrant an additional paper.

[2020-03-20 15:56] anitagraser commented on #18
@arfon Thank you for the clarification!

The key improvements since Graser (June 2019) are:

* New data structure
   * [TrajectoryCollection](https://github.com/anitagraser/movingpandas/blob/master/movingpandas/trajectory_collection.py) class: handles sets of Trajectories and enables convenient exploration and easier access to individual trajectories
* New functionality
   * [Plotting of Trajector

[2020-03-26 16:57] mluerig opened #23 "Phenopype: a phenotyping pipeline for Python"
Submitting Author: Name (@mluerig)
Package Name: Phenopype
One-Line Description of Package: a phenotyping pipeline for Python
Repository Link (if existing):  https://github.com/mluerig/phenopype

---

## Description

Phenopype is a high throughput phenotyping pipeline for Python that aims at supporting biologists in their efforts to extract high dimensional phenotypic data from digital images. Phe

[2020-03-26 20:40] lwasser commented on #21
hi @pmeier thank you for the submission and my apologies for the slow response. I will get back to this submission shortly after have a few others have a look! I appreciate your patience!

[2020-03-26 20:41] lwasser commented on #20
hi @morganjwilliams just a note that i have this review on my radar and will get going with finding an editor and reviewers shortly. Everything has slowed down a lot in the past month with the current events. Thank you for your patience!

[2020-03-26 20:41] lwasser commented on #23
hi @mluerig ! welcome to pyopensci and thank you for your submission! I will get back to you with comments in the next week or so. Thank you for your patience!!

[2020-03-26 21:46] lwasser commented on #22
hi @rita-ni no worries!! welcome to pyopensci :)

[2020-03-26 21:46] lwasser commented on #22
Just double checking. did you not mean to submit to us for review? it is the correct place to submit but perhaps you had other intentions!!

[2020-03-27 03:38] morganjwilliams commented on #20
Thanks @lwasser, I hope you're faring well! I've asked one potential reviewer, and will tag them here shortly if they're interested.

[2020-03-31 17:18] anitagraser commented on #18
@arfon Do you suggest moving this over to the JOSS repository?

[2020-03-31 21:29] lwasser commented on #18
This is interesting because we need to define what is a major improvement. It seems to me that infrastructure improvements are excellent but they wouldn't warrant a new publication. Releases on pypi and conda forge, etc would not warrant a new publication nor would docs altho we do want to encourage docs for all packages in the review!!

so the question becomes is the plotting and aggregation func

[2020-04-01 00:39] arfon commented on #18
Hi @anitagraser and @lwasser, apologies for the slow reply here. @anitagraser - thanks for documenting the changes that you've made to this package since the last paper was published.

After giving this some thought, I don't think we would accept this as a JOSS submission. Partly because of the reason that @lwasser mentions (infrastructure improvements are obviously useful/important but not actual

[2020-04-02 07:46] anitagraser commented on #18
@arfon Thank you for the clarification!

[2020-04-05 17:06] canyon289 commented on #16
@lwasser Apologies on my late reply

That list looks good. The one other thing I would add is whether the master branch of CI should be failing or not. Basically should there be a green badge for CI on the README or not.

[2020-04-07 01:43] morganjwilliams commented on #20
Hi @lwasser, just a quick update - @charlesll has indicated he's interesting in reviewing this.

[2020-04-07 13:24] pmeier commented on #21
@lwasser I know this are difficult times right now, but could you give me an approximate timeline so I can plan around it?

[2020-04-07 14:26] lwasser commented on #20
oh wonderful! thank ou @morganjwilliams let me put a ping out on twitter for a second reviewer while we wait for @charlesll to respond! thank you

[2020-04-07 14:53] lwasser commented on #23
hey @mluerig can you provide a bit more explanation about the exact functionality that phenotype provides? i was a bit unclear after looking at the docs! many thanks!

[2020-04-07 15:23] lwasser commented on #21
hey @pmeier thank you for the checkin. Right now i'm trying to figure out whether we can review this package. I plan to bring this up at our meeting on thursday (which you are welcome to attend!) but we just need to ensure we can find reviewers for this package that know enough about deep learning to provide sound insight into the package functionality. Do you know of anyone that may be able to re

[2020-04-07 15:25] lwasser commented on #19
hey @nickledave and @xmnlab i know there is a lot going on. i just wanted to check in on this review to see how you guys were doing.  I am very behind and know that ropensci is stopping new submissions for atleast a month. are you guys still able to review this package or should we take a step back?

Many thanks.

[2020-04-07 15:31] lwasser commented on #18
@arfon  thank you . we understand. and we'd be happy to participate in a discussion surrounding what defines a major improvement. It will make things simpler for future reviews as we can provide that information to the maintainer at the beginning if they are interested in JOSS as well!

@anitagraser i think we can close this issue. Are you interested / do you have the time to write a  blog post -

[2020-04-07 15:50] mluerig commented on #23
I guess the documentation is still a bit confusing. In short phenopype aims at providing a comprehensive and easy-to-use high throughput image analysis workflow using classic computer vision (no machine learning - yet). It aims at ecologists and evolutionary biologists that want to quickly analyze images of organisms and extract phenotypic data.

The provided functions span image data set manageme

[2020-04-07 15:54] pmeier commented on #21
I'll try to attend and answer possible questions from the team. If I don't make it feel free to ask them here.

I'll ask around and get back to you on this.

[2020-04-07 16:56] lwasser commented on #23
thank you @mluerig !! i will get back to you. The challenge I am facing right now is just ensuring that we at pyopensci have reviewers who can effectively review packages that are on the analytics side of things! if you were to submit this, can you think of 2 people who would have the skills required to review? i also can ask around on twitter but to be transparent, we are trying to decide what pa

[2020-04-07 16:57] lwasser commented on #21
Thank you @pmeier i have some more space now to work on this so i'll prioritize getting you a decision this week. Thank you for your patience. These times are tricky and many of us have found ourselves (myself included) behind on work tasks.

[2020-04-07 17:09] mluerig commented on #23
yupp I have a few people in mind. should I contact them and then get back to you here, or how should we do this?

[2020-04-07 17:17] xmnlab commented on #19
I can work on that. I will start that this week.

[2020-04-07 18:47] NickleDave commented on #19
Same here, I think I can finish by next weekend at the latest.

[2020-04-07 19:01] lwasser commented on #23
thank you @mluerig give me a little bit of time.
What i'm trying to sess out is how analytics focused this package is.
The steps will be
1. you submit a full submission rather than a pre submission as this one is! i will ask you to do this if i can get a bit more info from our team.
2. I will then ask you about suggesting reviewers and we will ping them here.

we have a meeting coming up on thursd

[2020-04-07 19:07] lwasser commented on #19
Thank you so much @xmnlab and @NickleDave !! much appreciated.

[2020-04-07 19:13] lwasser commented on #19
ok let's shoot for both reviews in by **Wed April 15th** just in case you guys need a bit more time!! and reach out please if you need anything.

[2020-04-07 19:19] pmeier commented on #21
It was not at all my intention to rush anything. My only goal was to get an estimate when I can expect a decision. "In a month" would have been fine, although I of course prefer "at the end of the week".

[2020-04-07 19:53] lwasser commented on #21
@pmeier i completely understand! :) i just am recognizing how behind i am. i don't feel pressured by you one bit! I normally would have given you a time frame, up front!  I hope to get back to you after our thursday meeting! I am waiting on feedback from the ropensci folks as well on how they handle ML / Deep learning types of submission.  Thank you again for being so quick to respond AND patient

[2020-04-07 22:31] mluerig commented on #23
okay no problem it can wait. I'm also happy to join the meeting if it helps sorting things out (my email is [here](https://www.eawag.ch/en/aboutus/portrait/organisation/staff/profile/moritz-luerig/show/))

[2020-04-08 09:39] rbeucher commented on #20
Happy to help if you are still looking for a reviewer

[2020-04-08 14:30] charlesll commented on #20
Hi, I can review this package. Let me know what is the protocol. Thanks!

[2020-04-08 16:32] lwasser commented on #20
oh awesome!! thank you @rbeucher  and @charlesll  !! i'll add you as reviewers. so here is how it goes

The [review guidelines can be found here](https://www.pyopensci.org/dev_guide/peer_review/reviewer_guide.html). read them over. I need to update that document to contain more recieve pyopensci reviews. when we started we only had ropensci as a model.

When you have completed your review - use th

[2020-04-08 17:13] jlpalomino commented on #18
@martinfleis We noticed that you are not listed on our contributors page. When you get a chance, can you please submit a PR to `pyopensci.github.io` to add yourself as a [contributor](https://github.com/pyOpenSci/pyopensci.github.io/blob/master/_data/contributors.yml) using:
[code]

[2020-04-08 17:14] jlpalomino commented on #18
Thanks everyone!  I am officially closing this issue.

@anitagraser feel free to reach out about a blog post on MovingPandas if you are interested!

[2020-04-08 17:14] #18 closed

[2020-04-08 17:26] lwasser commented on #18
yea!! great work everyone getting another package through review!!

[2020-04-08 21:16] rbeucher commented on #20
Thanks @lwasser ,

[2020-04-09 05:49] mluerig commented on #23
just let me know how I can join, then I'll try to make it (I'll be in the mountains all day)

[2020-04-09 16:06] lwasser commented on #23
https://pyopensci.discourse.group/t/april-9-community-meeting/169 if you login to our discourse (you can use your github login!) you will have the meeting information. sorry this took me a bit of time to get to -- was struggling with how to avoid being "bombed" online in a meeting!!

[2020-04-09 17:08] lwasser commented on #23
great @mluerig please go ahead and submit an actual submission and we will get this in our review queu

[2020-04-09 17:43] lwasser commented on #21
We will accept this for review but will need to find reviewers with domain knowledge to asses s the "correctness" of implementation of algorithms in this package! we likely have a few weeks to do this.

[2020-04-09 20:23] NickleDave commented on #21
Hey @pmeier just wanted to echo @lwasser and say thank you for joining us for to the meeting today.

And ask you:
Do you know this review on NST?
https://arxiv.org/abs/1705.04058
https://ieeexplore.ieee.org/abstract/document/8732370
I remembered finding it before during a lit review.

The intro does a good job of emphasizing that computer vision has been working on style transfer long before peopl

[2020-04-09 20:33] pmeier commented on #21
Yes, I'm well aware of that work. The first draft came out around the time I started working on NST and this was a great help to me.

Sure. I wasn't aware you want to check out the project this soon ;)

Define established for me. If you mean by established that there is a lot of research going on, I totally agree with you. But if you mean, by established that the field is already mature, I have to

[2020-04-13 14:53] pmeier commented on #21
Hey @lwasser and @NickleDave

I hope I can discuss the overall structure of my project with you before I start the actual submission. Depending on the structure the testing and documentation effort and thus the time up to the submission will change significantly.

### TL,DR

I have three main components:

1. the framework that enables an easy implementation of NST algorithms,
2. the reference impl

[2020-04-16 00:02] NickleDave commented on #19
Hi @Roel @stijnvanhoey @pjhaest thank you for your patience. Please find below my review:

## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in

[2020-04-16 04:39] xmnlab commented on #19
hey everyone, I couldn't finish my review today. I will finish that tomorrow. sorry for the delay.

[2020-04-16 17:41] xmnlab commented on #19
@Roel, @stijnvanhoey, @pjhaest, thanks for your patience. pydov looks awesome, I am adding my review notes below:

## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are un

[2020-04-18 01:28] NickleDave commented on #21
Hey @pmeier I agree with you that it makes sense to split them to more clearly define the scope of the projects, and be able to submit a replication and a framework to appropriate venues.

For an example from outside deep learning world, see this Repro-pack from Barba group:
https://pyopensci.discourse.group/t/real-world-repo-packs-looking-for-examples/151/5?u=nickledave
The key finding of the pap

[2020-04-18 08:38] pmeier commented on #21
Thanks for your input @NickleDave. I think I will move forward with the splitting it then.

---

Actually that is already implemented as you proposed: the core components of `pystiche` are the [`pystiche.ops.Operator`s](https://github.com/pmeier/pystiche/blob/94e34b5521d81afe8d0b3515f1f8bf1a6719c903/pystiche/ops/op.py#L24). Although usually the papers introduce only single new `Operator` the NST a

[2020-04-18 13:33] NickleDave commented on #21
I see, thank you for helping me understand the code better--clearly I haven't read through it all yet.

Yes, the abstractions you pointed me to are exactly what I had in mind, and I think further illustrate the generality of the framework.

If you're going to split out the replications, not sure you want/need of my input on them, and maybe it's just a question of style, but: to me, naming a functi

[2020-04-18 13:58] pmeier commented on #21
I think this a valid point. I will change that after the split.

Quite the opposite: if I would mind constructive criticism I shouldn't submit it to pyOpenSci (and work as a scientist in general IMO). If it is a matter of choice I can always put it on hold or reject your proposal and go with mine instead. But I think usually it will be the other way around: you look at this a user and with that di

[2020-04-18 14:29] NickleDave commented on #21
lol ok you asked for it

looking forward to reviewing more as we go forward

[2020-04-18 15:29] mluerig commented on #23
@lwasser Phenopype is almost in ok shape to be reviewed. However, one module (video-analysis, which is an extension of the core image analysis kit) is still not working great and I would like to spend a few more weeks with it. It's an important, but code-wise, peripheral feature. Would you agree to a review of the program as it is now (linux builds passing, 70% coverage, all docstrings are there,

[2020-04-18 15:56] Roel commented on #19
Hi @NickleDave @xmnlab

Thank you for taking the time to review our package so thouroughly during these strange times.

All the points you raised are valid and I have made issues for them in our Github project so we can track progress there as we work ourselves through them. We plan to have a two-day codesprint somewhere in May, and I'm confident we can tackle most of the issues then.

@NickleDave

[2020-04-20 16:23] lwasser commented on #23
@mluerig we prefer that you get the package in full working order PRIOR to submitting it for a review. So let's leave this presubmission open for the time being. Please ping me when all of the code is in a state that you think is acceptable for review. Thank you for checking in  / asking about this!

[2020-04-20 16:30] mluerig commented on #23
ok I'll finish it up before then.

one more thing about CI: I recently started using travis CI with my program, and I discovered i) that travis doesn't support python builds for windows and macOS, and ii) testing some of the functions is tricky because they open up a GUI requiring user interaction.

I can't change i), and I tried to mimic as much user input for ii) as possible, but ultimately, I w

[2020-04-20 16:33] lwasser commented on #21
hey @pmeier  and @NickleDave i'm just catching up after a week offline. I totally agree with Dave's suggestions to split things out as it makes sense to have the more generalizable items in a package that pyopensci and joss supports and the research (re)implementations  separate.

[2020-04-20 16:38] lwasser commented on #19
hi @Roel @xmnlab @NickleDave  thank you all for your work on this review! @Roel if and when you have time, can you kindly reference this issue in your issues / pr's as you work through them? this will make it easier to circle back on the review in may or june (or whatever timing works for you) to ensure things have been resolved!! Many thanks all.

[2020-04-20 16:43] lwasser commented on #23
hi @mluerig these are both good questions
re travis. there are a few options. I believe in our [cookiecutter example](https://github.com/pyOpenSci/cookiecutter-pyopensci) we have an example implementation for appveyor  which runs windows. circleci also has windows options now (i haven't tried it yet!). But there are several windows options available. we've been using appveyor for our packages.

Re

[2020-04-20 16:51] mluerig commented on #23
@lwasser ah I didn't know about appveyor - I'll check it out

yeah I have been monkeypatching keyboard-input using the mock package, that works great. but clicking into an image is something else. I think I could get GUI functions working on CI by supplying some default coordinates and timers, but this would require a special testing interface for some of the functions, which I would implement as

[2020-04-20 17:59] lwasser commented on #23
@mluerig yes appveyor works pretty well!

i can totally get how clicking on an image would be difficult to recreate. let me do a bit of digging and i'll get back to you! specifically what is the user input providing? aoi regions of the image to analyze or training data or something to that effect?

[2020-04-20 18:03] mluerig commented on #23
yupp sometimes a mask needs to be selected to detect blobs within or a reference card measured to for automatic detection. it's not unimportant, but again, if we don't find anything I'll build an appropriate testing interface

[2020-04-29 06:00] rbeucher commented on #20
Hi, please find my review below:

## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting y

[2020-04-29 06:48] morganjwilliams commented on #20
@rbeucher thanks for your effort in this review and highlighting a few issues! I'll put out a new release shortly (it will be 0.2.6, incorporating changes currently listed in the [changelog 'Development' section](https://pyrolite.readthedocs.io/en/develop/dev/changelog.html#development)) with the majority of these issues addressed and an updated README, and make a note here when it's available.

I

[2020-04-30 15:37] charlesll commented on #20
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2020-05-01 06:39] morganjwilliams commented on #20
Thanks @charlesll! I'll put together a to-do list of things to update and add a note here when 0.2.6 is out, as mentioned above. I've added two issues to address some of your later comments ([#41](https://github.com/morganjwilliams/pyrolite/issues/41) & [#42](https://github.com/morganjwilliams/pyrolite/issues/42)).

On the MELTS front, there's an incomplete wrapper for the alphaMELTS executable at

[2020-05-04 16:51] mluerig opened #24 "Phenopype: a phenotyping pipeline for Python"
Submitting Author: Name (@mluerig)
Package Name: phenopype
One-Line Description of Package: a phenotyping pipeline for Python
Repository Link:  https://github.com/mluerig/phenopype
Version submitted:  1.0.5
Editor: @jbencook
Reviewer 1: @agporto
Reviewer 2: @sdonoughe
Archive: TBD
Version accepted: 2.0.1

Edit: Bumped from 1.0.4 to 1.0.5 since submission.

---

## Description

Phenopype is a high

[2020-05-04 16:52] mluerig commented on #23
closing - actual submission here: https://github.com/pyOpenSci/software-review/issues/24

@lwasser let me know if you would like to receive my suggestions for reviewers

[2020-05-04 16:52] #23 closed

[2020-05-05 12:30] charlesll commented on #20
@morganjwilliams  for the README, just add a short version that will be understandable by people already used to Python / coding. But I think it is necessary as those people usually search on Github, and the README is the first thin that appears.

Regarding Matplotlib, all seems fine for now, my comment was mosty to invite you to keep it that way. For instance, I like mpltern because it is a very

[2020-05-06 02:41] morganjwilliams commented on #20
@charlesll no worries, can do. I feel the struggle about vis libraries, although I've thought about adding an interactive plotting backend option for pyrolite via e.g. [hvplot](https://hvplot.holoviz.org/index.html) (but that's one for the future, and I need to look at feasibility more).  Expect 0.2.6 to be out at the end of the week.

[2020-05-09 08:38] pmeier commented on #21
@lwasser @NickleDave

I've found two reviewers for technical side of `pystiche`. Should I tag them so that you can assign them as reviewers as soon as I submit?

On that matter: am I allowed to work on `pystiche` while it is being reviewed? If yes, at what point should I start the submission? Imagine that I'm 60% finished with the documentation. Can I simply submit and add the remaining 40% while

[2020-05-11 04:49] morganjwilliams commented on #20
I've now released pyrolite v0.2.6, with an updated and expanded README, a few new features and some bugfixes (see [changelog](https://pyrolite.readthedocs.io/en/develop/dev/changelog.html#id1)).

This release addresses two of the potential upgrades suggested by @charlesll ([pyrolite#41](https://github.com/morganjwilliams/pyrolite/issues/41) and [pyrolite#42](https://github.com/morganjwilliams/pyro

[2020-05-11 15:35] lwasser commented on #21
@pmeier thank you for finding reviewers. You should fully complete all intended work on pystiche prior to submitting it for full review.

[2020-05-11 15:45] pmeier commented on #21
@lwasser

So, should I introduce them here?

[2020-05-11 16:02] lwasser commented on #21
@pmeier i am so appreciative that you found reviewers!
let's do this
1. please finish up all work on pystiche
2. Then submit a full review issue. IN that issue please ping the 2 reviewers there AND myself and @NickleDave who will you the editor for this submission.

Does that work for you? i think that will be the most efficient. We close a presubmission issue once you have submitted a full review

[2020-05-18 08:11] mluerig commented on #24
@lwasser could you let me know whether I should contact some potential reviewers, so whenever you are ready to initiate the review process they are ready as well? thanks

[2020-05-18 16:16] lwasser commented on #24
@mluerig my apologies - in my mind i was waiting for work on this package. let me see if i can find a guest editor for this one so I don't hold things up.  i'll get back to you this week so we can kick off the review process!!

[2020-05-18 16:37] mluerig commented on #24
Ok great! In any case, Seth Donoughe (@sdonoughe) and Arthur Porto (@agporto) could be potential reviewers without conflict of interest. I have not yet contacted them.

[2020-05-18 17:46] lwasser commented on #24
awesome. thank you @mluerig !!! if i don't hear back on twitter i'll reach out to some folks directly.

[2020-05-19 14:56] lwasser commented on #24
ok @mluerig i found another person who might be interested as well. @sdonoughe and @agporto are you still interested in reviewing this package? please let me know... i'm still looking for someone to serve as a guest editor. I also have a ping from Ben Cook who i don't have a github handle for yet who may be available for review or editor role!!  All -- please let me know if you are available!! i w

[2020-05-19 14:56] jbencook commented on #24
Hey All! I'm new here, but I'm available to review if it's helpful. I lead the Applied Machine Learning team at Hudl where we build computer vision services for sports video. I have some background in scientific computing and I'd love to help if I can.

[2020-05-19 15:01] jbencook commented on #24
I'm also happy to serve as editor instead if that's where the need is

[2020-05-19 15:07] lwasser commented on #24
@jbencook ok awesome!! Let's see if our other two colleagues respond!! I can absolutely walk you through serving as an editor. thank you again for being so responsive and willing to help! and welcome to pyopensci!!

[2020-05-19 17:18] agporto commented on #24
Hi everyone. I am happy to review the package. Count me in

[2020-05-19 18:16] lwasser commented on #24
perfect. thank you @agporto ! i'll followup with instructions once.i see if we have a third person or not!! :) so appreciative of you all being willing to work with pyopensci!!

[2020-05-19 18:32] sdonoughe commented on #24
I don't have experience reviewing packages, but I fall squarely into the
intended audience/user-set for the package, so I am happy to participate.

On Tue, May 19, 2020 at 2:16 PM Leah Wasser <notifications@github.com>
wrote:

[2020-05-19 20:09] lwasser commented on #24
👋 there @sdonoughe sure... tell me a bit more. do you have enough programming background that you feel comfortable reviewing with another person as a team? You could also test out the functionality and documentation whereas @agporto could focus on the code / back end. please just let me know what works best for you and if you have questions you can also email me directly at leah.wasser@colorado.ed

[2020-05-22 21:49] lwasser commented on #19
👋 all!! just checking in here... it looks like there are a bunch of issues and such being worked through still so that is totally cool. if anyone has questions please say the word... otherwise i'll just wait to see things closed up and then will check in again to see whether the reviewers are satisfied!! i'll be offline next week so i won't be responsive until june 1! Stay healthy everyone :)

[2020-05-22 21:54] lwasser commented on #20
👋 everyone!! checking in on this review. it sounds like @morganjwilliams has implemented a new release. @charlesll  @rbeucher are you satisfied with the fixes as implemented? is there anything else that we need to check or do to finish up this review. thank you all!
just a note that i'll be out of the office until june 1. so i will be unresponsive next week but plan to check back in on June 1 to s

[2020-05-22 22:01] rbeucher commented on #20
Hi @lwasser .

All good I think.
I had a look a the paper. It is ready for JOSS.

[2020-05-22 22:02] lwasser commented on #24
ok everyone... i think we are in good shape here. @jbencook if you are still open to serving as a guest editor, that would be great. I will be out next week. While i am out, @jlpalomino has agreed to answer any questions that you have about the review process. We just updated our [contributing guide](https://www.pyopensci.org/contributing-guide/intro.html) so i'm hoping better instructions will be

[2020-05-22 22:04] lwasser commented on #20
awesome thank you for the speedy reply @rbeucher let's see if @charlesll is online as well. i can then ping JOSS here and we can move this through their process!!

[2020-05-22 22:26] jlpalomino commented on #24
Thanks @lwasser for providing @jbencook with the next steps. Happy to answer any questions about the editor process, so feel free to reach out!

While we wait for the updates to the guideline docs to render, we can see the [latest version here](https://github.com/pyOpenSci/contributing-guide/blob/master/open-source-software-submissions/editors-guide.md).

[2020-05-23 17:45] jbencook commented on #24
## Editor checks:

- [ ] **Fit**: The package meets criteria for [fit](https://pyopensci.github.io/dev_guide/peer_review/aims-and-scope.html#package-categories) and [overlap](https://pyopensci.github.io/dev_guide/peer_review/aims-and-scope.html#package-categories).
- [ ] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [ ] **License:** The packa

[2020-05-23 17:53] jbencook commented on #24
Thanks @lwasser and good to meet you @jlpalomino!

I just added the editor checks. @agporto and @sdonoughe does 19 June work for the review deadline? I'll start watching the repo and work on my checks.

Also, @mluerig I noticed the repo has an [LGPL license](https://github.com/mluerig/phenopype/blob/895d243b6b119f67d96baee6df5d3cd019c02984/LICENSE.txt), but the README says [MIT](https://github.com

[2020-05-24 15:27] mluerig commented on #24
@lwasser @jbencook @jlpalomino yupp correct I am NOT planning to submit to JOSS, but to Methods in Ecology and Evolution. The manuscript is already written and can be made available to anyone involved in the review process, if that is needed and helpful

[2020-05-24 15:28] mluerig commented on #24
@jbencook I changed it to LGPL in the readme

[2020-05-24 15:59] Roel commented on #19
Hi @lwasser ! Our code sprint is planned for next week (May 28-29), so I hope to make some progress in the issues then. I assume we should be able to pick up the review somewhere in June :)

Thanks for your patience, enjoy your week offline and stay healthy!

[2020-05-25 02:47] morganjwilliams commented on #20
@lwasser Yes, still interested in submitting this to JOSS. Please forward this on once @charlesll has a chance to respond to confirm that he's also had a look at the paper.md and the issues raised above have been addressed.

[2020-06-03 19:25] lwasser commented on #19
@Roel sounds great! just ping us here when you are ready to pick back up. i know this all takes a lot of time so take the time that you need!

[2020-06-03 19:35] lwasser commented on #20
hi there @charlesll just checkin in again. are you happy with the review as is as this point? i'd like to ping joss to get the JOSS review started. we are really close to wrapping this up so please respond if you see this ping!

[2020-06-03 19:46] lwasser commented on #24
hi all!! @jbencook just a note that i have slowed the process down here as we are looking for someone to support the second review. With pyopensci we want to mentor folks through reviews if it is their first. i however was out last week and i hadn't found someone prior to being out. So i'm on the hunt again and we will get back to you with a timeline for the second review! if you know of any peopl

[2020-06-04 07:10] charlesll commented on #20
@lwasser sorry for the delay, yes i'm happy with the new version and the paper.md.

[2020-06-04 19:55] lwasser commented on #24
Update: I have found a person to support the second review and it looks like the second review can be done next week! we are in good shape still - cheers all! :)

[2020-06-05 03:49] morganjwilliams commented on #20
I'll also add my thanks to @rbeucher and @charlesll for your effort reviewing, and @lwasser for keeping things moving! It's been a trying year for most, and I appreciate the time you've spent on this review (and helping to improve pyrolite in the process!), especially given all that's been happening.

@lwasser yes, that's the version with changes as requested from the reviews. I converted the gith

[2020-06-05 14:57] lwasser commented on #20
thank you @morganjwilliams ! feel free to fork the repo and submit a pr to the master branch. I can test it locally prior to merging. One single PR is just fine! Thank you for asking!!

Congratulations on being accepted by pyOpenSci!! All we need now is the next steps from @arfon  on the JOSS side of things but for pyOpenSci this review is complete. i'll keep the PR open until it runs its way thro

[2020-06-07 10:53] arfon commented on #20
Yes, this sounds like a good list. Please go ahead and submit this to JOSS and mention that it's a pyOpenSci submission on the form.

This is fine - we can also just have pyOpenSci authors submit without this heads-up directly to me. Submissions from rOpenSci usually just mention this on the form and we act accordingly (authors also usually mention this when the JOSS pre-review issue is opened).

[2020-06-08 15:00] lwasser commented on #20
ok perfect. thank you @arfon i'll add this to our documentation for editors that we can give instructions for folks o submit directly to JOSS and mention that the review happened here already and the package was accepted. Many thanks. So @morganjwilliams please go ahead and submit to JOSS. In your submission, please mention that this went through and was approved by the pyopensci review process. y

[2020-06-09 13:13] lwasser commented on #20
🎆 this was accepted by JOSS. thank you again @arfon !! i'll go ahead and close this issue.
 @rbeucher and @charlesll are you comfortable with my adding you to the pyopensci website as reviewers? it will show your github use profile picture, name the the package you reviewed.

see: https://www.pyopensci.org/contributors/

[2020-06-09 13:13] #20 closed

[2020-06-09 18:58] charlesll commented on #20
Yes, no problem, feel free to do this!

Le mar. 9 juin 2020 à 15:13, Leah Wasser <notifications@github.com> a
écrit :

[2020-06-10 02:47] morganjwilliams commented on #20
@lwasser just a quick note that the pyOpenSci --> JOSS process was very straightforward and speedy. The info on the website and in the submission/review templates made sure we had everything ready for JOSS when we initially submitted to pyOpenSci.

If you frequently have submissions which would also like to submit to JOSS, consider templating a short paragraph to add to the 'notes to editor' secti

[2020-06-16 12:50] jbencook commented on #24
I've completed the editor checks - I think now we're just waiting on the reviews. How are things coming @agporto and @sdonoughe? Any questions so far?

[2020-06-16 16:47] agporto commented on #24
I have started working on it but still have a lot of ground to cover.

[2020-06-19 21:24] agporto commented on #24
Hi everyone. I am going to need a few more days to finish the review (I expect Tuesday next week). I apologize for the delay. The source code of the package is more extensive than I initially thought.

[2020-06-19 21:49] sdonoughe commented on #24
Hi folks, I've also been delayed, but aiming to conclude by the end of next
week.

On Fri, Jun 19, 2020 at 4:24 PM Arthur Porto <notifications@github.com>
wrote:

[2020-06-26 08:25] agporto commented on #24
## Package Review

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work

#### Documentation

The package includes all the following forms of documentation:

- [X] **A statement of need** clearly stating problems the software is designed to solve and its target audience in README
- [X] **Installation instructions:** for the development version of packag

[2020-07-01 10:58] sdonoughe commented on #24
Hi again, the document and tutorial materials are extensive and impressive! As such it's taken me longer than anticipated to review all of the components. Will conclude soon.

[2020-07-01 11:55] mluerig commented on #24
Hi all. I just realized that I probably should have provided this information at the beginning to make your lives a little easier: I wont be working for the next couple of weeks because of a long planned vacation. it's not yet clear for how long, but probably until early August. Sorry about not communicating my timeline earlier, I hope this is ok for everyone.

[2020-07-02 12:57] pmeier opened #25 "pystiche: A Framework for Neural Style Transfer"
Submitting Author: Philip Meier @pmeier
Package Name: `pystiche`
One-Line Description of Package: Framework for Neural Style Transfer (NST) built upon PyTorch
Repository Link:  https://github.com/pmeier/pystiche
Version submitted: [`pystiche==0.5.0`](https://github.com/pmeier/pystiche/tree/v0.5.0)
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

## Description

[2020-07-02 13:00] pmeier commented on #25
Some addtional remarks:

- I'm currently battling with [Zenodo](https://help.zenodo.org/) since the webhook did not work when I created the `v0.5.0` release. To make matters worse the manual upload is also not working for. I'll work this out soon.
- As discussed in https://github.com/pyOpenSci/software-review/issues/21#issuecomment-626795429 (@lwasser, @NickleDave) I've found two reviewers for the

[2020-07-02 13:01] pmeier commented on #21
Submission in #25.

[2020-07-02 13:01] #21 closed

[2020-07-15 02:35] NickleDave commented on #25
Hi @pmeier thank you for submitting and finding reviewers!
And thank you for your patience -- I should have replied sooner.

@edgarriba and @soumith welcome!
It seems like Philip has definitely brought people with the right expertise to review the package.

[2020-07-15 02:37] NickleDave commented on #25
@lwasser here are my editor checks:

## Editor checks:

- [x] **Fit**: The package meets criteria for [fit](https://pyopensci.github.io/dev_guide/peer_review/aims-and-scope.html#package-categories) and [overlap](https://pyopensci.github.io/dev_guide/peer_review/aims-and-scope.html#package-categories).
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI

[2020-07-15 02:44] NickleDave commented on #25
## Editor comments

@lwasser I will follow up this weekend with editor comments

---

Reviewers: @edgarriba @soumith
Due date:

@edgarriba @soumith typically we ask for 2-3 week turnaround for reviews.
Although we should see if we can get editors to meet that standard first (I'm sorry @pmeier -- thank you again for your patience!). And I know everything is extra crazy for everyone right now.

Can

[2020-07-15 10:07] edgarriba commented on #25
@NickleDave no prob from my side. Let's just put a deadline :)

[2020-07-15 14:33] NickleDave commented on #25
Excellent, thank you @edgarriba. Makes sense
Setting the due date for Aug 5 -- cc @soumith @pmeier @lwasser

[2020-07-15 14:45] lwasser commented on #25
thank you so much @NickleDave et all!!

[2020-07-15 15:31] pmeier commented on #25
@NickleDave

Note that we probably need a third reviewer since, to my knowledge, both, @edgarriba and @soumith, have no domain knowledge about Neural Style Transfer (NST). Shall I assist the search?

[2020-07-15 22:31] snacktavish opened #26 "Physcraper: Automated phylogenetic updating"
Submitting Author: Emily Jane McTavish @snacktavish
Package Name: Physcraper
One-Line Description of Package: Automated phylogenetic updating
Repository Link:  https://github.com/McTavishLab/physcraper
Version submitted:   v0.55
Editor: @NickleDave
Reviewer 1: @bpucker
Reviewer 2: @leomrtns
Archive: https://zenodo.org/record/5512990
Version accepted: 1.0

---

## Description

- Include a brief par

[2020-07-16 02:51] NickleDave commented on #25
Thank you for making that clear; I agree that it would be good to have someone with domain expertise.

It would be great if you can assist with the search. I can also search starting this weekend.

[2020-07-20 07:48] pmeier commented on #25
@edgarriba, @soumith

I just saw that AppVeyor Badge for `v0.5.0` is not working properly:

[![Test status on Windows via AppVeyor](https://img.shields.io/appveyor/build/pmeier/pystiche?label=Windows&logo=AppVeyor)](https://ci.appveyor.com/project/pmeier/pystiche)

This is due to the fact that I switched to GitHub Actions for the current `master`, and AppVeyor kept failing since `pystiche` was sti

[2020-07-21 02:34] NickleDave commented on #25
@pmeier @lwasser  just want to follow up about reviewers and editor comments

For me, the main fit with pyopensci for this package is in terms of reproducibility + education.
You aim to provide a package that encapsulates key concepts from this area of research, making them easier to learn about, and making it possible to reproduce key results without boilerplate.

To that end, the ideal reviewer

[2020-07-21 05:30] pmeier commented on #25
@NickleDave

You aim to provide a package that encapsulates key concepts from this area of research, making them easier to learn about, and making it possible to reproduce key results without boilerplate.

1. Its not only **re**-producibility, but also "producibility". While I certainly aim to reproduce already published papers, my hope is that researchers use `pystiche` in upcoming publications.

[2020-07-25 15:18] NickleDave commented on #25
Thank you @pmeier I hear you, and I think we are on the same page.
My comments are specifically about fit with PyOpenSci criteria but I don't mean to limit the scope of your package.
JOSS reviewers for example can focus on how it enables new research.
And by education I do mean "easing the on-boarding in the field". To me this is a central goal for scientific packages: providing abstractions that

[2020-07-27 17:31] Roel commented on #19
Hi all! I hope everyone's doing well out there. We managed to tackle most of the raised points during our last code sprint and in the weeks that followed. There are still two issues unresolved for now, but we'll take these on in one of our next sprints for sure.

Let me know whether it suits you to pick back up here. Thanks for you patience and take care!

[2020-07-29 12:52] pmeier commented on #25
@edgarriba, @soumith, @NickleDave

I've just released [`pystiche==0.5.0.post0`](https://github.com/pmeier/pystiche/releases/tag/v0.5.0.post0) since yesterdays release of `torch==1.6.0` broke compatibility.

[2020-08-03 15:28] NickleDave commented on #25
thank you @pmeier
I am still reaching out to reviewers, will update as soon as I know more

[2020-08-11 17:44] mluerig commented on #24
ok I'm back and ready to go - hope you all are having a good summer :-)

[2020-08-28 05:43] pmeier commented on #25
@NickleDave @lwasser

Could we get an update on this? Its been almost a month. If I can help in any way, please let me know.

My grant is running until the end of the year and I need this published (in JOSS) before that. I'm aiming to have this published in late November or early December since I have some other duties at the end of the year. This leaves us with approximately 3 months from now **i

[2020-08-29 15:03] NickleDave commented on #25
Hi @pmeier I am sorry I have not gotten back to you, totally my fault.

Unfortunately I have not heard back from multiple invited reviewers.

I think part of it might also be that the package targets a relatively new and developing research area, and it's hard to find someone that has the right mix of domain expertise and OSS development experience.

I really appreciate that you want the scientifi

[2020-08-29 17:20] pmeier commented on #25
@NickleDave I appreciate the change of course. I don't want to interfere with the process, just wanted to say that we don't need to rush it that much. I think it should be enough if I get the reviews until the end of September.

[2020-08-29 17:23] NickleDave commented on #25
ok, thank you for that additional information

if we start today (ignoring that I have made put this review very behind) then the standard three weeks deadline would put us at September 19th.

I am going to say September 19th and make sure I have that in my calendar so I stay on top of this, unless @edgarriba and @soumith absolutely cannot make that deadline

[2020-08-31 17:39] lwasser commented on #25
hey all!! just a note that once the review is complete here - the JOSS process is fast as they fully accept our review. So the key will be getting the reviewers on board with the Sept deadline and then addressing any feedback promptly. Thank you for your time. Just a note i've been struggling a bit with keeping up given COVID, beginning of the semester and other issues happening in the world right

[2020-08-31 20:04] soumith commented on #25
i'll send in my review by that deadline. thanks for the heads-up!

[2020-09-02 21:02] snacktavish commented on #26
Edited to new release (0.55), with some minor updates.

[2020-09-03 21:30] NickleDave commented on #25
🙏 🙏 🙏 thank you @soumith !!!

@edgarriba can you please confirm whether you can make that deadline when you get a chance?

[2020-09-07 07:35] edgarriba commented on #25
Sure, will send too 💪

[2020-09-07 14:08] NickleDave commented on #25
🙌🙌🙌 thank you both!!!

[2020-09-18 01:24] snacktavish commented on #26
Preprint posted at: https://www.biorxiv.org/content/10.1101/2020.09.15.299156v1

[2020-09-19 23:19] edgarriba commented on #25
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2020-09-20 00:13] NickleDave commented on #25
Thank you @edgarriba ! I will let @pmeier reply but just want to say I appreciate your making time to review this

[2020-09-20 09:35] pmeier commented on #25
Hey @edgarriba, thanks a lot for your review. I'm only going to comment on things I think need discussion, i.e. I'll omit comments I agree with.

---

You are of course correct here, but I need to challenge the intent. Thus, this comment is more directed at @NickleDave. `pystiche` is only valuable because it provides all pieces of an NST that work together. The individual parts are probably not he

[2020-09-22 04:21] soumith commented on #25
hey everyone, still working on the review, but I should have something by EOD on the 23rd.

[2020-09-24 00:03] NickleDave commented on #25
Thank you @soumith !
And thank you @pmeier for your quick replies to Edgar's comments.
I was surviving a work deadline but will get you feedback tomorrow AM

[2020-09-24 06:10] soumith commented on #25
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2020-09-24 09:13] pmeier commented on #25
Hey @soumith, thanks a lot for your review. IMO all your points are valid. Although I was unable to reproduce the error you had with the example exactly I've stumbled over a similar one. It seems something about the downloading / storing of the demo images is buggy.

[2020-09-24 13:57] NickleDave commented on #25
@pmeier still digesting reviews, but here's replies to two of your questions above:

I don't think we need to make anything a hard requirement.
But it will help users understand what the library does if you can provide *any* kind of code snippet + images in addition to the verbal description you have now. For example, why not have as a snippet lines 176-204 from your example, with the content, sty

[2020-09-24 15:02] NickleDave commented on #25
@edgarriba do you feel @pmeier has addressed your comments?

If you would like to provide more specifics on some of the follow-up questions, e.g. about examples in docstrings, then that could be helpful for Philip.

But other than that I take it you feel the library can be approved as-is.
Thank you again for making time to do the review.

[2020-09-24 15:07] NickleDave commented on #25
@pmeier I see that @soumith made similar comments about a lack of inline examples, with suggestions for which functions would best benefit from them.

I saw you said that all the points in the review are valid, and you might be planning to get back with a detailed reply, but given that both reviewers made comments, please do clarify whether you plan to provide those.

[2020-09-24 17:11] pmeier commented on #25
@NickleDave @edgarriba @soumith

Here is my plan to address the review comments:

- [ ] add citation information to the README
- [ ] add a small usage snippet to the README
- [ ] fix the installation instructions and environment setup (partially done in pmeier/pystiche#400)
- [ ] fix the download and storage of the demo images
- [ ] add inline examples for `pystiche.ops` and `pystiche.ops.function

[2020-09-24 17:35] pmeier commented on #25
@NickleDave, both @edgarriba and @soumith noticed that the link to the "pyOpenSi package guidelines" (https://www.pyopensci.org/dev_guide/authoring/overview.html) is broken. Could you provide a working one in order for this piece to also be reviewed?

[2020-09-24 19:12] NickleDave commented on #25
Yes, I'm sorry about the broken link. I know it needs to be fixed but haven't had a chance to make the PR.
This is the correct link:
https://www.pyopensci.org/contributing-guide/authoring/overview.html

But I do not think it's necessary for @edgarriba or @soumith to check whether you have met the basic guidelines.
Please don't worry about that holding up the review.
The guidelines overlap with wha

[2020-10-03 05:24] matthewfeickert opened #27 "Presubmission Inquiry: pyhf"
Submitting Author: Matthew Feickert (@matthewfeickert), Lukas Heinrich (@lukasheinrich), Giordon Stark (@kratsg)
Package Name: [`pyhf`](https://github.com/scikit-hep/pyhf)
One-Line Description of Package: Pure-Python implementation of the HistFactory statistical model for multi-bin histogram-based analysis with interval estimation based on the asymptotic formulas of “Asymptotic formulae for likeli

[2020-10-05 10:41] pmeier commented on #25
@edgarriba @soumith @NickleDave

I've addressed the reviews according to https://github.com/pyOpenSci/software-review/issues/25#issuecomment-698473702.

[2020-10-05 13:30] NickleDave commented on #25
@edgarriba and @soumith can you just confirm with a comment whether you feel @pmeier has addressed concerns raised in your reviews (if you weren't going to already)?

[2020-10-05 16:00] soumith commented on #25
I've been following @pmeier 's patches and commits.

I think he addressed all my concerns

[2020-10-07 20:03] edgarriba commented on #25
same here. I believe latest commits cover the mentioned issues.
cool vignette. Pretty clear image telling what's going on ;)

[2020-10-08 15:19] NickleDave commented on #25
Awesome!
Thank you so much @soumith and @edgarriba for finding time to review this!
Since PyOpenSci is still getting off the ground it really means a lot to us that you could contribute.
And I know it has helped @pmeier make real improvements to pystiche (even though it was already quite well developed upon submission)

[2020-10-08 15:27] NickleDave commented on #25
🎉 `pystiche` has been approved by pyOpenSci! Thank you again @pmeier  for submitting `pystiche` and many thanks to @soumith @edgarriba for reviewing this package! 😸
@lwasser tagging you in just to let you know I'm moving forward with this

@pmeier can you please do two more things to wrap up:
- [ ] Add the badge for pyOpenSci peer-review to the README.md of `pystiche`. The badge should be `[![pyOp

[2020-10-08 15:46] edgarriba commented on #25
@NickleDave no prob from my side. Nice xperience! open to more colab

[2020-10-08 17:47] pmeier commented on #25
@edgarriba @soumith

Thanks again also from my side! I really appreciate the time you voluntarily spent to help me out.

@NickleDave

- I'm fine with being added as contributor
- Yes, the first two items on the JOSS to do list are already done

Overall, I'm happy with the review process. Here are some things that IMO can be improved:

- My initial comment starting the review process still contains

[2020-10-09 16:26] NickleDave commented on #25
Excellent thank you @edgarriba

Great

Got it

Yes, my fault. Thank you for pointing it out -- will be aware of this in future reviews

Understood. @lwasser @choldgraf @mbjoseph @jlpalomino  @leouieda @lheagy this is probably a point we should discuss now that we've finished up this review and can reassess how to move PyOpenSci forward

[2020-10-14 15:49] lwasser commented on #24
hey @mluerig i'm just checking in here. what is the status of this review. are you still working on edits or where are things here?

[2020-10-14 15:50] lwasser commented on #19
hi all. just checkin in to see whether all review comments have been addressed or who is working on what items at this point. many thanks.

[2020-10-14 15:51] lwasser commented on #26
hi there @snacktavish i'm so sorry we have been out of communication here. are you still interested in a review by pyopensci? i've been a bit overwhelemed by current events which has been a hit at work in productivity. We may have an editor for this however if you are still interested in a review.

[2020-10-14 16:05] #25 closed

[2020-10-14 22:01] lwasser commented on #25
yahoooo!!!!!

[2020-10-14 22:28] xmnlab commented on #19
oh sorry, I think I lost this notification, really sorry. I will take a look at the last comment @Roel sent. it sounds pretty nice that a lot of issues were addressed at the sprint! that is great :)

[2020-10-15 09:14] mluerig commented on #24
hey @lwasser - I have been in touch with @sdonoughe because he had some problems getting the program to work on a mac (I programmed and tested it only on windows and ubuntu). I think it's working now, and he is back to the actual review of documentation and tutorials. I am not sure how far along he is though.

In general, how are code-reviews typically addressed? I already fixed two bugs that @agp

[2020-10-15 14:47] NickleDave commented on #26
Hi @snacktavish !
I volunteered myself to be editor.

Currently I work in AI / neuro but my background is bio ... and one of the main reasons I made it into science is a really good prof who taught the first non-boring class I took, on bioinformatics where we worked on genome assembly, phylogenetics, and related things.

So I think I get at a high level what `physcraper` does and it definitely loo

[2020-10-15 15:31] lwasser commented on #24
hey there @mluerig this is a good question. it *sounds* like it might make sense for @sdonoughe to do another pass at using the package (if there is time - please let us know). if you have released new versions that have both fixes and enhancements i think for us to approve the package we will need to ensure that version has been reviewed. so let's see if @agporto and @sdonoughe have time to do an

[2020-10-15 15:32] lwasser commented on #26
thank you @NickleDave i'll list you as an editor here at the top!! and @snacktavish THANK YOU for your patience with us. Also you have the best GH handle ever :)

[2020-10-15 15:40] mluerig commented on #24
ok great, but I would suggest @sdonoughe finishes the review on the current version. then I can address both his and @agporto's remaining comments together, and release another, post-review version

a second round of reviews on this version could then focus on the parts that received comments in the first round, and that are new as per the continued development. together with completed checks and

[2020-10-15 16:11] lwasser commented on #24
@mluerig absolutely. whatever process that is the most efficient is the one we should proceed with! Our main concern at pyopensci is that whatever package version we stamp as approved does need to be reviewed in its entirety. The workflow that you propose above sounds reasonable if both reviewers have bandwidth!

[2020-10-15 18:08] agporto commented on #24
@mluerig @lwasser that plan works for me!

[2020-10-16 16:59] lwasser commented on #24
perfect!

[2020-10-20 17:08] pmeier commented on #25
@NickleDave @lwasser FYI: JOSS review was successful (openjournals/joss-reviews#2761) and the paper is already [published](https://joss.theoj.org/papers/10.21105/joss.02761).

[2020-10-20 17:23] choldgraf commented on #25
wow now that's what I call a fast turnaround!

[2020-10-20 19:36] NickleDave commented on #25
Excellent, thank you for letting us know @pmeier
Looks great. Tweeting about the paper now :)

[2020-10-20 20:13] lwasser commented on #25
heck. yea!! thank you @pmeier and @NickleDave  !! this is awesome. Dave, i should give you superpowers to also retweet from pyopensci if you are open to it!! @choldgraf JOSS and @arfon are super fast once the review goes through POS. it's  fantastic!

[2020-10-21 00:41] xmnlab commented on #19
@Roel thank you so much for your patience! thanks for addressing the points I suggested.

@lwasser, `The author has responded to my review and made changes to my satisfaction. I recommend approving this package.`

[2020-10-21 02:11] NickleDave commented on #26
Hey @snacktavish just want to check back -- please let me know if you need me to start looking for reviewers

and I agree with Leah that you have the best GitHub handle ever

[2020-10-21 14:59] lwasser commented on #19
thank you @xmnlab  !!! @NickleDave you were the second reviewer on this package. have all changes been implemented per your satisfaction? it sounds like there are two outstanding @Roel can you tell us what is left to do following this review from your perspective? and perhaps at this point some have been addressed in a sprint?

[2020-10-21 15:14] NickleDave commented on #19
Thank you for pinging me @lwasser -- sorry for losing track of this

Yes I see that https://github.com/DOV-Vlaanderen/pydov/issues/254 adds an introductory tutorial -- looks good @Roel, I think this can definitely help a newcomer quickly get up to speed on usage of `pydov`.

The other concern I raised about code duplication has been noted in https://github.com/DOV-Vlaanderen/pydov/issues/264 but I

[2020-10-21 16:36] snacktavish commented on #26
Sorry for the delay! I started thinking about it, and then forgot to respond. Folks that I think would be good reviewers, or could potentially suggest others who would be include @blackrim @josephwb @jfwalker (Contributors to https://github.com/FePhyFoFum/PyPHLAWD) @rvosa @dombennett (Contibutors to SuperSmart https://academic.oup.com/sysbio/article/66/2/152/2418028).

@lunasare - any other sugges

[2020-10-22 16:04] NickleDave commented on #26
Thank you @snacktavish that likes snacks!

The folks you tagged all sound like perfect reviewers.
I will give them a couple days to respond.
If we don't hear back and it's okay with you I will try reaching out to them by email. Please let me know if that's **not** ok.

I think I would also like to try and find a third reviewer from outside those you (very helpfully) suggested as @lwasser has asked

[2020-10-22 16:21] lwasser commented on #26
HI there all!! i think IF you can have one that @snacktavish suggests and one outside reviewer (for a total of 2 reviewers) that would be perfect :) thank you so much Dave !!!

[2020-10-22 16:27] NickleDave commented on #26
Understood, thank you @lwasser

[2020-10-26 18:28] Roel commented on #19
Awesome, this is great news! No worries about the timing, we're all busy :)

We will definetely pick up the remaining issues in one of our next sprints and keep them in mind when refactoring or working on new features.

Thank you again for your time @lwasser, @xmnlab and @NickleDave! Great to become a part of the growing list of pyOpenSci packages!

[2020-10-27 02:20] NickleDave commented on #19
Thank you for submitting `pydov` for review @Roel @pjhaest @stijnvanhoey  !!
I think it's a great tool, excited to tell more people about it.
Perfect for pyOpenSci. And I learned a lot from seeing you all develop it further.

[2020-10-27 14:52] NickleDave commented on #26
@snacktavish @lwasser adding initial editor checks.
Very swamped at work right now but I will reach out to reviewers by Thursday at the latest

## Editor checks:

- [x] **Fit**: The package meets criteria for [fit](https://pyopensci.github.io/dev_guide/peer_review/aims-and-scope.html#package-categories) and [overlap](https://pyopensci.github.io/dev_guide/peer_review/aims-and-scope.html#package-cat

[2020-10-28 15:05] lwasser commented on #19
🎆  excellent! ok i think then we can consider pydov accepted as a part of pyopensci!!
thank you @Roel @pjhaest @stijnvanhoey and @NickleDave @xmnlab  for the efficient review process here!!

there are a few last steps if  someone is willing to take the time to do this

## Reviewers:

If you are not already on our website as a contributor, please submit a PR to [pyopensci.github.io](https://github.

[2020-10-28 16:59] stijnvanhoey commented on #19
This is indeed great news, thanks reviewers for all the comment and all credit to @Roel for being the main driver to get these changes and improvement all tackled. Thanks a lot!

[2020-11-02 01:43] calekochenour opened #28 "Presubmission Inquiry: Submit Conda environment to pyOpenSci?"
Submitting Author: Name (@calekochenour)
Package Name: Earth Engine Environment (Conda environment)
One-Line Description of Package: Conda environment to use the Google Earth Engine Python API within Jupyter environments
Repository Link (if existing): https://github.com/calekochenour/earth-engine-env

---

## Description

- This is not technically a package; rather it is a Conda environment for wo

[2020-11-02 12:38] sdonoughe commented on #24
This sounds great to me. A quick update on my end. As @mluerig mentioned, I've been trying to get the package working on MacOS. As best I can tell it is an issue with system-specific differences with how OpenCV takes user input, which breaks the parts of phenopype's workflow. @mluerig has submitted a bug report about this, I believe, and so far there hasn't been a fix. I am now seeing if there is

[2020-11-02 16:27] NickleDave commented on #26
@snacktavish @LunaSare @lwasser just an update that I have started reaching out to potential reviewers

[2020-11-18 15:31] NickleDave commented on #26
update: reached out to a couple more reviewers 🤞

[2020-11-28 16:31] NickleDave commented on #26
update update: very excited that @bpucker has accepted the invitation to review!!!  🎉🎉🎉
who has a ton of experience developing bioinformatics tools in Python
(see https://github.com/bpucker -- thank you @NatJWalker-Hale for connecting us)

Boas, just a reminder that our reviewer guide is here:
https://www.pyopensci.org/contributing-guide/open-source-software-submissions/reviewer-guide.html
and our

[2020-11-29 22:28] bpucker commented on #26
## Package Review

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work.

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly stating problems the software is designed to solve and its target audience in README
- [ ] **Installation instructions:** for the development version of packa

[2020-11-30 19:18] snacktavish commented on #26
Thank you so much for the thorough review!
We will create issues, and address them, and then link them here where they are all completed, unless there is a different procedure you would like us to follow.

[2020-11-30 19:38] NickleDave commented on #26
yes 🙏 thank you very much @bpucker -- looks quite helpful

@snacktavish creating issues and linking here is perfect, as was done in this previous review https://github.com/pyOpenSci/software-review/issues/20#issuecomment-626467367

I will keep looking for one more reviewer

[2020-12-11 06:39] JonnyTran opened #30 "OpenOmics: Presubmission Inquiry"
Submitting Author: Nhat Tran (@JonnyTran)
Package Name: OpenOmics
One-Line Description of Package: Library for integration of multi-omics, annotation, and interaction data.
Repository Link (if existing):  https://github.com/BioMeCIS-lab/OpenOmics

---

## Description

OpenOmics is a Python library to assist integration of heterogeneous multi-omics bioinformatics data. By providing an API of data m

[2020-12-17 17:05] NickleDave commented on #30
Hi @JonnyTran thank you for making this presubmission inquiry. Sorry we haven't gotten back to you sooner.

`OpenOmics` definitely looks like it is within scope for PyOpenSci, and I can see you have done a lot of work already to make sure the package adheres to our standards and guidelines, including your use of the pyopensci cookiecutter.

I am not sure if you saw that we're "on pause" for a bit

[2020-12-17 17:37] lwasser commented on #30
@NickleDave if you are keen to serve as an editor here i can work on the other submission! i've been overwhelmed with conference things but havea  bit more space now to support.

[2020-12-17 17:39] lwasser commented on #28
hi there @calekochenour ! my apologies for the super  slow  response. we a re currently trying to find funding for pyopensci and so  things  are moving slowly. we currently  do not have a review process for a conda environment. Can you tell m e more about what this would look like?  is it a yaml file?  a docker container or some combination  of both? Currently i'd say it's not in scope   but i'd l

[2020-12-17 18:27] JonnyTran commented on #30
Yes, I'm more than okay with the timeline. Thank you for the consideration of reviewing this work.

[2020-12-22 00:16] NickleDave commented on #30
Thank you @lwasser -- you mean Physcraper? I think I can handle this one and finish up that review as well.

Great glad to hear it @JonnyTran
Happy we can provide you a review and I'm looking forward to it.
I will be able to start the week of Jan 11, got it in my calendar now

Please, whenever you are ready, go ahead and open a new issue that's a full submission review.
If you can think of reviewe

[2020-12-22 00:20] NickleDave commented on #26
Hi all, just checking in here.
I am still looking for a second reviewer, but I am hesitant to email people right before a major holiday.
@snacktavish I plan to start contacting people again the week of Jan. 11.
Please let me know if that's okay.
It looks like you might still be working through issues from the first review, so I'm hoping you are not feeling too impatient with the editor (me) yet.

[2020-12-22 02:10] snacktavish commented on #26
Not impatient at all! We are still working on addressing the comments from the first review, and the lab is dealing with some covid related setbacks as well as the holidays. Thanks for all your work on this, and no rush.

[2020-12-28 18:43] NickleDave commented on #26
Ok, thank you for the quick reply.
I will resume looking for reviewers the second week of January.
Hope that in spite of having to deal with anything covid-related you are able to relax a little over the holidays

[2021-01-01 19:54] JonnyTran opened #31 "OpenOmics: Library for integration of multi-omics, annotation, and interaction data"
Submitting Author: Jonny Tran (@JonnyTran)
Package Name: openomics
One-Line Description of Package: Library for integration of multi-omics, annotation, and interaction data
Repository Link:  https://github.com/BioMeCIS-lab/OpenOmics
Version submitted: 0.8.4
Editor: @NickleDave
Reviewer 1: @@gawbul
Reviewer 2: @ksielemann
Archive: TBD
Version accepted: https://github.com/BioMeCIS-Lab/OpenOmics/tree

[2021-01-01 20:03] JonnyTran commented on #30
I've created a new issue for the **full review** at https://github.com/pyOpenSci/software-review/issues/31. I haven't think of any reviewers yet, but I'll update the issue if I find any.

[2021-01-11 21:35] lwasser commented on #25
hi  there @NickleDave and  @pmeier i'm just popping back here to confirm what version of pystiche  was accepted? i'm going through logs and noticed at the  very top of this review editors and reviewers and version  weren't filled in! minor but important for record keeping! what version did we accept? Many thanks all!!

[2021-01-11 21:37] pmeier commented on #25
`pystiche==0.6.2`

[2021-01-11 21:38] lwasser commented on #31
welcome to  pyopensci @JonnyTran  someone will  followup with you in the next week or so! Our progress is slow right now as we're working o n funding for this effort!! @NickleDave was this one you wanted to work on? you are doing a lot so please let me know if you have time (or if you don't that is understandable too!)

[2021-01-11 21:43] lwasser commented on #19
Hi  there @stijnvanhoey ! i'm doing some housekeeping today and i noticed pydov is [not on our list of packages here](https://www.pyopensci.org/python-packages/). Nor are you listed as a contributor!  did a PR get missed? i don't see one but that  does not mean i didn't miss something. we can close this once  this step is complete! i hope you are well!

[2021-01-12 00:15] NickleDave commented on #31
@JonnyTran this looks perfect, thank you.
Sorry for not replying when you opened this issue.

Hey @lwasser yes I have this on my to-do list and will start looking for reviewers Wednesday

[2021-01-13 00:33] lwasser commented on #25
thank you @pmeier !! 🙏

[2021-01-13 00:34] lwasser commented on #31
wonderful! @NickleDave thank you!

[2021-01-13 08:17] pmeier commented on #25
@lwasser I need to correct myself:

[`pystiche==0.6.0`](https://github.com/pmeier/pystiche/releases/tag/v0.6.0) was accepted by pyOpenSci whereas [`pystiche==0.6.2`](https://github.com/pmeier/pystiche/releases/tag/v0.6.2) was accepted and published by JOSS. I've edited the top post accordingly.

[2021-01-13 16:43] lwasser commented on #25
Ahhh – thank you for the clarification!! That is perfect.

[2021-01-14 17:04] NickleDave commented on #31
Hi all, just adding editor checks.

Thank you @JonnyTran for your detailed submission

## Editor checks:

- [x] **Fit**: The package meets criteria for [fit](https://pyopensci.github.io/dev_guide/peer_review/aims-and-scope.html#package-categories) and [overlap](https://pyopensci.github.io/dev_guide/peer_review/aims-and-scope.html#package-categories).
    + yes, tool for working with different type

[2021-01-14 20:51] NickleDave commented on #31
started reaching out to reviewers, will update as soon as we hear back

[2021-01-14 21:27] JonnyTran commented on #31
Thanks so much for the great suggestions, @NickleDave. I've addressed the "releases DOI" and "docs link" issues above, and I'm planning on updating the README file to be more attractive to potential contributors.

[2021-01-15 23:00] pjhaest commented on #19
Hi @lwasser, thanks for the update! I don't know what we missed. But we are having a next code sprint in some weeks. If it's not picked up before that time, we'll definitely do it at that occasion.
Thx all!

[2021-01-16 18:18] NickleDave commented on #28
Hi @calekochenour I just want to follow up about this

I think I have to agree with @lwasser that this would be out of scope for PyOpenSci simply because it's not a Python package.
We just really don't have a mechanism for reviewing conda environments.

I'm going to go ahead and close this for now, but we can continue discussion here or on the forums (https://pyopensci.discourse.group/) if you wou

[2021-01-16 18:18] #28 closed

[2021-01-17 21:39] JonnyTran commented on #31
Hi @NickleDave, will it be possible for OpenOmics to make submission to JOSS at this stage of the review? I just changed my mind about this, but I already have a complete manuscript and I'm ready to provide the `paper.md` within a few days.

[2021-01-17 22:26] NickleDave commented on #31
Hey @JonnyTran I think that could be okay. But first let me make sure I understand what you're asking.

Do you mean that you want to change "Publication Options" in your submission above, and check the box for "automatically submit to" JOSS?
If so, yes I think that's fine. @lwasser please confirm

Do you mean that you have a complete, separate manuscript written about OpenOmics, in addition to the

[2021-01-21 17:31] JonnyTran commented on #31
Hi @NickleDave, sorry it took awhile to consult with my advisor.
Yes, I meant that I'd like to check the box on automatic submission, and no, that I have not submitted a separate manuscript elsewhere. My intention for the JOSS submission is to publish contributions on the technical software aspects that I have thus far. But in later months (after finishing the web-app features in openomics), I do

[2021-01-25 16:35] NickleDave commented on #26
Hi @snacktavish and @LunaSare happy to report that @leomrtns has generously accepted our invitation to review

@leomrtns for your convenience here are the links to our reviewer guide and review template:
https://www.pyopensci.org/contributing-guide/open-source-software-submissions/reviewer-guide.html
https://www.pyopensci.org/contributing-guide/appendices/templates.html#review-template
Thank you a

[2021-01-25 16:57] NickleDave commented on #31
Hi again @JonnyTran excited to let you know that @gawbul and @ksielemann have both kindly accepted our invitation to review

@gawbul actually started PyOpenSci back in 2013 (see [this ROpenSci blogpost](https://ropensci.org/blog/2013/05/16/pyopensci/)) and develops related tools such as [pyEnsemblREST](https://github.com/gawbul/pyEnsemblRest)

@ksielemann [has significant experience with omics dat

[2021-01-25 19:30] lwasser commented on #31
this is so awesome!!

@gawbul hello again!! so great to see you here. We are moving forward with PyOS through the Sloan foundation (fingers crossed) as we briefly discussed forever ago. I'd love to see you continue to participate when you have time in whatever capacity you have time for!!  :)

thank you all for this review!

[2021-02-01 12:53] ksielemann commented on #31
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2021-02-02 19:15] JonnyTran commented on #31
Thanks so much for the fantastic reviews @ksielemann! I can work on the revisions, which should be available in 2 weeks.

Thanks for pointing this out and providing the automated scripts. I initially placed the test data at `tests/data/` for automated tests when you run `pytest ./` at the root directory. You can actually copy the codes at [tests/test_multiomics.py](https://github.com/BioMeCIS-Lab/

[2021-02-02 19:22] NickleDave commented on #30
whoops, forgot to close this

review already well under way in #31

[2021-02-02 19:22] #30 closed

[2021-02-02 19:28] NickleDave commented on #31
Just echoing @JonnyTran -- yes thank you for getting this detailed review back so quickly @ksielemann

Looks great to me. I will read in detail this weekend just to make sure I'm staying up to date with the review process

[2021-02-04 13:55] sdonoughe commented on #24
## Package Review

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

_Relevant disclosure:_ My written review of this package has taken a very long time for me to submit (~8 months from the time I was invited). Towards the end of that period,

[2021-02-05 16:33] sdonoughe commented on #24
### Notes and suggestions for `phenopype` tutorials

For the rest of my review, I've worked through the tutorials. Here are a set of suggestions, from minor typos to ideas about how to update the organization.

#### Tutorial 1
- "skript" -> "script"
- I found the usage of "bindings" here to be a little confusing.
- It is very thoughtful that this tutorial is here to introduce Python, and that ther

[2021-02-07 14:03] mluerig commented on #24
@sdonoughe and @agporto, thank you so much for those extensive and careful reviews - this is extremely helpful and I am eager to implement your suggestions! Here are some general responses to the issues and a roadmap for how I am planning to address them - @jbencook, @lwasser and @jlpalomino would be great to get your opinion on those, too:

### GUI

As I feared, the opencv GUI seems to be an issu

[2021-02-08 15:04] gawbul commented on #31
Just working through my review at present. Should have it done by the end of the day. Apologies for the delay.

[2021-02-08 16:26] sdonoughe commented on #24
Yes, I am available for a second round of review, and without the big time delay.

[2021-02-08 16:59] gawbul commented on #31
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2021-02-08 17:00] gawbul commented on #31
Just in case it gets lost in the review, I submitted a PR for one of the issues I hit https://github.com/BioMeCIS-Lab/OpenOmics/pull/103

[2021-02-08 17:01] gawbul commented on #31
Also submitted a PR for some issues I found in the pyOpenSci Contributing Guidelines https://github.com/pyOpenSci/contributing-guide/pull/85

[2021-02-08 20:59] agporto commented on #24
I am available as well

[2021-02-09 13:54] jbencook commented on #24
I think that plan makes sense @mluerig. Re: MacOS, I think it's very reasonable to not support GUI functionality as long as it's clear in the documentation.

[2021-02-15 16:05] NickleDave commented on #31
Thank you @gawbul for the very thorough review, really appreciate that you could

@JonnyTran just want to check where you are at with this. I know it might feel like a lot, and you could have other things going on.

Our guidelines suggest aiming for a two-week turnaround time after reviews are in. We definitely don't have to hold strictly to that especially if you have other obligations to deal wi

[2021-02-16 04:33] JonnyTran commented on #31
Thanks so much for the thorough review @gawbul! 🥰

@NickleDave I’ve been trying to go over the issues. Actually it has been difficult because of the constant rolling electricity blackouts from the snowstorm currently in my state, Texas 🥶.

I will work on making the issues on GH and fix them soon!

[2021-02-16 15:02] NickleDave commented on #31
!!! I'm sorry, didn't realize you were in Texas!
The situation with the power grid is insane.
Hope you can stay warm and safe!

Thank you for letting us know!

[2021-02-17 22:29] JonnyTran commented on #31
Hi @gawbul, I've just gone over your reviews. Thanks for the care and attention on testing this software. There were many issues that I've missed and I've created Issues for most of your comments.

I'm sorry you've had troubles running OpenOmics because of issues with installing the package dependencies from `requirement.txt` https://github.com/BioMeCIS-Lab/OpenOmics/issues/113, and importing `uma

[2021-02-19 01:29] NickleDave commented on #31
Hey @JonnyTran there's no strict deadline.

Our guide says "aim for one week" but with everyone already stressed out by the pandemic, and you facing even more problems because of the situation in Texas right now, I would not ask you to meet that.

Does three weeks sound do-able to you?
If not we can definitely figure something else out.
I just want to have something in my calendar to make sure I c

[2021-02-19 03:40] matthewfeickert commented on #27
:wave: hey @NickleDave. No worries and thanks for taking the time to follow up here &mdash; I appreciate it!

Ah, I didn't know that. That's quite a bummer and I'm sorry to hear it. :(

Yeah we actually just got published in JOSS the other week: [![DOI](https://joss.theoj.org/papers/10.21105/joss.02823/status.svg)](https://doi.org/10.21105/joss.02823)

Ah that's cool to see! I hope that they have

[2021-02-19 03:41] #27 closed

[2021-02-19 19:29] JonnyTran commented on #31
Hi @NickleDave. Yes, 3 weeks is plenty of time for me to address the issues - how does Friday, March 12 sounds?

[2021-03-02 19:48] NickleDave commented on #31
Hi again @JonnyTran -- sorry for not replying sooner. I saw this and then got distracted

Yes March 12 is perfect if that still works for you. Will put it in my calendar.

[2021-03-04 00:25] NickleDave commented on #19
Closing this--thank you again all for a great review process!

[2021-03-04 00:25] #19 closed

[2021-03-12 22:57] JonnyTran commented on #31
Hi guys @NickleDave  @ksielemann @gawbul.  It's been awhile, but I finally managed to address *most* of the comments. Yay!

---
For @ksielemann comments:

I implemented a way to load the Expression data files directly from URL, see <https://openomics.readthedocs.io/en/latest/usage/getting-started.html#creating-a-multi-omics-dataset>

There is now a function to do so, see <https://openomics.readthe

[2021-03-14 13:19] mluerig commented on #24
Hi again!

So, below are the responses to your comments, I have updated phenopype accordingly, it is now version 2.0.0. Since v1.0.5, which was the one I originally submitted, I have changed a few things that how users the yaml configuration files (I moved to list structures for greater flexibility when configuring the high throughput workflow). Therefore, it is not backwards compatible and thus g

[2021-03-15 15:07] NickleDave commented on #31
Thank you @JonnyTran I can see you've put a ton of work in to addressing the reviewer comments.
And thank you for getting back to us by March 15th.

@ksielemann and @gawbul can you please let @JonnyTran know whether you feel the changes made, outlined in the comment above, are sufficient to address revisions you suggested in your reviews?

@JonnyTran I don't think there's anything else you're miss

[2021-03-15 17:12] ksielemann commented on #31
First of all, thank you @JonnyTran for addressing the comments above! Some of my review comments are embedded in the specific points of the Package Review form. I believe that these points were not yet addressed (or did I miss something?).

[2021-03-17 13:41] NickleDave commented on #31
Thank you for your quick reply @ksielemann
Yes, I see that some of your comments were embedded in the form.

I don't mean to make more work for you, but could I ask you to raise separate issues on the OpenOmics repository for any comments that you feel have not yet been addressed?

This is the usual approach that JOSS reviews use (to raise issues with details on the repo, and then link to them / s

[2021-03-17 15:23] ksielemann commented on #31
I am sorry that I embedded the comments so that they can be easily overlooked! I now opened a few issues with my comments.

[2021-03-17 16:02] NickleDave commented on #31
No need to apologize @ksielemann , definitely my fault for not being clearer about process.
Thank you for taking time to open issues. That will help.

Sorry @JonnyTran for adding more to your plate.
I just want to make sure it's very clear what review criteria have been met, according to reviewers.

If we need to, we can discuss further here, and you can link to specific issues.

I will check back

[2021-03-17 21:59] calsvein opened #32 "tweepyclean (Python)"
Submitting Author: Name (@github_handle)
Package Name:
One-Line Description of Package:
Repository Link:
Version submitted:
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

## Description

tweepyclean is a Python package built to act as a processor of data generated by the existing Tweepy package that can produce clean data frames, summarize data, and generate n

[2021-03-17 21:59] #32 closed

[2021-03-17 22:09] calsvein opened #33 "tweepyclean (Python)"
Submitting Author: Nash Makhija (@nashmakh), Matt (@MattTPin), Syad Khan (@syadk), Cal Schafer (@calsvein)
Package Name: tweepyclean
One-Line Description of Package: ad-on functions to the tweepy package for twitter data processing, word counts and sentiment analysis
Repository Link:  https://github.com/UBC-MDS/tweepyclean
Version submitted:   https://github.com/UBC-MDS/tweepyclean/tree/0.3
Editor

[2021-03-17 22:16] calsvein commented on #33
Please disregard this submission

[2021-03-17 22:16] #33 closed

[2021-03-18 23:01] arashshams opened #34 "eazieda (Python)"
Submitting Author:
- Vignesh Lakshmi Rajakumar (@vigneshrajakumar)
- Dustin Andrews (@dbandrews)
- Arash Shamseddini (@arashshams)
- Yuyan Guo (@yuyanguo)

Package Name: **eazieda**
One-Line Description of Package: **eazieda** makes data wrangling and exploratory data analysis (EDA) quite simple and fast
Repository Link:  [eazieda](https://github.com/UBC-MDS/eazieda)
Version submitted: 0.1.10
Edit

[2021-03-18 23:09] #34 closed

[2021-03-18 23:10] arashshams commented on #34
Mistake

[2021-03-19 06:57] ksielemann commented on #31
I just closed my last issue with this comment:
_'I think it is really important for future users that the usage guide works without errors. Otherwise, the user might get frustrated and refrains from using the library. So the usage guide should be updated according to the functionalities and current version of the package. But I think this can also happen while the package is further developed.'_

[2021-03-19 08:19] hellosakshi opened #35 "Submission: easysklearn (Python)"
Submitting Author: Name (@github_handle)

- Lara habashy (@larahabashy)
- Ifeanyi Anene (@IfyAnene7)
- Sakshi Jain (@hellosakshi)
- Zhenrui (Eric) Yu (@yzr1996)

Package Name: easysklearn

One-Line Description of Package: A python package to explore data, to select features, to impute missing data and to select the model

Repository Link:  https://github.com/UBC-MDS/524_easysklearn

Version submit

[2021-03-19 08:21] #35 closed

[2021-03-19 08:22] hellosakshi commented on #35
I posted here by mistake

[2021-03-19 13:52] NickleDave commented on #31
Great thank you @ksielemann glad to hear it.
Looks like the additional issues were all easily addressed or fixed already.
Sorry, I didn't mean to ask you to do extra work, just wanted to make sure we were all on the same page about requested revisions. Thank you again 🙏

[2021-03-19 13:53] NickleDave commented on #31
@gawbul just want to check back -- can you please confirm whether your comments have been addressed?

Looks like the corresponding issues were:
https://github.com/BioMeCIS-Lab/OpenOmics/issues/119
https://github.com/BioMeCIS-Lab/OpenOmics/issues/115
https://github.com/BioMeCIS-Lab/OpenOmics/issues/114
https://github.com/BioMeCIS-Lab/OpenOmics/issues/113

[2021-03-19 21:46] NickleDave commented on #35
Hi @hellosakshi could I ask where you meant to post?

We've had multiple people open and then close issues in the last couple of days.

I'm just trying to figure out if someone might be directing people here by accident?

Thank you

[2021-03-19 21:50] NickleDave commented on #35
Never mind I think I figured out! :)

https://github.com/UBC-MDS/software-review-2021

Happy to provide material so you all can get practice submitting for review

[2021-03-20 02:11] hellosakshi commented on #35
Glad you resolved the mystery:)

[2021-03-24 23:21] skasberger opened #36 "pyDataverse: a Python module for Dataverse"
Submitting Author: Stefan Kasberger (@skasberger)
Package Name: pyDataverse
One-Line Description of Package: An Open Source Python module to work with Dataverse
Repository Link (if existing):   https://github.com/gdcc/pyDataverse

---

## Description

pyDataverse is a Python module for Dataverse you can use for:

* accessing the Dataverse API’s
* manipulating and using the Dataverse (meta)data - D

[2021-03-25 21:48] lwasser commented on #35
i've noticed  this too. is this from Tiffany's  course?

[2021-03-25 21:50] lwasser commented on #36
thank you for this presubmission @skasberger ! We are just regrouping after a difficult week here in Boulder and the GOOD news  about getting funding. In the meantime, did you have specific  questions related to our process or is this just a check to ensure the package is in scope for us?

[2021-03-25 23:58] NickleDave commented on #35
yes, I think so -- I checked their org page and can see that some of the same packages were added there.
Probably just a little bit of a misunderstanding

I mean more than one sounded like I actually wanted them to be submitted

[2021-03-27 10:39] gawbul commented on #31
@NickleDave @JonnyTran I'll look at this asap. I've not been well this last while and am trying to recover. I won't forget 👍

[2021-03-28 17:47] leomrtns commented on #26
## Package Review

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [X] **A statement of need** clearly stating problems the software is designed to solve

[2021-03-29 13:25] NickleDave commented on #26
Hi @leomrtns I am still reading to make sure I understand your comments but I just wanted to say quickly thank you for making time to do the review.

[2021-03-30 23:46] snacktavish commented on #26
Thank your for your review! @LunaSare and I will address the comments and update here within the next few weeks.

[2021-03-31 02:53] NickleDave commented on #26
Perfect, thank you @snacktavish for letting us know!

[2021-04-01 13:43] NickleDave commented on #31
thank you @gawbul for letting us know!
sorry, somehow missed that you replied here

[2021-04-03 19:25] arianesasso opened #37 "Devicely: A Python package for reading, timeshifting and writing sensor data"
Submitting Author: Ariane Sasso (@arianesasso)
Package Name: Devicely
One-Line Description of Package: A Python package for reading, timeshifting and writing sensor data
Repository Link: https://github.com/hpi-dhc/devicely
Version submitted: 0.2.5
Editor:   @xmnlab
Reviewer 1: @willingc
Reviewer 2: @agricolab
Archive: TBD
Version accepted: TBD

---

## Description

Wearable devices can track a mul

[2021-04-03 22:07] skasberger commented on #36
The basic idea was, to submit my tool, cause I think it is inside your scope. So wanted to start the review process for this.

And congrats to the funding! :)

[2021-04-13 20:01] mkandziora opened #38 "PhylUp: updating alignments with custom taxon sampling"
## Package Info
Submitting Author: Martha Kandziora (@mkandziora)
Repository Link (if existing):   https://github.com/mkandziora/PhylUp

[code]

- Please indicate which [category or categories][PackageCategories] this package falls under:
	- [x] Data retrieval
	- [ ] Data extraction
	- [ ] Data munging
	- [ ] Data deposition
	- [ ] Data visualization
	- [x] Reproducibility
	- [ ] Geospatial
	- [ ]

[2021-04-19 19:39] gawbul commented on #31
No problem 😄
I'll get around to checking this one night this week 👍

[2021-04-22 19:49] gawbul commented on #31
All looks good 👍

I made a quick comment here regarding an issue with the docs https://github.com/BioMeCIS-Lab/OpenOmics/issues/119#issuecomment-825137257, but otherwise, I'm happy everything has been addressed ☺️

[2021-04-27 15:10] NickleDave commented on #31
Excellent, thank you so much @gawbul and @ksielemann for your very thorough reviews

----------------------------------------------
🎉 `openomics` has been approved by pyOpenSci! Thank you @JonnyTran for submitting

There are a few things left to do to wrap up this submission:
- [ ] Add the badge for pyOpenSci peer-review to the README.md of `openomics`. The badge should be `[![pyOpenSci](https://t

[2021-04-27 15:19] NickleDave commented on #38
Hi @mkandziora thank you for your interest in contributing to PyOpenSci, and I'm sorry we haven't gotten back to you sooner.

I would love to get you help with developing `phylup`.

For CI, I would suggest switching to GitHub Actions.
https://docs.github.com/en/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions
I think that as long as your package is public then CI should be f

[2021-04-30 16:09] lwasser commented on #38
oh hi! @NickleDave agreed with the idea of moving this discussion to discourse. let's talk about slack as well this week. i think it will be easiest :) @mkandziora welcome to pyopensci!! we are happy help you however we can.  i do suggest  github actions as well.

[2021-04-30 16:11] lwasser commented on #36
thank you @skasberger !! we are so excited about funding.
we wil be lable to get this review  start soon! this tool is absolutely within our scope!

[2021-04-30 16:16] lwasser commented on #36
@skasberger @NickleDave will be the editor for this and will get the peer review process going here! thank you so much @NickleDave !!

[2021-04-30 16:18] lwasser commented on #36
@skasberger the next step here will be to submit this as a "submission" vs a pre submission. once you do that we can kick start the review process.

[2021-04-30 16:20] lwasser commented on #31
@NickleDave will you kindly fill out the very top of this submission with the reviewers, review version accepted  etc - the very first comment? we want to ensure  that we keep  track of that  for  every review. once all is filled out and the review is complete  (boxes checked above!) we can close the issue!  thank you all!!

[2021-04-30 16:21] lwasser commented on #37
hi @arianesasso ! thank you for this submission! i know it's  been sitting for a while. I am just catching up and will get back to you  regarding next steps!

[2021-04-30 16:23] lwasser commented on #37
this package is definitely in scope for pyopensci review!.

[2021-04-30 16:30] lwasser commented on #24
@agporto  @sdonoughe can you please have a look at @mluerig responses to your review above? are you  satisfied with the responses? the one issue i see is the  MAC compatibility issue. i am going to see how ropensci handles these types of issues in a review and will respond accordingly. That aside  are you  both   content  with t he review r esponse  above OR are  there  additional items that you'd

[2021-04-30 16:31] NickleDave commented on #36
Thank you @lwasser -- happy to act as editor

@skasberger `pyDataverse` looks like a perfect fit for pyOpenSci and I can see the package is already well-developed and used. Hope you will go ahead and raise an issue here for a full submission

One point I did want to bring up:
under "other packages" you put "no" but there is of course https://github.com/IQSS/dataverse-client-python (with a link to

[2021-05-02 11:30] mkandziora commented on #38
Hi  @NickleDave and @lwasser. Thank you very much for the suggestion on GitHub Actions. I did not know about this option - very convenient and I successfully managed to migrate.

I am currently working on moving my documentation from the GitHub wiki to a readthedocs - but documentation is there.

I think I now fulfill all requirements for submission of the code for a pyOpenScience review. Shall I

[2021-05-03 04:49] sdonoughe commented on #24
### Three main notes

1. The reorganization and revision of the tutorials is very impressive. Even before my review they were already quite clear, and now they're even better.
2. As before, I couldn't get the image windows to behave as intended on MacOS, so I wasn't able to actually test all the functionality.
3. That said, I read through the tutorials, and I found them very thoughtfully structure

[2021-05-04 17:16] NickleDave commented on #31
Thank you for taking care of those final to-dos @JonnyTran

Just checking, are you about to submit to JOSS? Based on your last couple of commits I'd guess yes.
 Please do let us know and/or reference this issue on the JOSS review when you do.

@lwasser I have edited the first comment to reflect those changes -- not sure if there's more I need to resolve what I was assigned through GitHub. I will c

[2021-05-04 17:24] JonnyTran commented on #31
Hi @NickleDave,

Yes I've submitted to JOSS about 4 days ago, mentioning this was approved by pyOpenSci. I will reference this issue once the review process starts on JOSS's github.

Thanks for the updates!

[2021-05-04 17:28] NickleDave commented on #31
Ah great -- I didn't realize how the process worked, I looked for an issue on their repo but didn't see it.

Thank you for letting me know! Please just let me know if you need anything from us for review at JOSS.

Going to go ahead and close.
Yay!!! congrats on completing review and officially becoming part of pyOpenSci!
Will tweet about `openomics` later!
Thank you again @ksielemann and @gawbul f

[2021-05-04 17:31] JonnyTran commented on #31
Thanks so much for everyone's help and support, @NickleDave, @lwasser, @gawbul, and @ksielemann !

[2021-05-04 19:07] lwasser commented on #31
oh all - So the JOSS review process is simple in that they accept our review  as theirs! @arfon please note that this package was submitted to the JOSS review process. Can we please fast track it given we have reviewed here on the pyopensci side of things. Please let us know what you need. @JonnyTran is there an open issue in JOSS right now? can you kindly reference it here if you haven't already.

[2021-05-04 19:10] JonnyTran commented on #31
Hi @lwasser , there isn't a JOSS issue yet, but I will tag this pyOpenSci issue once it is opened.

[2021-05-04 19:12] lwasser commented on #31
ahh ok perfect. Normally they just accept through our issue! let's wait for arfon to get back to us here to ensure that is still the best process! congratulations on being a part of the pyopensci ecosystem and thank you for your submission here!

[2021-05-05 06:41] ksielemann commented on #31
Sure, I am okay with this! Should I add myself to the file you mentioned above or do you prefer to add me to the contributor site yourself?

[2021-05-05 09:19] arfon commented on #31
Sorry for the delay folks. Things are now moving in https://github.com/openjournals/joss-reviews/issues/3249

[2021-05-05 15:27] NickleDave commented on #31
@ksielemann it would be excellent if you could add yourself with a PR

Great thank you @arfon !!!

[2021-05-06 07:54] SimonBiggs opened #39 "PyMedPhys"
Submitting Author: Simon Biggs (@SimonBiggs)
Package Name: PyMedPhys
One-Line Description of Package: A python library providing tools for Medical Physicists.
Repository Link (if existing): https://github.com/pymedphys/pymedphys

---

## Description

- Include a brief paragraph describing what your package does:

Provides a central hub for Medical Physicists to share and review each others code th

[2021-05-09 13:14] arfon commented on #31
This is now published in JOSS 🥳

[2021-05-10 17:48] lwasser commented on #31
yea!! thanks so much @arfon and thank you for the reviews @gawbul @ksielemann and the editor effort @NickleDave closing this!!

[2021-05-10 18:24] agporto commented on #24
@lwasser  I found a few issues with the examples, but @mluerig has already fixed them.
I am completely satisfied with the responses provided by the author. This is an impressive tool and I hope biologists will rejoice.

[2021-05-10 19:17] mluerig commented on #24
thanks @sdonoughe and @agporto - I have released a new version (2.0.1) that addresses the typos and issues you mentioned.

[2021-05-13 13:41] mluerig commented on #24
pinging @jbencook and @lwasser. both reviewers are happy - so, what comes next? I would be very grateful if we could conclude the review process soonish, given that it started almost a year ago!

[2021-05-13 14:52] lwasser commented on #24
hi @mluerig
To begin - congratulations - 🎉 phenopype is now a part of the pyopensci ecosystem!

Next steps:

----------------------------------------------
🎉  Thank you @jbencook @sdonoughe @agporto for supporting this review process! 😸

There are a few things left to do to wrap up this submission:
- [ ] Add the badge for pyOpenSci peer-review to the README.md of <package-name-here>. The badge sho

[2021-05-13 16:16] mluerig commented on #24
@lwasser: done, done and done! Thanks for wrapping this up so quickly. I will submit this to Methods in Ecology and Evolution in the next few days. Any suggestion for how I should bring up this review there? There are options for rOpenSci, but no pyOpenSci - should I just write this in the cover letter?

Feedback: I would not change anything in the review process; there were templates, instruction

[2021-05-13 17:54] lwasser commented on #24
wonderful. Thank you for this feedback.

And I hear you @mluerig i really do. I will note the need for deadlines and followup to ensure a more efficient process. Given I have your ear I have another question for you.
Right  now, you have citation information in your readme. I'm curious if you had thought about a more formal DOI / citation approach through a tool such as zenodo ?

I'm asking becaus

[2021-05-14 08:25] mluerig commented on #24
this can really just be a simple post in the issue to remind everyone

@lwasser good point about citations. phenopype already has a zenodo DOI, so I went ahead and added it to the repo

 => do you have any thoughts on this?

[2021-05-15 16:54] NickleDave commented on #38
Hi again @mkandziora -- glad we could help.

Also great to hear you are moving to readthedocs.

Sorry for the delayed response.
Not sure if you saw in our forums or other reviews but we have been on hiatus.
@lwasser was recently awarded funding so that will be changing near the end of summer.

Long story short:
the current  are meeting Monday to sync up and will have a better idea of where we are

[2021-05-17 15:01] lwasser commented on #24
hi @mluerig my apologies i was out of the office Friday.

I think for now it does make sense to include the zenodo reference in the manuscript. And then absolutely include the manuscript reference once you have it. If the article is really methods based (i presume it is given the journal you are submitting to) then i would think once you have a final journal DOI, that citation will be preferred ov

[2021-05-17 21:07] #24 closed

[2021-05-18 07:14] mluerig commented on #24
yupp that sounds good - I proceeded with these suggestions!

[2021-05-18 14:01] lwasser commented on #24
Perfect!

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Moritz Lürig ***@***.***>
Sent: Tuesday, May 18, 2021 1:14:27 AM
To: pyOpenSci/software-review ***@***.***>
Cc: Leah Wasser <Leah.Wasser@Colorado.EDU>; State change ***@***.***>
Subject: Re: [pyOpenSci/software-review] Phenopype: a phenotyping pipeline f

[2021-05-20 22:28] NickleDave commented on #38
@mkandziora I am going to close this issue.

Please do go ahead and open a new issue requesting review. I can act as editor.

It looks to me like `PhylUp` is within scope. I think you might also want to add "data munging" as a category the package falls under. We don't really have a category (currently) that denotes the pipeline/workflow aspects of what `PhylUp` does but I think "mugning" is close

[2021-05-20 22:28] #38 closed

[2021-05-21 16:27] lwasser commented on #39
hi there @SimonBiggs ! Welcome to pyopensci!
Can you  tell us a bit more about this submission? It doesn't look to me like this is a python package on it's own, rather a community / subset of packages similar maybe to astropy? please let me know what you are looking for here. And perhaps you can provide some more information about the peer review part of things as that is what we do here at pyopen

[2021-05-21 16:28] lwasser commented on #37
@arianesasso we are moving on this - we have an editor and reviewers are underway. more to come soon. @xmnlab will be the editor for this package review.

[2021-05-21 19:58] xmnlab commented on #37
@arianesasso @lwasser, adding initial editor checks here.

@arianesasso we are lining up reviewers for your package. When we receive the confirmation I will update the text here with this information.

## Editor checks:

- [x] **Fit**: The package meets criteria for [fit](https://pyopensci.github.io/dev_guide/peer_review/aims-and-scope.html#package-categories) and [overlap](https://pyopensci.githu