[2021-05-22 00:53] SimonBiggs commented on #39
Hi @lwasser,

We're in an interesting scenario where people are using the code within publications:

* https://docs.pymedphys.com/lib/ref/gamma.html
* https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=pymedphys+gamma&btnG=

But we don't actually have a paper out there. I began to attempt to write a JOSS paper (https://joss.theoj.org/) for the gamma implementation, but it appears that one rep

[2021-05-24 15:38] xmnlab commented on #37
Hi @willingc! @lwasser told me that she has talked to you about reviewing a package for pyopensci! that sounds great!

PyOpenSci contributing guide is here https://www.pyopensci.org/contributing-guide/intro.html

This is the guide specifically for reviewers: https://www.pyopensci.org/contributing-guide/open-source-software-submissions/reviewer-guide.html

This is my first time acting as editor, so

[2021-05-25 01:14] xmnlab commented on #37
Hi @agricolab!

@NickleDave told me you are available to review this package, thank you so much!

PyOpenSci contributing guide is here https://www.pyopensci.org/contributing-guide/intro.html

And this is the guide specifically for reviewers: https://www.pyopensci.org/contributing-guide/open-source-software-submissions/reviewer-guide.html

As I mentioned before, this is my first time acting as an e

[2021-05-25 01:19] xmnlab commented on #37
@arianesasso @agricolab @willingc @lwasser

I updated the information here
https://github.com/pyOpenSci/software-review/issues/37#issuecomment-846220959

Let me know if I can help in any way! thank you all!

[2021-05-26 02:48] agricolab commented on #37
Looking forward, will start reviewing next week!

[2021-05-26 03:09] xmnlab commented on #37
thank you so much @agricolab, I really appreciate that!

[2021-05-26 04:07] willingc commented on #37
@xmnlab I started last night and made some notes in a [gist](https://gist.github.com/willingc/988c6af3ff0ba8c14769a1127f4b1db4)

[2021-05-26 09:20] arianesasso commented on #37
Thank you so much for all your hard work!

[2021-05-26 20:08] xmnlab commented on #37
that sounds great @willingc . thank you so much!

[2021-05-27 01:40] lwasser commented on #5
closing this given no activity in over a year!

[2021-05-27 01:40] #5 closed

[2021-05-27 01:40] lwasser commented on #6
closing this as well due to no activity!

[2021-05-27 01:40] #6 closed

[2021-05-27 01:41] lwasser commented on #13
hey @MikeTrizna i am going to close this issue as it's been open for 1.5 ~ years. if you ever decide that you'd like to submit to us or if you have questions please get in touch!

[2021-05-27 01:41] #13 closed

[2021-05-27 14:15] MikeTrizna commented on #13
Woops, I didn't realize this was still Open. Sounds good. I recently started working with the BHL API again after a long break, and will create a new issue when a Python wrapper is in working order.

[2021-06-01 11:38] agricolab commented on #37
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [ ] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2021-06-01 11:50] agricolab commented on #37
@xmnlab is this a co-submission to JOSS?

[2021-06-01 13:37] arianesasso commented on #37
@agricolab that was our goal :), the paper is in inst/paper.md

[2021-06-01 22:20] xmnlab commented on #37
thanks @arianesasso for the quick response :)

[2021-06-02 21:56] lwasser commented on #39
hi again @SimonBiggs help me understand this a bit better. we currently review python packages which would follow the JOSS model that there is one package within a single repo that is curated, citable etc. It sounds as if this may be a set of submodules which similar to JOSS, we don't have the infrastructure right now to support review for as the citation would be on the repo rather than sub secti

[2021-06-02 21:57] lwasser commented on #39
i will say that we are planning to work with other communities to implement uniform standards and such - pangeo being one of them - so perhaps there is a way we can work together in the future even if we can't perform a review right now.

[2021-06-02 22:24] SimonBiggs commented on #39
Yup, I think you've got it to a tee. I'm all for making sure which ever way it occurs it is sustainable. Happy to just stay on the radar for now until the approach is more supported.

Cheers :slightly_smiling_face:,
Simon

[2021-06-06 08:53] agricolab commented on #37
Dear @arianesasso, i finished my review, looking forward to your response!

[2021-06-07 08:49] arianesasso commented on #37
Dear @agricolab, thank you so much for reviewing our package! We will go through the comments this week :).

[2021-06-07 20:15] xmnlab commented on #37
thank you so much for your review @agricolab !

[2021-06-12 16:32] arianesasso commented on #37
Dear @agricolab, thanks again for the great review! We added a repostatus.org badge and will add another one with test coverage (possibly https://github.com/nedbat/coveragepy; other suggestions are welcomed as well). We will fix hpi-dhc/devicely#19. Also, thanks for pointing out the issue with FAROS in CI/tests (we are investigating). More, we will add HISTORY/CHANGELOG.md which is indeed missing

[2021-06-13 21:49] xmnlab commented on #37
@willingc, just a friendly reminder about the review deadline June. 14th (tomorrow). Let me know if you would need extra time to finish your review. thank you so much!

[2021-06-14 14:48] willingc commented on #37
@xmnlab Should be good to wrap up later this evening 👍🏼

[2021-06-14 14:51] xmnlab commented on #37
@willingc that sounds good, thank you so much!

[2021-06-15 04:08] willingc commented on #37
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2021-06-15 04:25] willingc commented on #37
Dear @arianesasso, I've finished my review. Thanks so much for submitting.

[2021-06-15 09:09] arianesasso commented on #37
Dear @willingc, thank you for your thoroughly review :). We appreciate all the great suggestions and we will work on them. We will ping you once they are done or if we have any particular question.

[2021-06-19 22:04] mwt opened #40 "inteq: a package to solve integral equations"
Submitting Author: Name (@mwt)
Package Name: inteq
One-Line Description of Package: Solve Fredholm and Volterra integral equations in python.
Repository Link (if existing): https://github.com/mwt/inteq/

---

## Description

Inteq is a Python package that efficiently constructs numerical approximations of Fredholm and Volterra integral equations. Despite the wide interdisciplinary applicability of

[2021-06-29 17:58] jonmatthis opened #41 "Help request - Prepare a Python repository for submission"
## What is this?

To make the review process easier and to help you maintain your package, pyOpenSci requires testing, continuous integration, and full documentation for packages submitted for review (read more [here][PackagingGuide]. We want to make this as easy as possible for newcomers, so if you'd like some help in prepping your package you can submit this request and we'll assign someone to h

[2021-06-29 20:24] xmnlab commented on #37
hi @arianesasso ! as the last update here was 2 weeks ago I would like to check about the progress. let us know if you have any block or if you want to discuss any point related to the review :)

[2021-07-01 14:43] arianesasso commented on #37
Dear @xmnlab, thanks for checking! We are implementing the requests of the reviewers, e. g. we have the new badges and other small changes already in there.

Currently, when checking the problem with the tests: `Faros is apparently ignored during CI/ automated tests? When i run it locally, it works, though. Please explain the reason for ignoring it, though, so i can consider whether the item "auto

[2021-07-06 18:02] lwasser commented on #40
hi there  @mwt . thank you for this pre-submission. This submission unfortunately currently does not fall into the in scope categories for pyOpenSci. You may want to consider JOSS as an option. Before doing so, I suggest that you consider adding testing to complete the package infrastructure or atleast look to see what the requirements are for JOSS publication. Please let us know if you have any q

[2021-07-06 18:29] lwasser commented on #40
@mwt one more note - if this package is already associated with a published paper, then JOSS will not accept it. But you can check with them as I am not the final word on JOSS submissions. they typically will not publish a package that has already been published via a citable paper

[2021-07-07 05:15] shailesh1729 opened #42 "CR-Sparse: XLA accelerated algorithms for inverse problems in sparse representations and compressive sensing"
Submitting Author: Shailesh Kumar (@shailesh1729)
Package Name: CR-Sparse
One-Line Description of Package:  XLA accelerated algorithms for inverse problems in sparse representations and compressive sensing
Repository Link (if existing):   https://github.com/carnotresearch/cr-sparse
Documentation: https://carnotresearch.github.io/cr-sparse/

---

## Description

This library aims to provide XLA/JAX

[2021-07-07 13:01] NickleDave commented on #42
Hi @shailesh1729 thank you for your interest in pyOpenSci.

I actually work with compressive sensing in my day job and think it's great to see some work on this in the Python space.

I do think this is out of scope for pyOpenSci though.
We are mainly focused on tooling for open science.
E.g., if you built a tool that made it easier to download datasets from a repository of MRI images, say, to test

[2021-07-07 13:11] NickleDave commented on #42
This is off-topic for the question of scope, but some related repos just in case you're not aware of them already:

* https://github.com/nikcleju/pyCSalgos
* https://github.com/SebastianSemper/camiba
* https://github.com/SIP-AAU/Magni
* https://github.com/ngcthuong/Reproducible-Deep-Compressive-Sensing
* https://github.com/dedupeio/pylbfgs <-- nice Python wrapper around LBFGS that let's you solve

[2021-07-07 13:22] NickleDave commented on #41
Hi @jonmatthis we're happy you found us, thank you for your interest in pyOpenSci.

Can you say more about what the uses for `freemocap` would be?
How are you and your students applying it?
That would help clarify whether it's within scope for us.

Based on what I see on the repo, I would guess it might be more appropriate for JOSS.
We are mainly focused on tooling that supports open science. For

[2021-07-07 13:48] palacio-tech commented on #42
@NickleDave  Thank you for your feedback. Now I better understand the scope of pyOpenSci. I will try to submit it to JOSS.

Thank you for the references for previous works. Yes, I am slowly implementing these ideas in XLA/JAX. I was aware of some of the previous work but not all of them. This will be helpful.

[2021-07-07 13:50] NickleDave commented on #42
Happy I could help!

I'll go ahead and close for now.

[2021-07-07 13:50] #42 closed

[2021-07-07 21:45] lwasser commented on #42
thank you both!

[2021-07-07 21:48] lwasser commented on #41
agreed. a bit more information would be very helpful @jonmatthis with that said, if you need some help in developing your package we may be able to direct you to resources. We also have a [cookiecutter](https://github.com/pyOpenSci/cookiecutter-pyopensci) however I believe that we need to make some updates to it particularly in the space of CI. So please

1. let us know more about what your packag

[2021-07-07 21:49] lwasser commented on #39
@SimonBiggs of course. i am going to close this issue for the time being but please do keep in touch with us.
Cheers! :)

[2021-07-07 21:49] #39 closed

[2021-07-07 23:08] SimonBiggs commented on #39
Awesome :) thanks @lwasser

[2021-07-16 20:22] lwasser commented on #12
reopening to keep tabs on JOSS submission!

[2021-07-19 16:41] arianesasso commented on #37
Hello @xmnlab! Some updates from our side :).

I think we covered most requests by @agricolab

- Added test coverage and repostatus.org badges
- Tests should not be failing anymore
- Faros is not being ignored anymore
- Created version 1.0.0 and added HISTORY/CHANGELOG.md (will have it in pypi this week)
- **Missing:** A comparison to other packages should be included in the paper

We also added s

[2021-07-19 16:49] xmnlab commented on #37
@arianesasso , thank you so much for this detailed update!
The update sounds great! I am excited and looking forward to seeing your next update :)

[2021-07-23 00:37] weiji14 opened #43 "PyGMT: A Python interface for the Generic Mapping Tools"
Submitting Author: Wei Ji Leong (@weiji14)
Package Name: PyGMT
One-Line Description of Package: A Python interface for the Generic Mapping Tools
Repository Link: https://github.com/GenericMappingTools/pygmt
Version submitted:
Editor: @lwasser
Reviewer 1: @jbusecke
Reviewer 2: @simonmolinsky
Archive: [Zenodo Archive](https://zenodo.org/record/6702566)
Version accepted: V 0.7.0
Date accepted (month/

[2021-07-25 16:37] agricolab commented on #37
Great. I'm in vacation until start of August. Will review next week, but I guess most stuff is covered.

[2021-07-25 21:29] xmnlab commented on #37
@agricolab, thanks for letting us know! have a great vacation!

[2021-07-28 20:35] LunaSare commented on #26
Hi all! Thank you so much for your helpful reviews, @leomrtns and @bpucker! and for your wonderful editorial work @NickleDave and @lwasser (and @xmnlab)! We are almost done with the reviews and we will post here shortly, probably at the end of this week or the beginning of next week.

We have one question for @leomrtns. You mentioned you were unable to complete an analysis because your trees did n

[2021-07-29 01:38] NickleDave commented on #26
I'd been meaning to check back, thank you for the update @LunaSare -- will keep an eye peeled for your post

[2021-07-30 20:53] LunaSare commented on #26
Here it goes for the first reviewer!

Thanks for the thorough review @bpucker, it was most helpful!
@NickleDave, @snacktavish and I address all points below:

Installation instructions can be found in Physcraper's documentation at readthedocs here: https://physcraper.readthedocs.io/en/latest/install.html,
and a link to it has been added to the README.

Documentation for all user-facing functions c

[2021-08-03 15:37] arianesasso commented on #37
@agricolab Thank you :). I updated the paper now with the related work section and some corrections.

We also put a lot of effort in improving the documentation and are still working on that. We are also missing the **conda-forge feedstock** but will try to have that as well by the end of the week. I think it is coming to an end! And then we will be done with both revisions.

Thank you for your pa

[2021-08-06 13:18] NickleDave commented on #26
Hi @bpucker thank you again for your review -- when you get a chance can you let us know whether the changes made address your comments?

[2021-08-06 13:19] NickleDave commented on #26
Just following up on this.
@leomrtns do you by any chance have code to reproduce this issue?

[2021-08-06 16:28] leomrtns commented on #26
@LunaSare @NickleDave For the OToL run, I picked up a random study using `find_trees.py`, probably using _salmonella_. Let's say the command was `physcraper_run.py -s ot_274  -t Tr47737 -tb` . Definitely not a bug, just slower than I expected (specially if you don'y know what's going on: "is it downloading? It doesn't seem to be using a lot of memory! is this one BLAST or an all-against-all?" etc.

[2021-08-11 02:49] LunaSare commented on #26
No worries @leomrtns. Thanks for the comment!

Oh, gotcha! So, there's probably several things going on there.

First, the OpenTree synthetic tree for prokaryotes in general, such as _Salmonella_, is not well resolved, so Physcraper probably struggles more there.
The example alignment you share has more than 500 sequences, so it will probably be a long run.
I started running  your example (started

[2021-08-11 13:59] bpucker commented on #26
Hi all,

Sorry for my late reply. @LunaSare and @snacktavish addressed all my points very well. I can understand that the integration of a progress bar is challenging and was postponed to a later release. Congratulations on this nice work!

[2021-08-13 04:53] LunaSare commented on #26
Thanks @bpucker!

[2021-08-17 16:23] xmnlab commented on #37
hi @arianesasso

thank you for your hard work addressing all the recommendations pointed by the authors! <3

Let us know when it is ready and @willingc can check if her recommendations are addressed, please.

Again, Thank you so much!

[2021-08-18 12:31] willingc commented on #37
I believe that my key recommendations are addressed. Nice improvements 😄

[2021-08-18 13:18] arianesasso commented on #37
@willingc @xmnlab Thank you! We worked hard to improve the documentation, we also added a binder (still improving on that though :)). We are also generating a new version 1.1.0 (probably today). I think the only key suggestion missing is the conda forge feedstock.

[2021-08-19 14:36] willingc commented on #37
@arianesasso Congrats. I've opened a PR for the conda-forge feedstock (https://github.com/conda-forge/staged-recipes/pull/15943). If tests pass, you should be all set there. FYI on the process: I used the grayskull package to generate a `meta.yaml` file which was then submitted as a PR to the conda-forge.

[2021-08-19 15:47] arianesasso commented on #37
Thank you so much @willingc <3, that is really great!!! And @xmnlab which are the next steps now for pyOpenSci and JOSS? :)

[2021-08-19 17:11] lwasser commented on #37
wow this is great - I will let @xmnlab reply separately, but i didn't know about the grayskull package for conda forge @willingc ! that is great to know about and I will check it out. We could then add it to our users / maintainers guide. It's easy to mess up the syntax for that yaml file. I will open an issue in our guide book about this ! @arianesasso congratulations on the reviews being complet

[2021-08-19 21:49] xmnlab commented on #37
@arianesasso this is great, congrats!

@willingc and @agricolab thank you so much for the review and all the recommendations here.

@arianesasso I will send you the information about the JOSS process soon.

Let me know when you cut a new realease for devicely and I will update here with the new version number.

Thank you so much.

[2021-08-20 01:16] xmnlab commented on #37
----------------------------------------------
🎉 devicely has been approved by pyOpenSci! Thank you @arianesasso for submitting devicely and many thanks to @willingc and @agricolab for reviewing this package! 😸

There are a few things left to do to wrap up this submission:
- [ ] Activate Zenodo watching the repo if you haven't already done so.
- [ ] Tag and create a release to create a Zenodo vers

[2021-08-20 01:19] xmnlab commented on #37
@lwasser, as it is my first time here acting as editor, let me know if I am missing any point here :) btw the editor guide is great! thank you so much!

[2021-08-20 19:41] lwasser commented on #37
@xmnlab it looks to me like you nailed it! i removed some of the older labels just so it's clear what stage this package is in. this is minor :) but i think we can assume reviewers were found, etc at this point! I'm so so glad the editors guide is clear. i' spent a lot of time on it and know it probably needs fresh eyes to read it but also know i need to work on the maintainer guide next :) so tha

[2021-08-21 15:26] willingc commented on #37
@lwasser @xmnlab This was the smoothest review process that I have done. Thank you for being so organized. It was a pleasure reviewing with @agricolab too.

Good luck with the project @arianesasso :smile:

[2021-08-23 08:52] agricolab commented on #37
Great! Thanks to everyone involved, and good luck with the project!

[2021-08-24 14:00] arianesasso commented on #37
Dear @xmnlab, I think I addressed all of the points till the JOSS submission :). We also released 1.1.0. Thank you for all your effort! Also, thanks for the awesome revision and help from @agricolab @willingc and @lwasser! For us the process was very smooth and interesting! We found all the feedback really helpful to improve the quality of the package ;).

ps: I would like to know more ablout: Mov

[2021-08-25 14:20] xmnlab commented on #37
@arianesasso, that sounds great! thank you so much.

About `Move Package to PyOpenSci Organization`, I am checking the steps for that I will be back here with this information soon.

thanks!

[2021-08-31 12:58] enra64 opened #45 "Jointly: A Python Package for synchronizing multiple sensors with accelerometers"
Submitting Author: Arne Herdick (@enra64)
Package Name: Jointly
One-Line Description of Package: Jointly is a python package for synchronizing sensors with accelerometer data
Repository Link:  https://github.com/hpi-dhc/jointly
Version submitted: 1.0.2
Editor: Ivan Ogasawara (@xmnlab)
Reviewer 1: Alejandro Sáez Mollejo (@AlexS12)
Reviewer 2: Arthur Endsley (@arthur-e)
Archive: https://zenodo.org/r

[2021-08-31 13:37] astrojuanlu commented on #12
I tried to locate the pandera paper on JOSS, without success. Am I missing anything'

[2021-08-31 21:59] lwasser commented on #12
hey there @astrojuanlu i *believe* that @cosmicBboy hasn't yet submitted to JOSS. I briefly chatted over twitter i think  or maybe at scipy and it wasn't submitted yet. it may not be  under review yet.  @cosmicBboy can you confirm? i can  also remove that  tag if you don't  plan on submitting there but it sounded like you were  interested in doing that at some point.  the submission process is fas

[2021-08-31 23:10] cosmicBboy commented on #12
Hi @lwasser @astrojuanlu yes I do intend on submitting a paper to JOSS, I'm still working on a draft and plan on submitting within the next 2-3 weeks.

[2021-09-01 15:13] hodgestar opened #46 "Presubmission inquiry: QuTiP"
Submitting Author: Simon Cross (@hodgestar)
Package Name: qutip
One-Line Description of Package: Simulation of open quantum systems.
Repository Link (if existing):   https://github.com/qutip/qutip
Website: https://qutip.org/

---

## Description

- Include a brief paragraph describing what your package does:

"QuTiP is open-source software for simulating the dynamics of open quantum systems." -- o

[2021-09-01 18:19] lwasser commented on #46
hey there @hodgestar thank you for this presubmission! We will have a look and will get back to you about fit for pyOpenSci.

[2021-09-01 18:25] lwasser commented on #45
hey there @enra64 !! thank you for this submission! we will review it and get back to you with next steps. Welcome to pyopensci!

[2021-09-01 18:29] lwasser commented on #43
hey there @weiji14 Welcome to pyopensci and please excuse the delayed response! We will review this submission and will get back to you with next steps soon. I should be able to find some folks in the geospatial space to review.
I can also  walk you through the JOSS piece. I'd encourage it because once our review is done, JOSS simply accepts  our review as  theirs so the work you have to do in ord

[2021-09-01 18:31] lwasser commented on #41
hey @jonmatthis checking back in here on this. where can  we start with helping you? could you identify perhaps  one area to start with so i can find people to provide support? i can also answer questions if t hat is helpful or we can chat if that  would be more helpful.

[2021-09-01 18:33] lwasser commented on #40
i am going to  close this issue  given no feedback since July 6. Please feel free to reopen it @mwt if you have questions!

[2021-09-01 18:33] #40 closed

[2021-09-02 07:05] hodgestar commented on #46
@lwasser Thank you. Please let me know if you have questions or if I can get involved somehow.

[2021-09-02 14:26] jonmatthis commented on #41
Hello! Thanks for checking back in!

This repo has garnered quite a bit of interest since my original post, so I am currently working on getting the core functionality to a usable 'alpha-ish' state, before coming back to clean up the inner structural and package aspects of the project in hopes of publishish with PyOpenSci and/or JOSS within the next few months (and start looking for funding source

[2021-09-03 02:53] weiji14 commented on #43
Hi @lwasser, no worries on the delay. We've been keen to get some good independent reviews on our package, so take your time with the search!

As for the JOSS piece, I'll need to check with the rest of the team on what they prefer. A few of us have actually edited/reviewed JOSS papers, and I've seen and heard many great things about the review process too. We'll definitely have a good think about

[2021-09-03 09:53] enra64 commented on #45
Thank you :slightly_smiling_face:

[2021-09-13 08:02] leomrtns commented on #26
Hello! Thanks for the detailed response @LunaSare, I believe all my comments have been successfully addressed. I particularly like the FAQ and the "use case examples". I am looking forward the comparison between tools, but I understand this is will be a major endeavor.
Congratulations!

[2021-09-14 20:59] LunaSare commented on #26
Thanks @leomrtns! your comments, as well as @bpucker's were really useful, and definitely improved our work!!

[2021-09-14 21:45] lwasser commented on #26
yahoo! pinging @NickleDave our fearless editor for this package! it looks from the initial submission like this is not slated to move on to JOSS at this point  so we may be able to wrap things up!

[2021-09-15 02:21] NickleDave commented on #26
Thanks @lwasser !!! Yes looks like we can wrap things up.

And a big thank you @leomrtns and @bpucker for your reviews and very valuable input.

*And* thanks to @LunaSare and @snacktavish for responding so clearly that even a non-expert like me can follow what's going on.

Seems like the pyOpenSci review has been helpful for `physcraper`'s development, I hope you'll agree.

[2021-09-15 02:44] NickleDave commented on #26
🎉 `physcraper` has been approved by pyOpenSci! Thank you @LunaSare @snacktavish for submitting `physcraper` and many thanks to @bpucker @leomrtns for reviewing! 😸

(I know I just said thanks in the last comment but it's the language in our template and I like the smiling cat emoji)

There are a few things left to do to wrap up this submission:
- [ ] [Activate Zenodo watching the repo if you haven'

[2021-09-15 02:45] NickleDave commented on #26
Adding as a separate comment so I don't overwhelm anyone trying to read that checklist:

@LunaSare looks like you already did a `pyOpenSci review` release? https://github.com/McTavishLab/physcraper/releases/tag/v0.6.1  -- I think you could do a ["post-release"](https://snarky.ca/what-to-do-when-you-botch-a-release-on-pypi/) where you just add the badge to the README (sorry if I'm telling you somet

[2021-09-15 18:19] lwasser commented on #26
yay @NickleDave this is all awesome! and @LunaSare @snacktavish thank you for all of your work on this review and reviewers @bpucker @leomrtns thank you for your time in reviewing for us!

@NickleDave yes great catch. one post release even if it is a patch with the badge in the readme is appreciated. then we can use that specific zenodo archive in the records here as the version we "approved".

[2021-09-15 18:53] LunaSare commented on #26
Hi @NickleDave and @lwasser! Thanks for the tips! This is the first time I am dealing with official package releases, so explanations are greatly appreciated. I'll give it a go and cry for help if needed!

[2021-09-15 19:04] NickleDave commented on #26
Ah right.

I might have made things extra confusing by bringing up PyPI.
Definitely no need from our end to have it on PyPI, as long as you create a DOI, e.g. with Zenodo by doing a GitHub release.

but, as long as I brought it up:
re: publishing to PyPI, I always go back to this tutorial
https://packaging.python.org/tutorials/packaging-projects/
which you will notice has moved away from the setup

[2021-09-15 20:28] lwasser commented on #26
@LunaSare are you interested in pushing to pypi? i think it is ideal and we could likely help you through it and take notes on any pain points. i have a setup for our packages where it gets pushed when there is a new release using github actions.
we could potentially help you get there as right now [pypi's version of your package ](https://pypi.org/project/Physcraper/) is behind what we accepted.

[2021-09-16 22:57] snacktavish commented on #26
We created a v1.0.0 release updated the PyPi  version!
https://pypi.org/project/Physcraper/

We also did these:
- [x]  Activate Zenodo watching the repo if you haven't already done so.
- [x] Tag and create a release to create a Zenodo version and DOI.
https://zenodo.org/record/5512990#.YUPLLntlBhE
- [x] Add the badge for pyOpenSci peer-review to the README.md of physcraper. In markdown, the badge

[2021-09-16 23:02] LunaSare commented on #26
Thanks so much @lwasser and @NickleDave for the helpful guidance!
@snacktavish did the previous release of Physcraper to pypi. So we gave it a go and we were able to successfully submit the latest version of [Physcraper to pypi](https://pypi.org/project/Physcraper/) today, thanks to @snacktavish's  amazing coding skills!

@NickleDave, we ended up releasing [v1.0.0 of Physcraper](https://zenodo.org

[2021-09-18 01:07] NickleDave commented on #26
Excellent, @lwasser and I are very glad we could help.

It's official!!! Just merged in the PRs. Thank you all again!

[2021-09-18 01:07] #26 closed

[2021-10-19 20:40] weiji14 commented on #43
Hi @lwasser, thank you opening the discussion at #101. The goals for the PyGMT team at this stage are really to see if there are any major issues in terms of our API design, and to ensure that we are following established best practices in software design. Essentially, have a fresh set of eyes look at our documentation and see if there are any glaring issues we may have missed.

To be honest, that

[2021-11-03 13:16] xmnlab commented on #45
@Alexs12 as we talked some days ago, we are very happy to have you here reviewing Jointly. thank you!

The PyOpenSci contributing guide is here https://www.pyopensci.org/contributing-guide/intro.html and this is the guide specifically for reviewers: https://www.pyopensci.org/contributing-guide/open-source-software-submissions/reviewer-guide.html

Feel free to ping me anytime when you need any info

[2021-11-03 13:20] xmnlab commented on #45
@enra64 not sure if you were able to check my comment here: https://github.com/pyOpenSci/software-review/issues/45#issuecomment-950481738.

We often select one reviewer suggested by the package's author and another one will be selected by us. If you don't have any suggestions then I will look for another one. Thank you so much.

[2021-11-03 13:29] enra64 commented on #45
Hey, sorry, I forgot about it. I have to say that I don't have a suggested reviewer.

[2021-11-03 13:34] xmnlab commented on #45
no worries at all! So, I will search for one more and I will keep you updated about that. thanks

[2021-11-18 15:57] enra64 opened #47 "Presubmission Inquiry: Visualization Tool: Sevivi, a python package and CLI tool to generate videos of sensor data graphs synchronized to a video of the sensor movement"
Submitting Author: Arne Herdick (@enra64)
Package Name: sevivi
One-Line Description of Package: sevivi is a python package and command line tool to generate videos of sensor data graphs synchronized to a video of the sensor movement.
Repository Link (if existing):   https://github.com/hpi-ch/sevivi/

---

## Description

Sevivi is designed to render plots of sensor data next to a video that was ta

[2021-11-23 02:05] xmnlab commented on #45
Hi @arthur-e! thank you so much for accepting to be a reviewer for the package Jointly!

I sent you some links but here there are two links you can check before you start.

- The PyOpenSci contributing guide: https://www.pyopensci.org/contributing-guide/intro.html
- The guide specifically for reviewers: https://www.pyopensci.org/contributing-guide/open-source-software-submissions/reviewer-guide.ht

[2021-11-23 02:22] xmnlab commented on #45
@enra64 we have already two reviewers for Jointly, @AlexS12 and @arthur-e!

So, we are now starting the review process, and the deadline for this first stage is December, 13th.

In general, we aim for 3 weeks for review, 2 weeks for subsequent changes, and 1 week for reviewer approval of changes.

Let me know if you have any questions or comments, please.

[2021-11-23 23:54] NickleDave commented on #47
Hi @enra64 welcome to pyOpenSci!

Thank you for your detailed pre-submission inquiry.

I need to check in with other editors about where we are at with software reviews, but I did want to make sure you knew we saw this.

It's about to be a holiday where I am in the US, but we will get back to by the end of next week.

[2021-11-24 10:07] SimonMolinsky commented on #43
@lwasser, what are the next steps? Now I have a window to review the package. I assume that December will be rather busy so it's better to start now :)

[2021-11-24 14:26] lwasser commented on #43
absolutely. @SimonMolinsky thanks for the ping. For some it is a holiday week so I was assuming that may impact the review but let's do this. Simon and @jbusecke thank you for being willing to review. let's set the deadline for 4 weeks which is one week longer than usual. i am doing this because of the holiday week, the christmas holiday for some and AGU for some to ensure everyone has time. Let's

[2021-11-24 16:51] elboyran opened #48 "eXplaianble tool for scientists - Deep Insight And Neural Networks Analysis (DIANNA)"
Submitting Author: Elena Ranguelova (@elboyran)
Package Name: dianna
One-Line Description of Package: an eXplainable AI (XAI) python library targeted at scientists
Repository Link (if existing):   https://github.com/dianna-ai/dianna

---

## Description

- Include a brief paragraph describing what your package does:

Modern scientific challenges are often tackled with (Deep) Neural Networks (DNN).

[2021-11-24 20:31] weiji14 commented on #43
Yep, we're ok with people making issues on the repo. The 4 week timing sounds good too.

[2021-11-30 18:52] hscannell opened #49 "Ocetrac: A Python package to track the spatiotemporal evolution of marine heatwaves"
Submitting Author: Hillary Scannell (@hscannell)
Package Name: Ocetrac
One-Line Description of Package:
Repository Link:  Ocetrac is a python package to detect and track the spatiotemporal evolution of marine heatwaves.
Version submitted:  0.1.4
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

## Description

Ocetrac is an analysis routine and data processing to

[2021-12-01 13:23] elboyran commented on #48
Hello, I was wondering if this pre-submission form has been noticed?
For me, it is important to find out **if my software fits the scope of pyOpenSci**.

[2021-12-01 14:59] NickleDave commented on #48
Hi @elboyran and welcome to the pyOpenSci community.
Thank you for providing a detailed pre-inquiry submission and stating a very clear question.

@lwasser and I have discussed whether the package is in scope.
(Sorry for not getting back to you sooner -- we just had a holiday here in the US. Which shows you that we need a better distribution of editors 🙂)

The short answer is: yes, we think DIANNA

[2021-12-03 16:12] jbusecke commented on #43
Thanks for the update. I will try to work on this in the coming week, but appreciate the longer deadline just in case 😁.

[2021-12-08 14:02] elboyran commented on #48
Dear David (@NickleDave) and @lwasser,

Thank you very much for your time and detailed feedback.

First the questions covered by short answers:

- Yes, DIANNA is not mature enough and we are very much aware of that. I  have approached you via a pre-submission enquiry as the suggested means to find out if the software will fit into the scope of pyOpenSci in advance.
- When the time comes for proper

[2021-12-08 14:33] xmnlab commented on #45
@AlexS12 and @arthur-e, just a friendly reminder about this review. Let me know if you have any problems with that. thanks

[2021-12-08 16:07] arthur-e commented on #45
## Package Review

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work.

#### Documentation

The package *must be* improved with regards to the following criteria:

- [ ] **Function Documentation:** for all user-facing functions
  - [There is a page](https://jointly.readthedocs.io/en/latest/reference.html#jointly-synchronizer) that *lists* the functio

[2021-12-09 00:16] xmnlab commented on #45
@arthur-e thank you for your detailed review. I really appreciate that.

I will check detailed the points you mentioned me and I will give more feedback soon.

About CI, generally, the common CI platforms have a free tier with some limitations, but for small projects that is enough.

Jointly is using github actions and you can check that here https://github.com/hpi-dhc/jointly/actions

And the con

[2021-12-09 11:36] enra64 commented on #45
Hey, thank you very much for the review! As @xmnlab already mentioned, we do use CI, and it's with GitHub actions. Additionally, I would like to mention that we have the relevant metadata in `pyproject.toml`, which is kinda the equivalent of `setup.py` for poetry.

As we use the `pytest` framework, tests can be run by calling `py.test` in the repository root. I've added this information to CONTRIB

[2021-12-09 15:33] arthur-e commented on #45
@enra64 Thanks for fixing the API documentation! It looks like there is an object, `jointly.segement_selector`, that may not actually exist in the code base. [It appears in the documentation](https://jointly.readthedocs.io/en/latest/reference.html#jointly-segment-selector), under-specified, because it is written in `docs/reference.rst`.

[2021-12-09 15:36] arthur-e commented on #45
@enra64 Finally, please add information to the README on how you would like people to cite their use of `jointly`. For example, some libraries have DOIs that are automatically generated, e.g., by Zenodo, for specific releases and, in addition to a citation example in the README, the DOI is displayed as a badge at the top of the README.

[2021-12-09 15:41] enra64 commented on #45
Alright, will do - @arianesasso, can you take over from here?

[2021-12-09 17:39] arianesasso commented on #45
@enra64 @arthur-e Just added the Zenodo badge + the citation at the README :).

[2021-12-09 18:40] arthur-e commented on #45
Great! My recommendation is to accept.

[2021-12-14 12:55] hodgestar commented on #46
Hello! Has any sort of decision been reached?

[2021-12-14 15:40] jbusecke commented on #43
Quick question: Should I post my partially filled review here and edit it as issues are responded to/resolved? Or should I keep that to myself until the deadline?

[2021-12-14 21:19] jbusecke commented on #43
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2021-12-16 21:32] lwasser commented on #46
hi there @hodgestar i'm really sorry for the super slow response here. For the time being this package is out of scope for us. You might look at another journal such as JOSS as a potential landing spot for it. Given our current reviewer pool and scope we will not be able to review. I am going to close this issue for the time being but please feel free to keep in touch with us and to ask any additi

[2021-12-16 21:32] #46 closed

[2021-12-16 21:36] hodgestar commented on #46
@lwasser No worries. Thank you for having a look. Highly skilled volunteers are in short supply everywhere!

[2021-12-16 21:37] lwasser commented on #49
Thank you for this submission @hscannell Given we are approaching the holidays and this week is the AGU meeting we will do our best to get back to you but if we determine this is in scope, The review likely won't begin until january given it's difficult to find reviewers at this time of the year! I just wanted to check in to let you know that this is on our radar! Welcome to pyopensc!

[2021-12-16 21:38] lwasser commented on #49
@hscannell can you please update the template at hte top to ensure it contains the package repo link and also the description and in the correct spot? thank you.

[2021-12-16 21:42] NickleDave commented on #47
Hi again @enra64 -- sorry for the delay in getting back to you.

This does appear to be within scope as a data visualization tool.

It's not clear to me who we would reach out to for reviews though.

Would you be able to point me to some researchers working in related areas, or developing related tools?
I realize you did not find any similar programs that exist for your specific tool, but if you c

[2021-12-16 21:54] NickleDave commented on #48
Hi @elboyran and thank you for your clear point-by-point response.

Everything you are saying makes total sense to me.
I think we agree that potentially some aspects of DIANNA are in scope for pyOpenSci, under the categories of visualization and reproducibility.

However, another factor we would need to consider is that XAI is an active research area. I'm sure you are aware of this, as your statem

[2021-12-16 21:55] lwasser commented on #12
hey there @cosmicBboy did this ever go through JOSS? i just didn't see the issue referenced here. I am going to close this for the time being but if it does go into JOSS please reference this issue and we can update it accordingly! thank you!

[2021-12-16 21:55] #12 closed

[2021-12-16 22:46] cosmicBboy commented on #12
thanks @lwasser will do! Just got swamped with other things, but am committed to submitting through JOSS in the new year

[2021-12-17 14:27] xmnlab commented on #45
thanks @arthur-e for the review and thank you @arianesasso and @enra64 for addressing the points from the review :)

PS: we are still waiting for @AlexS12 's review.

[2021-12-17 18:08] lwasser commented on #46
they are! i appreciate your understanding @hodgestar and please do keep in touch with us!

[2021-12-19 10:05] AlexS12 commented on #45
Hi there! Sorry for my absence. I have been really busy the last month. Now with Christmas holidays I expect I can finish my review before new year. Would that be ok for you?

Hope to help and sorry again for a so so late response!

[2021-12-22 19:56] lwasser commented on #45
that is just fine @AlexS12 !! thank you for reviewing for us!

[2021-12-23 09:59] arianesasso commented on #47
Dear @NickleDave, I could volunteer to help review this package after the holidays :). Although I am not involved in its creation, I belong to the same organization as @enra64 so there could be some bias in that.

Another reviewer suggestion could be @edgarriba: https://github.com/edgarriba. Cheers!

[2021-12-23 13:49] NickleDave commented on #47
Thank you @arianesasso that is helpful.

I think you are right that we should avoid anything that could appear biased if possible, but you have given me a much better idea of where to search for reviewers.

And @edgarriba if you are open to reviewing for us again, your expertise would be very welcome here.

[2021-12-23 20:04] lwasser commented on #47
hi everyone - just checking in here!!
This looks like a presubmission inquiry that has been approved for review. @enra64 can you please submit a NEW issue that uses the actual review template rather than the pre submission? We will then update all of the reviewer, etc information there as we do for other reviews. thank you all! we can always link to this issue for reference if need be in the actua

[2021-12-24 10:12] edgarriba commented on #47
Hi! What are the timelines here?

[2021-12-24 17:48] lwasser commented on #43
hi everyone! @jbusecke thank you for your review. @SimonMolinsky we look forward to your review when you are ready to submit. Do you have any questions or need any help?

The next week is a holiday in the US and we are completely off starting this afternoon  (december 24) through the new year. I will be back online on January 3 2022!

In the meantime, @SimonMolinsky if you can wrap up your review

[2021-12-24 22:38] lwasser commented on #47
hi @edgarriba we are hitting the holiday season here in the US and so pyOpenSci will be taking a holiday break through the new year. Here is what i suggest before I sign off for the next week! First, please open a new submission for review if your package is ready.

Please do this anytime but know that we won't be able to look at it until after January 3.
Once you do that I will close this issue a

[2021-12-24 22:51] NickleDave commented on #47
Hi @edgarriba thank you for your quick reply.

In our guide we ask for a three week turnaround but with everyone's schedules extra taxed right now I would say 1-2 months.

I am actually waiting to hear more from the author of the package @enra64 about the intended audience -- I think that might have got lost in the conversation above.

Let me hear more from @enra64 and do my own homework based on

[2021-12-25 11:19] SimonMolinsky commented on #43
Hi @lwasser , Thanks for the reminder! I don't have any questions at all and my review process is in progress so I'll fit into a deadline :)

Happy New Year and the calming Holidays for all of you!

[2021-12-26 10:55] AlexS12 commented on #45
Hi there! I was starting my review work today and I am having some problems with running the tests. I have just opened an issue https://github.com/hpi-dhc/jointly/issues/10

[2021-12-26 12:36] AlexS12 commented on #45
Hi! Here you can find the first round of my review. It is mainly based on the first contact with the package installation and documentation reading (more to come soon). I have left some suggestions below. Not many blocking aspects so far.

I have enjoyed a lot reviewing your package thanks for the contribution!

## Package Review

*Please check off boxes as applicable, and elaborate in comments be

[2021-12-27 07:34] edgarriba commented on #47
Perfect guys, no prob from my side

[2021-12-27 12:55] enra64 commented on #45
Hey @AlexS12, thank you very much for the very detailed review! Regarding the documentation: some of those functions are expected to be used only internally, so the documentation or parameters might seem a bit weird. I've added this information to `get_stretch_factor` as that might seem especially weird. The test-running examples have been updated, it would be nice if you could test again using co

[2021-12-27 13:09] enra64 commented on #47
Thanks everyone for checking this out. Hopefully my colleague will take over creating the review issue soon. Regarding the related researchers: I think the following papers from the exercise recognition/exercise intensity recognition space might be interesting:

* [Pernek et al.: Recognizing the Intensity of Strength Training Exercises with Wearable Sensors](https://www.researchgate.net/publicatio

[2021-12-27 13:55] xmnlab commented on #45
thanks @AlexS12 for the review and thank you @enra64 for addressing the points so quickly.

[2021-12-27 14:01] NickleDave commented on #47
Perfect, thank you @enra64 -- that helps me understand the research context much better.

Please do go ahead with creating the submission, and we will move forward on a review.

I will go ahead and close this.

[2021-12-27 14:01] #47 closed

[2021-12-27 19:42] AlexS12 commented on #45
I have just edited my review comments. ✔️ All green from my side! Thanks for your patience... 😳 It has been a pleasure. Congrats and thank you for your contribution! 🍾

[2021-12-29 22:23] xmnlab commented on #45
----------------------------------------------
🎉 Jointly has been approved by pyOpenSci! Thank you @enra64 for submitting Jointly and many thanks to @AlexS12 and @arthur-e  for reviewing this package! 😸

There are a few things left to do to wrap up this submission:
- [ ] Activate Zenodo watching the repo if you haven't already done so.
- [ ] Tag and create a release to create a Zenodo version and

[2021-12-30 13:55] justamad opened #50 "Sevivi: A Rendering Tool to Generate Videos With Synchronized Sensor Data"
Submitting Author: Name (@justamad)
Package Name: Sevivi
One-Line Description of Package: A Rendering Tool to Generate Videos With Synchronized Sensor Data
Repository Link: https://github.com/HPI-CH/sevivi
Version submitted: 1.0.3
Editor: @xmnlab
Reviewer 1: @edgarriba
Reviewer 2: @pmeier
Archive: TBD
Version accepted: TBD

---

## Description

Sevivi is designed to render plots of sensor data nex

[2021-12-30 13:58] enra64 commented on #50
@justamad is taking over from me after the accepted [presubmission inquiry](https://github.com/pyOpenSci/software-review/issues/47)

[2021-12-30 14:21] NickleDave commented on #50
Got it, thank you @enra64 and welcome @justamad

I need to check in where we are at with other reviews, but I did want to let you know we saw this.
I would expect that we can get started on this late next week--Thursday or Friday.

[2022-01-02 17:39] SimonMolinsky commented on #43
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2022-01-03 15:55] NickleDave commented on #48
Closing this for now but again we are happy to discuss further

[2022-01-03 15:55] #48 closed

[2022-01-03 21:35] lwasser commented on #43
@SimonMolinsky @jbusecke thank you both for these very detailed reviews.
@weiji14  - there are now two reviews  that you can address. Ideally you can reference this review when submitting issues / pull requests as it makes sense. If you have questions, comments or concerns please let us know. When you are done addressing the reviews, please come back here and tell us what has been changed to addre

[2022-01-06 09:52] justamad commented on #50
Thanks @NickleDave for welcoming and thanks @xmnlab for starting the review soon!

[2022-01-07 14:42] leouieda commented on #43
Happy New Year everyone! 🎊  Thank you for the reviews and very positive comments!

Just wanted to chime in on the use of notebooks for examples since I set this up way back when we first started the package:

* We use sphinx-gallery to generate both the gallery examples and the tutorials from the Python files. They generate the notebooks automatically when building the docs (see links at the end o

[2022-01-07 15:49] xmnlab commented on #50
## Editor checks:

- [x] **Fit**: The package meets criteria for [fit](https://www.pyopensci.org/contributing-guide/open-source-software-peer-review/aims-and-scope.html#package-categories) and [overlap](https://www.pyopensci.org/contributing-guide/open-source-software-peer-review/aims-and-scope.html#package-overlap).
- [x] **Automated tests:** Package has a testing suite and is tested using CI (e.

[2022-01-07 16:39] lwasser commented on #43
hey there @leouieda  👋 !!
I think that all of your comments above are reasonable. Sphinx gallery is great because it does provide that download link in both notebook and .py format at the bottom of each gallery item so i think it addresses the issue of anyone who might want a notebook without the issues you mentioned above. Thank you so much for the thoughtful reply. I've also thought about buildi

[2022-01-08 03:12] weiji14 commented on #43
Hi all, thanks for all the great feedback. I will provide a separate response to all the longer review comments, but the ones below seem like the key issues the PyGMT team will need to work on in the coming weeks:

- [ ] https://github.com/GenericMappingTools/pygmt/issues/1662
- [ ] https://github.com/GenericMappingTools/pygmt/issues/1664
- [ ] https://github.com/GenericMappingTools/pygmt/issues/1

[2022-01-08 04:35] weiji14 commented on #43
### Responses to Review Comments

Having Pythonic GMT arguments is something that has came up time and time again, and is a long term goal for PyGMT (see https://github.com/GenericMappingTools/pygmt/projects/6) we want to get done by v1.0. There is some debate on how the syntax should look like (see https://github.com/GenericMappingTools/pygmt/issues/1082), and it will take time to fully implement

[2022-01-10 14:31] arianesasso commented on #45
Dear @xmnlab, @arthur-e, @AlexS12, and @lwasser, thank you so much for your great work and help!

I hope you had a good start of the year!

I have activated the Zenodo watch, created the release, added the badge, and created the PR :). This review process is awesome and I am looking forward to contributing again 🙌

[2022-01-12 10:51] SimonMolinsky commented on #43
Hi @leouieda , Hi @weiji14

I suspected that tutorials written as Python scripts must make some sense but I didn't consider their memory size. It's invaluable knowledge for me too! I'll consider the same action within my projects.

I must say, that your package is like a spider's web. I've used it once when I was checking its capabilities and I will gradually move all my projects into it. It saves

[2022-01-12 16:10] xmnlab commented on #50
@pmeier, thank you for volunteering to review for PyOpenSci!

The following resources will help you complete your review:

1. Here is the **[reviewers guide](https://www.pyopensci.org/contributing-guide/open-source-software-submissions/reviewer-guide.html)**. This guide contains all of the steps and information needed to complete your review.
2. Here is the **[review template](https://www.pyopensc

[2022-01-12 16:13] xmnlab commented on #50
@edgarriba, the deadline for the review is 2022-01-26. Please get in touch with any questions or concerns!

[2022-01-12 16:26] xmnlab commented on #45
dear @arianesasso, thank you so much. It was great to be acting here as editor :)
I think that the review process is complete now, so I am closing this issue.
feel free to ping me if there is anything missing or any other question.

all the best!

[2022-01-12 18:32] astrojuanlu commented on #45
@xmnlab You forgot to hit the `Close` button!

[2022-01-12 18:45] NickleDave commented on #45
Maybe @xmnlab wanted to leave this open so everyone could appreciate a nice review 😼

[2022-01-12 18:45] #45 closed

[2022-01-12 18:48] lwasser commented on #45
wow awesome y'all!! @xmnlab thank you for your expert editor leadership here and thank you to all reviewers @arthur-e, @AlexS12 and @arianesasso for this submission to pyopensci!

[2022-01-12 18:55] xmnlab commented on #45
@astrojuanlu thanks for catching that. I was very sick yesterday and I am still recovering :) so I am a bit slow today XD

@NickleDave thanks for closing the issue :)

[2022-01-13 06:55] pmeier commented on #50
@justamad The repository has no tags. From the commit history I identified [52c8bef](https://github.com/HPI-CH/sevivi/commit/52c8bef206e531c797221a08037306c0c5b0ca59) as the commit that changed the version to `1.0.3` in the `pyproject.toml`. I'm going to use it as base for my review.

[2022-01-22 15:35] pmeier commented on #50
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2022-01-24 11:48] xmnlab commented on #50
sure thing, that works fine. thanks!

and thank you for your review!

[2022-01-26 10:29] edgarriba commented on #50
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2022-01-26 19:31] xmnlab commented on #50
@edgarriba thank you for your review.

@justamad, the first round of review is complete.

let us know if you have any questions or comments and let us know when you have all the suggestions addressed so we can give a second review there :)

thank you so much.

[2022-01-31 09:02] justamad commented on #50
@xmnlab thank you very much for your good job as the editor
@edgarriba @pmeier thank you very much for your reviews

We'll let you know once we have addressed all issues and are ready for the second review! :)

[2022-02-23 18:15] #49 closed

[2022-02-23 19:22] hscannell commented on #49
Hi @lwasser, sorry I missed your earlier comment! I have updated the package description and placed the repo link in the correct place now.

[2022-02-23 19:26] hscannell opened #51 "Ocetrac: A Python package to track the spatiotemporal evolution of marine heatwaves"
Submitting Author: Hillary Scannell (@hscannell)
Package Name: Ocetrac
One-Line Description of Package: Ocetrac is a python package to detect and track the spatiotemporal evolution of marine heatwaves.
Repository Link:  https://github.com/ocetrac/ocetrac
Version submitted:  0.1.4
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

## Description

Ocetrac is an anal

[2022-03-03 23:41] jlpalomino commented on #51
Hi @hscannell thank you for your submission! I will be the editor for this review. I am working on the editor checks and will be in touch about that soon.

Regarding reviewers, if you happen to have any suggestions, feel free to let me know. Thanks!

[2022-03-06 20:52] jlpalomino commented on #51
Hi @hscannell A few searches have turned up packages and tools that appear to support similar work:

- https://github.com/ecjoliver/marineHeatWaves
- https://zenodo.org/record/5112733#.YiUZkttlDUI
- https://www.publish.csiro.au/es/fulltext/ES21014
  *  http://www.marineheatwaves.org/tracker.html

Can you please provide some additional context for the Scope question: "Are there other Python package

[2022-03-21 14:28] weiji14 commented on #43
Hi all, apologies for the late reply. We've made a new [PyGMT v0.6.0 release](https://github.com/GenericMappingTools/pygmt/releases/tag/v0.6.0) last week :tada: that has addressed the main items in https://github.com/pyOpenSci/software-review/issues/43#issuecomment-1007875364. You can find the updated documentation page at https://www.pygmt.org/v0.6.0. The key changes relevant to this PyOpenSci re

[2022-03-28 18:38] lwasser commented on #43
Hi there! Just a quick reply w an update.. I'm going to try to look at
this..this week. I'm taking a little vacation work break while pyopensci
gets transferred to a new home so it can be it's own organization! I just
was evacuated this weekend because of a fire that's still burning by my
home. So while I'm ok I'm just a bit behind and not focused this week.. I
will check back in when I'm more foc

[2022-03-28 18:47] weiji14 commented on #43
No worries Leah, I saw the news about the fire and your tweet, so I totally understand if you need more time on this. Just focus on getting to a safe space first, the rest can come later.

[2022-04-15 00:53] jlpalomino commented on #51
Hi @hscannell I want to follow up on my previous message. We are excited about your submission and have identified some potential reviewers. We'd love to learn more from you about the Scope question and move forward with the review process. Please feel free to let me know if you have any questions. Thanks!

[2022-04-27 12:14] apalarcon opened #52 "humpi: The python code for the Hurricane Maximum Potential Intensity (HuMPI) model"
Submitting Author: Albenis Pérez-Alarcón (@apalarcon)
Package Name: HuMPI: Hurricane Maximum Potential Intensity model
One-Line Description of Package: https://github.com/apalarcon/HuMPI-master
Repository Link:  https://github.com/apalarcon/HuMPI-master
Version submitted:   V1.0
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

## Description

- Include a brief p

[2022-04-27 15:52] justamad commented on #50
Hey @xmnlab, thank you very much for the reminder. Unfortunately, there are no updates so far from our side as we currently lack manpower to push this project forward since the last feedback. We will come back once we have resources to finish the necessary tasks :)

Best regards!

[2022-04-27 15:55] xmnlab commented on #50
@justamad no problem, thanks for the update!
all the best!

[2022-04-30 14:58] NickleDave commented on #52
Hi @apalarcon welcome to pyOpenSci and thank you for your interest!

It looks like `HuMPI` could be within scope, but let's please discuss more before beginning a review.

Could you please edit your initial comment above to address the questions in the template?

I have changed the tag on this issue to "presubmission" for now.
Let's do it that way, and just discuss here, instead of you opening ano

[2022-04-30 15:12] NickleDave opened #53 "Change indentation in template submit-software-for-review.md?"
I just noticed when replying to a new submission (#52) that the indentation might be a bit confusing on the template submit-software-for-review.md:
https://github.com/pyOpenSci/software-review/blob/main/.github/ISSUE_TEMPLATE/submit-software-for-review.md

Currently it looks like this:

which to my eye reads like "only fill out these questions if you are submitting a data visualization package"

B

[2022-04-30 15:14] NickleDave commented on #53
So the updated version would look like:

[2022-04-30 17:12] lwasser commented on #53
@NickleDave really great catch. let's make that change. i totally missed that but i can absolutely see how it could be confusing. THANK YOU for the eye in catching it!!!

[2022-04-30 17:33] NickleDave commented on #53
I can make the change now

[2022-04-30 17:40] #53 closed

[2022-04-30 17:59] NickleDave commented on #52
@apalarcon just an update that I fixed our template so that it's clearer that submissions should address those points I asked you to fill out (ask discussed in #53) -- I'm sorry that wasn't clearer

[2022-05-01 00:29] lwasser commented on #53
awesome thank you!

[2022-06-13 05:33] etam4260 opened #54 "hudpy: A Python interface for the US Department of Housing and Urban Development APIs"
Submitting Author: @etam4260
Package Name: hudpy
One-Line Description of Package: A Python Interface to the US Department of Housing and Urban Development APIs
Repository Link:  https://github.com/etam4260/hudpy
Version submitted:  0.2.0
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

## Description

- Include a brief paragraph describing what your package does

[2022-06-14 20:17] NickleDave commented on #54
Hi @etam4260 and welcome to pyOpenSci!

This definitely looks in scope at first glance.
Thank you for filling out the submission in detail.

Let me check in with everyone and we will get back to you by early next week.

[2022-06-28 23:09] lwasser commented on #43
hey there @weiji14 i just wanted to check in as i know i've been stereo silent for too long here. i am currently moving this project to a new home and taking time off. i'm going to check in with the reviewers here to see if the changes made to pygmt satisfy their reviews... i am so sorry that this submission has gotten stuck in my job transition . Please know that in the fall (in about 2 months) i

[2022-06-28 23:10] lwasser commented on #43
hi there @SimonMolinsky @jbusecke i am checking in on this review. do you have time to have a look at the changes made in response to your review as posted by @weiji14 above? many thanks and my sincere apologies for the delay.

[2022-06-28 23:13] NickleDave commented on #54
Hi again @etam4260 sorry for the delayed reply.
Officially, pyOpenSci is on hiatus until fall while we move to  a new "home".
@lwasser is about to update the templates and README to make that clear.

But I would really like to get you a review.
I am sure `hudpy` is in scope, and it would be great to help you make sure it's as good as it can be for the Python community.

Please reply confirming tha

[2022-06-29 19:50] jbusecke commented on #43
Hi @lwasser, I anticipate a larger than usual workload in anticipation of Scipy2022. Would a response after July 18th be acceptable? Very sorry to slow down the review.

[2022-06-29 20:04] weiji14 commented on #43
Sure! We'll have a PyGMT v0.7.0 release in early July, and a SciPy 2022 talk by @meghanrjones, so ok with a response around mid to end of July.

[2022-06-30 08:38] SimonMolinsky commented on #43
Hi @lwasser , hi @weiji14 - I'll take a look into changes in the next week :)

[2022-07-09 04:21] etam4260 commented on #54
Hi @NickleDave, thanks for the response. I've been taking a break from OSS development for a bit. Since I have submitted the rhud package for review, I am still working on changes for those and have not "mapped" over the feedback to the python version. I first would like to work on making those changes before getting formal feedback as I think the reviewers' comments will have a lot of overlap wit

[2022-07-09 13:19] NickleDave commented on #54
Makes sense to me @etam4260! Just let us know when you're ready

[2022-07-21 14:22] jbusecke commented on #43
I finally found some time (and sleep) after Scipy, and have reviewed the changes here.
Big thanks for all the developers for the many changes made in response to my review.
The only thing I noticed was that there are still a few checkmarks missing in https://github.com/GenericMappingTools/pygmt/issues/1686, but given the record of development I have seen here, I am confident these will be addresse

[2022-07-21 20:00] SimonMolinsky commented on #43
Hi @weiji14 , @leouieda , @lwasser , @jbusecke!

I had mostly propositions of improvements (more Python, less GMT), and I've checked all linked resources (projects and discussions) - I think that we are on the same page, and this is what I was looking for. I agree, that classes could be better data structures to pass "Pythonic" parameters into drawing functions (instead of dictionaries).

Your new

[2022-09-01 16:33] lwasser commented on #1
Good morning, everyone. Because this issue has remained open since 2019 with not much movement, I am going to close it. @choldgraf @jlpalomino @ocefpaf @xmnlab @npch thank you all so much for helping us refine our review process through this review. If in the future Filipe, you wish to resubmit this you are welcome to. In the meantime pyopensci will be running in full force as of today (september

[2022-09-01 16:33] #1 closed

[2022-09-01 16:38] lwasser commented on #16
Good morning, @megies et al. I am following up on this review. I realize this is a long stale issue but I wanted to revisit to dot i's and cross t's as necessary. First, thank you all for your time in submitting and reviewing this package. If i recall, the issue with proceeding with this review was the fact that many of the tests (please correct me if i'm wrong) were failing due to understandable

[2022-09-01 16:38] #16 closed

[2022-09-01 16:40] lwasser commented on #36
hi there @skasberger ! this issue has remained open without any response for well over a year. Because of this, I am going to close it. If you decide you'd like to resubmit this for peer review, please feel free to respond here and reopen the issue. I am just cleaning up old / stale issues currently but this doesn't mean that this package isn't a good candidate for review - it seems like we were h

[2022-09-01 16:40] #36 closed

[2022-09-01 16:43] lwasser commented on #41
hi there @jonmatthis ! this issue has been quiet for almost exactly a year so for now I am going to close it. We will be working out procedures that will allow the community to ask for help on package submissions - this likely will involve our [discourse forum](https://pyopensci.discourse.group/). If you have specific questions about python packaging I highly suggest that you ask the question ther

[2022-09-01 16:43] #41 closed

[2022-09-01 16:45] lwasser commented on #37
hi there @arianesasso !! i am checkin in on this review. Did you end up moving forward with submitting to JOSS to get your cross-ref validated DOI? If you decided against it I am going to close this issue and remove the JOSS tag. If you did - can you kindly send us a link to the JOSS issue? Many thanks.

In the future we do plan to discuss the option of moving repos over to the pyopensci organizat

[2022-09-01 16:52] lwasser commented on #43
@jbusecke @SimonMolinsky wonderful - thank you both SO VERY MUCH for your thoughtful replies. And MY APOLOGIES for how delayed my response was. I've been offline but am not working full time on this project so you can expect future review processes to move forward much more smoothly. Based upon this all, @weiji14 @leouieda I wanted to congratulate you on being accepted by the pyOpenSci review proc

[2022-09-01 16:52] lwasser commented on #43
----------------------------------------------
🎉 pyGMT has been approved by pyOpenSci! Thank you @weiji14  for submitting pyGMT and many thanks to @SimonMolinsky  @jbusecke for reviewing this package! 😸

There are a few things left to do to wrap up this submission:
- [ ] Activate Zenodo watching the repo if you haven't already done so.
- [ ] Tag and create a release to create a Zenodo version and

[2022-09-01 17:22] lwasser commented on #50
hi @justamad I am checking in on this review. It has been sitting stale for several months - are there any updates @justamad on responding to the reviews and what your timeline will look like? If you don't think that you can get to the reviews than we may need to close the issue and reopen in the future when there is time.

@edgarriba @pmeier thank you so much for your time and patience in reviewi

[2022-09-01 17:50] lwasser commented on #51
Hi there @jlpalomino @hscannell Jenny, thank you so much for serving as an editor here on this submission. @hscannell I am following up on this submission. Since there has been no response from you for over 4 months, we are going to close this issue. If you wish to resubmit in the future, please feel free to do so, however we will need to restart the review process from the beginning. All the best

[2022-09-01 17:50] #51 closed

[2022-09-01 18:26] #52 closed

[2022-09-01 18:28] lwasser commented on #54
hey there @etam4260 ! I really appreciate the conversation above and the acknowledgement that you needed a break! I wanted to check back in to see if you are still interested in working through a review with us or if you'd like to wait. IF you would like to wait - no problem. I will close this issue for now, and you can reopen it when you are ready. If you are ready now please just let us know.

E

[2022-09-01 18:47] ocefpaf commented on #1
Those are great news! Glad to hear it!!

PS: the erddapy application was never really meant to be a real one, just a test-drive of the workflow. I'd be happy to re-submit a real one as soon as possible,

[2022-09-01 21:14] etam4260 commented on #54
Hi @lwasser yes, I haven't gotten much time to mess around/revise my work for awhile. No problem. Perfectly fine if this gets closed for now.

[2022-09-01 21:39] lwasser commented on #1
@ocefpaf  hi!! 👋  yes i'm very excited and even more excited to get to work with you and the conda-forge team as it makes sense :) i totally understand erddapy was intended to be submitted to test our review process and we did learn a lot from it! you are welcome to submit to us any time you wish!! there is no rush - we aren't going anywhere!! Please do feel free to reach out if pyopensci can supp

[2022-09-01 21:41] lwasser commented on #54
ok no problem @etam4260 ! I am going to close this issue with this comment. But please do feel free to resubmit in the future if you find that you have more time to devote to the review process. And keep an eye on pyopensci as we grow the organization and the community. i'm hopeful that we can really help the community of maintainers like you! All the best.

[2022-09-01 21:41] #54 closed

[2022-09-02 06:31] pmeier commented on #50
@lwasser Is there a separate list for reviewers or just the one for contributors? If it is only the latter, both me and @edgarriba are already on it. I've contributed a package and he reviewed it.

[2022-09-02 07:15] simonvh opened #56 "Presubmission enquiry for genomepy"
Submitting Author: Simon van Heeringen (@simonvh)
Package Name: genomepy
One-Line Description of Package: simple and straightforward downloading and management of genomic data.
Repository Link (if existing):   https://github.com/vanheeringen-lab/genomepy

---

## Description

Genomepy is designed to provide a simple and straightforward way to download and use genomic data (genome sequences and gen

[2022-09-02 17:46] lwasser commented on #50
@pmeier thank you for this question -- i did merge your PR. i know it's confusing now. But what you did was perfect. I have those lists setup using YAML so the goal is once i start working on the website I will be able to add how users have contributed and associate reviewers with packages as well. I just haven't implemented those steps yet so you can't see it on the website. but as long as i have

[2022-09-05 08:19] arianesasso commented on #37
Hi @lwasser, we did publish it on JOSS :). Here is the link: https://joss.theoj.org/papers/10.21105/joss.03679

Thanks for letting us know! For now, we are also ok with having it in our organization.

Cheers!

[2022-09-05 11:10] justamad commented on #50
Dear @lwasser , many thanks for your message! Unfortunately, we don't have the manpower to finish this project in the foreseeable future. Therefore I would like to thank the reviewers for their time and effort spent for this project. I will reopen this issue somewhere in the future in case we continue working on it. Best regards

[2022-09-06 14:18] lwasser commented on #50
ok - thank you for letting us know @justamad . I am going to close this issue. @pmeier @edgarriba thank you again for your time reviewing this.

[2022-09-06 14:18] #50 closed

[2022-09-06 14:36] weiji14 commented on #43
Thanks @lwasser and all the reviewers! Just want to quickly acknowledge that we're delighted with the news, and it's been a pleasure to have such a nice open review process :smiley:

In terms of next steps, we've got Zenodo set-up already at https://doi.org/10.5281/zenodo.3781524 (since v0.1.0 in fact), so you can tick the first 2 boxes. I'll submit PRs for the other 3 checkboxes soon (once I get

[2022-09-06 15:46] lwasser commented on #43
@weiji14 are you on twitter? i'm going to post about this review being accepted and would love to mention you.

[2022-09-06 16:05] weiji14 commented on #43
Yes, I'm on Twitter, but you can just tag [`@gmt_dev`](https://twitter.com/gmt_dev)/#PyGMT and that'd be great. Prefer to give credit to the whole PyGMT team in the spirit of open source :grin:

[2022-09-06 16:40] lwasser commented on #43
ok wonderful :) thanks!

[2022-09-06 21:42] jbusecke commented on #43
Wonderful news! Thanks for letting me be part of this (by miles best I have ever had) reviewer experience. Also very delighted to learn about the overlap with JOSS.

[2022-09-07 07:06] arianesasso commented on #37
Thank you for following up :).

This is the link: https://joss.theoj.org/papers/10.21105/joss.03679

Does it work for you?

[2022-09-07 15:40] lwasser commented on #37
Thank you @arianesasso i was looking for this guy: https://github.com/openjournals/joss-reviews/issues/3679

It looks like you went through a  second review :) that's fine but you didn't need to once accepted here! but that's wonderful that you put in that extra effort!!! Thank you so much I am going to close this issue now!

[2022-09-07 15:40] #37 closed

[2022-09-07 17:33] lwasser commented on #43
@jbusecke thank you!! and that's really wonderful to hear that you thought the process was good as well. In the future the process won't be as delayed (i've been offline for the past 6 months so that was my fault!).

The last step for reviewers is adding @SimonMolinsky and @jbusecke to[ our website as contributors, here](https://github.com/pyOpenSci/pyopensci.github.io/blob/main/_data/contributors

[2022-09-09 00:01] NickleDave commented on #56
Hi @simonvh, welcome to pyOpenSci and thank you so much for your detailed presubmission inquiry!

Genomepy definitely looks in scope to me.

There is a bit of a question about how to handle the fact that it's already been reviewed by JOSS.
In this case I see that the JOSS review was in 2017, and that you all have been steadily developing the package since that time.

Can you tell us a little bit m

[2022-09-09 18:36] lwasser commented on #56
Thank you @NickleDave !! @simonvh yup, we just want to understand your goals in submitting here. I think it would be great to support packages that have been reviewed by JOSS given we offer more python specific feedback in our reviews in addition to providing visibility of being a pyOS vetted package! So there are many wins here. But any insight into your goals for this review would be wonderful a

[2022-09-14 16:49] njr0 opened #58 "TDDA (Test-Driven Data Analysis) Python Library"
Submitting Author: Name (@github_handle)  @njr0
Package Name: tdda
One-Line Description of Package: Test-Driven Data Analysis
Repository Link (if existing):  https://github.com/tdda/tdda

---

## Description

The TDDA Python module provides command-line and Python API support for the overall process of data analysis, through the following tools:

- Reference Testing: extensions to unittest and pyt

[2022-09-15 18:58] lwasser commented on #7
hey 👋  @ocefpaf @kysolvik @marskar ! I hope that you are all well. I am reaching out here to all reviewers and maintainers about pyOpenSci [now that i am working full time on the project (read more here)](https://www.pyopensci.org/blog/new-executive-director-leah-wasser). We have a survey that we'd like for you to fill out so we can:

[🔗 HERE IS THE SURVEY LINK 🔗 ](https://forms.gle/ZZXcD1hr18tYmY

[2022-09-15 18:59] lwasser commented on #12
hey 👋  @cosmicBboy  @mbjoseph  @xmnlab  ! I hope that you are all well. I am reaching out here to all reviewers and maintainers about pyOpenSci [now that i am working full time on the project (read more here)](https://www.pyopensci.org/blog/new-executive-director-leah-wasser). We have a survey that we'd like for you to fill out so we can:

[🔗 HERE IS THE SURVEY LINK 🔗 ](https://forms.gle/ZZXcD1hr1

[2022-09-15 19:00] lwasser commented on #18
hey 👋  @jlpalomino   @martinfleis ! I hope that you are all well. I am reaching out here to all reviewers and maintainers about pyOpenSci [now that i am working full time on the project (read more here)](https://www.pyopensci.org/blog/new-executive-director-leah-wasser). We have a survey that we'd like for you to fill out so we can:

[🔗 HERE IS THE SURVEY LINK 🔗 ](https://forms.gle/ZZXcD1hr18tYmY2

[2022-09-15 19:02] lwasser commented on #18
@anitagraser my apologies i'm copy/ paste efficient today. can you kindly read the above issue ^^^ and fill out the survey [🔗 HERE IS THE SURVEY LINK 🔗](https://forms.gle/ZZXcD1hr18tYmY2p6)

[2022-09-15 19:03] lwasser commented on #20
hey 👋  @morganjwilliams   @charlesll  @rbeucher  ! I hope that you are all well. I am reaching out here to all reviewers and maintainers about pyOpenSci [now that i am working full time on the project (read more here)](https://www.pyopensci.org/blog/new-executive-director-leah-wasser). We have a survey that we'd like for you to fill out so we can:

[🔗 HERE IS THE SURVEY LINK 🔗 ](https://forms.gle/

[2022-09-15 19:04] lwasser commented on #24
hey 👋  @mluerig   @jbencook  @agporto @sdonoughe  ! I hope that you are all well. I am reaching out here to all reviewers and maintainers about pyOpenSci [now that i am working full time on the project (read more here)](https://www.pyopensci.org/blog/new-executive-director-leah-wasser). We have a survey that we'd like for you to fill out so we can:

[🔗 HERE IS THE SURVEY LINK 🔗 ](https://forms.gle

[2022-09-15 19:06] lwasser commented on #25
hey 👋  @pmeier @NickleDave @soumith  @edgarriba   ! I hope that you are all well. I am reaching out here to all reviewers and maintainers about pyOpenSci [now that i am working full time on the project (read more here)](https://www.pyopensci.org/blog/new-executive-director-leah-wasser). We have a survey that we'd like for you to fill out so we can:

[🔗 HERE IS THE SURVEY LINK 🔗 ](https://forms.gle

[2022-09-15 19:08] lwasser commented on #26
hey 👋  @snacktavish @NickleDave @bpucker @leomrtns  ! I hope that you are all well. I am reaching out here to all reviewers and maintainers about pyOpenSci [now that i am working full time on the project (read more here)](https://www.pyopensci.org/blog/new-executive-director-leah-wasser). We have a survey that we'd like for you to fill out so we can:

[🔗 HERE IS THE SURVEY LINK 🔗 ](https://forms.g

[2022-09-15 19:08] lwasser commented on #31
hey 👋  @JonnyTran  @gawbul @ksielemann @NickleDave   ! I hope that you are all well. I am reaching out here to all reviewers and maintainers about pyOpenSci [now that i am working full time on the project (read more here)](https://www.pyopensci.org/blog/new-executive-director-leah-wasser). We have a survey that we'd like for you to fill out so we can:

[🔗 HERE IS THE SURVEY LINK 🔗 ](https://forms.

[2022-09-15 19:10] lwasser commented on #37
hey 👋  @arianesasso  @willingc  @NickleDave  @xmnlab @agricolab  ! I hope that you are all well. I am reaching out here to all reviewers and maintainers about pyOpenSci [now that i am working full time on the project (read more here)](https://www.pyopensci.org/blog/new-executive-director-leah-wasser). We have a survey that we'd like for you to fill out so we can:

[🔗 HERE IS THE SURVEY LINK 🔗 ](ht

[2022-09-15 19:11] lwasser commented on #45
hey 👋  @enra64 @xmnlab  @arthur-e @AlexS12   ! I hope that you are all well. I am reaching out here to all reviewers and maintainers about pyOpenSci [now that i am working full time on the project (read more here)](https://www.pyopensci.org/blog/new-executive-director-leah-wasser). We have a survey that we'd like for you to fill out so we can:

[🔗 HERE IS THE SURVEY LINK 🔗 ](https://forms.gle/ZZXc

[2022-09-15 19:14] lwasser commented on #43
hey 👋  @weiji14  @jbusecke  @SimonMolinsky   ! I hope that you are all well. I am reaching out here to all reviewers and maintainers about pyOpenSci [now that i am working full time on the project (read more here)](https://www.pyopensci.org/blog/new-executive-director-leah-wasser). We have a survey that we'd like for you to fill out so we can:

[🔗 HERE IS THE SURVEY LINK 🔗 ](https://forms.gle/ZZXc

[2022-09-15 20:38] lwasser opened #59 "I NEED HELP"
## What is this?

To make the review process easier and to help you maintain your package, pyOpenSci requires testing, continuous integration, and full documentation for packages submitted for review (read more [here][PackagingGuide]. We want to make this as easy as possible for newcomers, so if you'd like some help in prepping your package you can submit this request and we'll assign someone to h

[2022-09-15 20:38] lwasser commented on #59
i really do need help . 🙃

[2022-09-15 20:40] lwasser commented on #59
ok enough of my nonsense. this worked closing

[2022-09-15 20:40] #59 closed

[2022-09-15 20:50] NickleDave commented on #58
Hi @njr0 and welcome to pyOpenSci!
Thanks so much for your detailed presubmission.

We *just* began software review again [after returning from hiatus](https://www.pyopensci.org/blog/new-executive-director-leah-wasser). But I did have a chance to discuss `tdda` with the executive director @lwasser.

She feels the package is definitely in scope.
And we have some ideas for an editor and reviewers.

[2022-09-17 04:31] mobigroup opened #60 "PyGMTSAR (Python GMTSAR)"
Submitting Author: Alexey Pechnikov (informally) or Aleksei Pechnikov (by passport) (pechnikov@mobigroup.ru)
All current maintainers: (pechnikov@mobigroup.ru)
Package Name: PyGMTSAR
One-Line Description of Package: PyGMTSAR (Python GMTSAR) is an open source project and Python package that provides easy and fast Sentinel-1 Satellite Interferometry for everyone
Repository Link:  https://github.com/m

[2022-09-19 21:23] lwasser commented on #60
👋 hi @mobigroup thank you for this submission. I will get back to you with next steps. In the meantime can you explain what the GMTSAR binary tools are / entail? does this package wrap around them to perform tasks on sentinel data? or is it an API wrapper to download the data? Many thanks for any clarification.

[2022-09-20 04:55] mobigroup commented on #60
Hi @lwasser GMTSAR is a well-known satellite interferometry (InSAR) system based on GMT tools for geospatial data processing, see details on the project page: https://topex.ucsd.edu/gmtsar/ You’d use GMTSAR for the complete interferometry processing but it doesn’t have any user interface because it’s a set of linux console binaries and shell scripts. Every processing requires lots of manual work e

[2022-09-22 01:35] NickleDave commented on #56
Hi again @simonvh, just following up here.

@lwasser and I had a chance to talk a little bit more about this presubmission today.

We do think in this case there's no problem with the previous review from JOSS, given that it was 2017 and it does look like you all have done significant development of the package since that time.

I am confident we can find appropriate editors and reviewers by reach

[2022-09-23 08:55] simonvh commented on #56
Hi @NickleDave and @lwasser, sorry for the delay in answering! Thanks for the input here. Just to add to the discussion: my aim was primarily to 1) gain more visibility for genomepy and 2) to support pyOpenSci, which I didn't know about and heard about through Twitter. In addition to considering pyOpenSci, we have also recently submitted genomepy as a journal paper (preprint here: https://arxiv.or

[2022-09-23 16:38] NickleDave commented on #56
Thank you @simonvh.

We're glad to help gain visibility for `genomepy` and appreciate your support.

Great, It sounds like we're on the same page that a review would be appropriate given the amount of time that's passed and the development that's been done :+1:

And just to clarify what pyOpenSci does that is different:
* We drive adoption of community standards and emphasize robust Python-specifi

[2022-09-23 16:41] NickleDave commented on #56
Ok understood.
We have had pre-prints submitted before (see e.g. #26 ) but I think this is the first time someone has simultaneously submitted to pyOpenSci and a journal.

We just want to be sure we're handling this the right way.
@lwasser is checking in with contacts at JOSS and rOpenSci.

There's also a question of whether people would cite the journal article, the version of the package that py

[2022-09-26 09:55] teddygroves opened #62 "Presubmission inquiry for cookiecutter-cmdstanpy-analysis"
Submitting Author: Teddy Groves (@teddygroves)
Package Name: cookiecutter-cmdstanpy-analysis
One-Line Description of Package: An interactive template for cmdstanpy analyses
Repository Link (if existing):   https://github.com/teddygroves/cookiecutter-cmdstanpy-analysis

---

Hi there! I'm not sure whether my project cookiecutter-cmdstanpy-analysis is within scope for pyOpenSci because it is not a p

[2022-09-27 16:31] NickleDave commented on #62
Hi @teddygroves and welcome to pyOpenSci.

I completely understand why you would want to a review but unfortunately we consider project templates as out of scope at this time. In your particular case we would need to additionally make sure we have reviewers with domain expertise. We have just started up review again after [transferring to a new fiscal host](https://www.pyopensci.org/blog/new-execu

[2022-09-27 16:31] #62 closed

[2022-09-27 20:40] teddygroves commented on #62
Thanks very much for the detailed response and advice!

I’ve already coordinated with the Stan community a little bit and have added a link to cookie cutter-cmdstanpy-analysis to the cmdstanpy docs.

I agree that the docs could use some more specific vignette style examples - thanks a lot for the tip!

I’ll keep track of pyOpenSci’s policies as the review process restarts and especially the issue

[2022-09-28 14:21] lwasser commented on #45
Good morning @AlexS12 and @enra64 ! just a friendly reminder to take 5-10 minutes to fill out our survey . We really appreciate it. Arne if you can have all of the maintainers of your package fill it out that would be great. We will stay in touch with package authors - checking in 1-2 times a year to ensure the package continues to be maintained and see better understand challenges that you face.

[2022-09-28 15:01] lwasser commented on #31
Hi there 👋  @JonnyTran  @ksielemann I know that everyone is super busy BUT if you have just 5-10 minutes to fill our our onboarding / feedback survey for this review i'd greatly appreciate it!! Many thanks in advance for your time. it really helps our organization!  Jonny, if there are other maintainers involved in this package please ping them here as well. we would like to keep in touch with our

[2022-09-28 15:13] lwasser opened #63 "TODO: Update template headers with package data (also supports website)"
We recently added a bit more information to our template headers. This means that all of the old issues are missing that info. Specifically we need a list of all maintainers on each package... so will need to update every existing issue with the new template format.

There are several items that we need to maintain at the top of each issue.

Also some maintainers could move a repo (eg pandera) and

[2022-09-28 15:17] lwasser commented on #26
hi 👋  @snacktavish  and @bpucker ! just a friendly reminder to take 5-10 minutes to fill out our survey . We really appreciate it. Emily, if you can have all of the maintainers of your package fill it out that would be great. We will stay in touch with package authors - checking in 1-2 times a year to ensure the package continues to be maintained and see better understand challenges that you face.

[2022-09-28 15:20] lwasser commented on #25
hey there @soumith @edgarriba 👋 Just a friendly reminder to take 5-10 minutes to fill out our survey . We really appreciate it.  Thank you in advance for helping us by filling out the survey!! 🙌

✨ Phillip thank you so much for taking the time to fill it out 🙌

[🔗 HERE IS THE SURVEY LINK 🔗 ](https://forms.gle/ZZXcD1hr18tYmY2p6)

[2022-09-28 15:28] lwasser commented on #24
hey there @mluerig @jbencook @agporto  👋 Just a friendly reminder to take 5-10 minutes to fill out our survey . We really appreciate it.  Thank you in advance for helping us by filling out the survey!! 🙌  Moritz, it's really important for us to collect information from our maintainers so that we can both stay in touch with you regarding package maintenance and also support you through time. We rea

[2022-09-28 15:37] lwasser commented on #20
hey there @charlesll @rbeucher  👋 Just a friendly reminder to take 5-10 minutes to fill out our survey . We really appreciate it.  Thank you in advance for helping us by filling out the survey!! 🙌

✨ Morgan thank you so much for taking the time to fill it out 🙌 I will shoot you an email later this week!

[🔗 HERE IS THE SURVEY LINK 🔗 ](https://forms.gle/ZZXcD1hr18tYmY2p6)

[2022-09-28 15:42] lwasser commented on #18
hey there @jlpalomino  @xmnlab   👋 Just a friendly reminder to take 5-10 minutes to fill out our survey . We really appreciate it.  Thank you in advance for helping us by filling out the survey!! 🙌

✨ Martin and Anita --  thank you so much for taking the time to fill it out 🙌

[🔗 HERE IS THE SURVEY LINK 🔗 ](https://forms.gle/ZZXcD1hr18tYmY2p6)

[2022-09-28 15:45] lwasser commented on #12
hey there @cosmicBboy @mbjoseph  👋 Just a friendly reminder to take 5-10 minutes to fill out our survey . We really appreciate it.  Thank you in advance for helping us by filling out the survey!! 🙌  Niels, it's really important for us to collect information from our maintainers so that we can both stay in touch with you regarding package maintenance and also support you through time. We really app

[2022-09-28 16:06] JonnyTran commented on #31
Thank you for the reminder! I've just submitted the survey. Looking forward to future contributions to PyOpenSci

[2022-09-28 18:13] NickleDave commented on #56
Hi @simonvh, one more update on this.
In regards to publishing in other venues, we will be adopting the approach that rOpenSci takes, to avoid potential conflicts. From their guide:

I apologize that we did not previously have clear guidance in place. @lwasser is in the process of adding this language to our guidebook now.

Long story short:
We really appreciate that you want to support pyOpenSci.

[2022-09-28 18:30] NickleDave commented on #31
Thank you @JonnyTran, same!

[2022-09-28 19:24] lwasser commented on #31
you rock @JonnyTran !!!

[2022-09-29 05:51] simonvh commented on #56
HI @NickleDave, thanks and no worries! I understand that this all needs to be figured out. We'll wait, and I'll check back in at a later stage.

Just as an aside, I would personally love for venues like JOSS and pyOpenSci to also be sufficient as publication. At least going by the JOSS review, the review process is much more useful, technically informative and geared towards improving a software p

[2022-09-29 05:51] #56 closed

[2022-09-29 12:33] SimonMolinsky commented on #43
Done! 😊

[2022-09-29 14:12] lwasser commented on #56
@simonvh thank you so much for this feedback. I agree. RopenSci actually has agreements with several publications to allow their review to suffice for that publication's review. Then the publication can focus on the paper part and we focus on the technical part. Please feel free to mention this to the publication that you are working with as we are open to it. We have that type of agreement with J

[2022-09-29 17:53] lwasser commented on #60
hi @mobigroup thank you for your patience with us as we stand up pyOpenSci. I think you have CI already so we can check that box. I am going to look for someone in the community to have a look at this package. We are just getting our editorial board setup and I am trying to create structure for the organization. I want to make sure that you have a good experience with us. Please know that this pro

[2022-09-29 18:46] mobigroup commented on #60
Hi @lwasser thanks, I understand it’s not so easy to review complex software packages! And yes, I’ve added CI tests recently.

While there are dozens of satellite interferometry packages I don’t know any other available for everyone (you don’t need to write very complex configurations in many separate files and so on) and everywhere (as on local computer as on cloud servers and even on Google Cola

[2022-10-02 02:03] weiji14 commented on #43
Cool, thanks for the reminder Leah, just completed the survey!

[2022-10-02 15:56] michaelgrund commented on #43
Done!

[2022-10-03 07:52] mluerig commented on #24
Done! 😊

From: Leah Wasser ***@***.***>
Sent: Wednesday, 28 September 2022 17:29
To: pyOpenSci/software-review ***@***.***>
Cc: Moritz Lürig ***@***.***>; Mention ***@***.***>
Subject: Re: [pyOpenSci/software-review] Phenopype: a phenotyping pipeline for Python (#24)

hey there @mluerig <https://github.com/mluerig>  @jbencook <https://github.com/jbencook>  @agporto <https://github.com/agporto>  👋

[2022-10-06 13:13] jbusecke commented on #43
Done

[2022-10-10 15:55] lwasser commented on #60
hey @mobigroup i just wanted to check in with you - we are searching for an editor so i'm hopeful that we can get things going soon. i'll stay in touch this week as I continue to search. We are just reestablishing our structures so I truly appreciate your patience here. please ping me with any questions

[2022-10-10 16:11] mobigroup commented on #60
Hi @lwasser thanks for the update. FYI, In the recent days I’ve shared PyGMTSAR Docker image which includes the ready to use environment and the live Jupyter notebooks to easy start locally without Google Colab usage. See below how to use it.

Configure your Docker runtime (Preferences -> Resources tab for Docker Desktop) to use 2 CPU cores and 8 GB RAM or 4 CPU cores and 16 GB RAM and so on. Down

[2022-10-12 15:42] lwasser commented on #60
oh that's cool. have you thought about making that image into a binder image? or would it not have enough resources? @mobigroup

and just an update. i think i've found an editor for this. thank you for being so patient. We are just getting the organization structure in place and it just takes time. I think this editor will be back online next monday and then we can kick things off.

In the meantim

[2022-10-12 15:44] lwasser commented on #60
One other note - if you want to work on something while we get organized, you could look into the JOSS side of things. We certaintly don't require this but

1. [you should check that you package is in scope for joss](https://joss.readthedocs.io/en/latest/submitting.html#)
2. [if it is, you can work on your paper.md file - instructions here](https://joss.readthedocs.io/en/latest/submitting.html#wha

[2022-10-12 16:01] mobigroup commented on #60
Hi @lwasser thanks, I'm glad to listen about the progress!

Yes, sure.

Ok, I'll.

Ah, got it, I completely forgot about it!

[2022-10-12 18:03] lwasser commented on #60
Awesome!! Thanks @mobigroup !!! Much appreciated!!

[2022-10-16 05:12] mobigroup commented on #60
Update: NASA operator [Alaska Satellite Facility](https://www.linkedin.com/company/aksatellite/) has installed GMTSAR on OpenSarLab (OSL). Now you can run PyGMTSAR out of the box right after starting OSL.
https://www.linkedin.com/feed/update/urn:li:activity:6987024568028708864/

[2022-10-19 15:05] NickleDave commented on #60
Hi @mobigroup thank you for the update. It's clear you are doing a lot to make PyGMTSAR accessible for everyone

@lwasser asked me to check in here, in my role as editor in chief.

Just letting you know that we do have a potential editor and reviewers. We're still doing a little more homework about fit and overlap. You should hear back on this issue within a week.

In the meantime, could I just re

[2022-10-19 18:25] lwasser commented on #60
@mobigroup so sorry i gave david the wrong survey link - [this is the correct one. ](https://forms.gle/eDGHEMUQJWWFahVU7). ive updated David's comment above as well. this is my fault.

[2022-10-19 19:56] lwasser commented on #7
hey there @kysolvik - I know you've done a lot for us already - but i'm hoping you can still fill out our survey just so we have a record of you in our review queu . The link is here: https://forms.gle/DF4qoAdXsCUuerj48 Many thanks for doing this i know time is valuable.

[2022-10-19 19:58] lwasser commented on #7
hey @marskar this is related to both the survey ([which i'd greatly appreciate your filling out ](https://forms.gle/DF4qoAdXsCUuerj48) But also I noticed that this package hasn't been updated since 2019. I'm just wondering if this package is still maintained by you or someone? Of if we need to sunset / archive it . it has some stars but i haven't look at the stats to see if people are using it. Pl

[2022-10-19 20:16] lwasser commented on #26
hey there @bpucker thank you so much for filling out our survey! ✨

[2022-10-19 20:17] lwasser commented on #26
hey @snacktavish ! i'm just checking in. we do need to ensure that packages are still being maintained that have been accepted to pyopensci. I see that hte last commit to physcraper was in May of this year which is great! Is this package still being maintained?

And can you kindly also fill out our maintainer survey. we need to be able to keep in touch with our maintainers to ensure packages remai

[2022-10-19 20:24] lwasser commented on #19
actually i think there are three maintainers possible here?
@Roel , @pjhaest I just pinged @stijnvanhoey above but would appreciate your filling our our[🔗 SURVEY](https://forms.gle/jgPA8NedJwgnGGBMA) as well. and you are also welcome to join us on slack. Many thanks again for your time.

[2022-10-19 20:31] lwasser commented on #12
hi again @cosmicBboy and @mbjoseph i'd be super appreciative if your filling our our survey

[🔗 HERE IS THE SURVEY LINK 🔗](https://forms.gle/ZZXcD1hr18tYmY2p6)!

I know you are busy and Niels I know you have super exciting job transition life happening now. But i'd appreciate your time. We'd like to check in with maintainers once a year to ensure all is well with package maintenance. Also your inp

[2022-10-19 20:39] snacktavish commented on #26
Hi Leah,
Sorry for the very slow response!! Yes, it is being maintained and I will get to the survey ASAP, and will have @LunaSare full it in too.
Thank you,

[2022-10-19 20:43] lwasser commented on #26
hi @snacktavish !! thank you so so much! no worries on the response. I"m excited to know it's still maintained and appreciate you both filling it out! Are you the only two maintainers of the package? 🙌

[2022-10-19 20:48] snacktavish commented on #26
We are!

[2022-10-19 22:48] lwasser commented on #26
Awesome. Thanks so much for the speedy replies today!

Leah

Leah A Wasser
Executive Director, pyOpenSci
@leahawasser
@pyopensci
***@***.***

[2022-10-20 05:58] mobigroup commented on #60
@NickleDave @lwasser thank you for the information, I’ve filed the survey. Let me note one additional point: there is a big problem for freelancers in science community because we can’t publish a paper or obtain a grant (authors must have an affiliation to an industrial company or a research institute) even for projects completed for well-known industial companies (Google Inc, for example, see som

[2022-10-20 14:51] NickleDave commented on #60
Thank you @mobigroup, we appreciate you taking the time to do that!

I hear you about how the scientific community may be pushing out freelancers (perhaps unintentionally) because of the requirement for affiliations. I guess this was prompted by a question in the survey? Should we add fields for "freelancer" or "unaffiliated" somewhere?

[2022-10-20 16:15] mobigroup commented on #60
@NickleDave It’d be valuable I think. Maybe my case is unique or maybe not: we can’t be sure without the targeted questionnaire. How about some more options for a respondent occupation? Maybe “freelancer” and “contractor” are not rare cases.

[2022-10-20 20:10] NickleDave commented on #60
That makes sense, I have passed that on to @lwasser.

@mobigroup I just want to update you on where we're at with this.

We really appreciate your enthusiasm and we think there are good reasons to review the package.
But it's still not quite clear to us how `pygmtsar` relates to `gmtsar` and what specific functionality `pygmtsar` provides.

Before we start a review, then, we'd ask you to make chan

[2022-10-21 00:05] LunaSare commented on #26
I submitted my answers to the survey :shipit:  Thank you for following up on this @lwasser ⭐

[2022-10-21 00:11] NickleDave commented on #26
Thank you @LunaSare! And thank you for the rare use of :shipit: squirrel :laughing:

[2022-10-21 03:07] mobigroup commented on #60
@NickleDave Ah, maybe would you explain on examples? The project documentation below cited from https://mobigroup.github.io/gmtsar/

1. The first lines of the docs explain the relationship between PyGMTSAR and GMTSAR. Please let me know why do you think that’s not enough?

2. The subject area is explained and I actually confused why you’ve found it not informative.

3. The functions reference list

[2022-10-22 22:38] NickleDave commented on #60
Hi again @mobigroup, thank you for your detailed reply.
You are correct that you have written something about all of the things I listed, as the text you quoted shows. As I said above

Let me explain what I'm looking for in terms of our process and our criteria.
Note that the criteria are here:  https://www.pyopensci.org/contributing-guide/open-source-software-peer-review/intro.html#
And the proce

[2022-10-23 05:29] mobigroup commented on #60
Hi @NickleDave your explanation is detailed, thanks! I see I need to reread it some times point-by-point. But I'm afraid you still didn't check the project documentation, right? Please open the documentation to find the answers for some of the questions.

## PyGMTSAR Documentation and the Functions Reference

1. PyGMTSAR documentation is linked on the GitHub https://github.com/mobigroup/gmtsar wit

[2022-10-24 12:02] lwasser commented on #12
You rock!! thanks Niels!

[2022-10-24 13:34] NickleDave commented on #60
Hi @mobigroup, yes let's go point-by-point. I'm sorry for the lengthy response that was probably overwhelming.

Thanks for the screenshots that show the API documentation.

Can you please share a link to that? I did look at your docs, many times, but obviously I was not able to find it.

[2022-10-24 18:32] mobigroup commented on #60
@NickleDave  The documentation https://mobigroup.github.io/gmtsar/ includes "Reference" chapter right after "Tutorials: Live Examples on Google Colab" chapter:

<img width="1096" alt="image" src="https://user-images.githubusercontent.com/7342379/197599036-c526b19e-a237-4754-9254-1ab52c547a6f.png">

<img width="1065" alt="image" src="https://user-images.githubusercontent.com/7342379/197599420-d17a0

[2022-10-24 23:09] lwasser commented on #26
hey there @snacktavish @LunaSare i have another followup question. we are trying to grasp who "owns" or runs the maintainer team here vs who has contributed etc

I have another name on my list [Martha Kandziora](https://github.com/mkandziora) and martha seemed to contribute in 2019 but i don't see any recent commits from them. Is it safe to say that Martha is no longer a maintainer? I am just tryi

[2022-10-26 21:53] NickleDave commented on #60
Thank you @mobigroup -- I do see the reference documentation now if I scroll past the tutorials.

This helps me see that many (most?) of the methods on the `SBAS` class are denoted as unique to `pygmtsar`.

[2022-10-26 21:54] NickleDave commented on #60
I'm sorry for my slow replies @mobigroup.

We've run into a couple things here that we haven't handled before so we wanted to get feedback. I will update you in the next couple of days -- didn't want you to think we had forgotten about you.

[2022-10-27 21:17] NickleDave commented on #60
Hi again @mobigroup.  Thank you for your continued patience.

As I said above, it seems pretty clear that the functionality of `pygmtsar` is within scope for pyOpenSci. And with your help, I was able to understand that `pygmtsar` provides many features in addition the functionality of `GMTSAR` that it wraps. It's also clear you are putting a lot of work into developing and promoting the package, f

[2022-10-28 04:58] mobigroup commented on #60
@NickleDave I'm sorry but it looks inappropriate. I spent a lot of time answering on your questions (and attaching screenshots because you didn't read the project documentation and wrote again and again about missed documentation) and today you rejecting all the work referencing to the 3 dummy points:

1. "so that pygmtsar is clearly its own package, not a fork of GMTSAR" - Anyone can check the Gi

[2022-10-28 13:34] lwasser commented on #19
Hey there - @Roel, @stijnvanhoey, @pjhaest just checking in again here to make sure you recieved my message above! It's important that packages in our pyOpenSci ecosystem are maintained and that we have some level of communication with our maintainers. I think pydov is still being maintained.

But i'd like to know who the current maintainers are so  please do get back to me here on this issue. And

[2022-10-28 15:19] NickleDave commented on #60
Hi @mobigroup

I know this and I completely understand your frustration and impatience.

You are right that I could have scrolled through the entire single page of documentation the first few times I read it, so that I could find the API reference at the bottom.
I am happy to provide more feedback about ways you could structure your documentation so that it is immediately obvious to a new user how

[2022-10-28 16:20] mobigroup commented on #60
@NickleDave Thanks, that sounds better. At the same time:

1. The Python package for review is https://pypi.org/project/pygmtsar/ and it includes PyGMTSAR Python codes only.
The Python sources placed in the sonamed GitHub project directory of my fork of GMTSAR repository because these sources are required for the development to provide the projects compatibility (PyGMTSAR can reproduce GMTSAR resu

[2022-10-28 16:44] NickleDave commented on #60
@mobigroup

We are not rejecting a review. I should have phrased that differently in my last reply.

As I said in the reply before that, if you can provide documentation of the development process, that will help us understand what is required. If we feel that we would be able to find new maintainers given the requirement, then we could proceed with a review.

You have just helped me better unders

[2022-10-28 20:50] stijnvanhoey commented on #19
@lwasser thanks for reaching out. @Roel is indeed the current maintainer and doing all of the updates and new releases. Would be best to have @Roel filling in the survey.

[2022-10-29 08:59] Roel commented on #19
Hi @lwasser

I'm indeed doing most of the maintenance of pydov currently. We had a bugfix release just a few days ago and a new major release is coming up soon!

I hope to find the time next week to fill in the survey.

[2022-10-30 23:18] lwasser opened #64 "test"
## What is this?

To make the review process easier and to help you maintain your package, pyOpenSci requires testing, continuous integration, and full documentation for packages submitted for review (read more [here][PackagingGuide]. We want to make this as easy as possible for newcomers, so if you'd like some help in prepping your package you can submit this request and we'll assign someone to h

[2022-10-31 11:21] lwasser commented on #64
was testing discord feeds...

[2022-10-31 11:21] #64 closed

[2022-10-31 12:27] lwasser commented on #19
ok awesome. @Roel i'll list you as the lead maintainer then for this package. Many thanks @stijnvanhoey @Roel for getting back to me!! and thanks in advance for working on the survey @Roel . I appreciate your time!

[2022-10-31 15:36] NickleDave commented on #60
Hi @mobigroup thank you for your reply, and for your patience with this review.
I think I see now your development workflow.

To update you: we are continuing to talk with maintainers that develop similar packages so we can better understand what would be required for maintenance.

We should have concrete feedback for you by the end of the week. Again I am sorry it is not sooner -- @lwasser is dea

[2022-10-31 16:43] mobigroup commented on #60
Hi @NickleDave thank you for the update!

[2022-11-03 15:46] Roel commented on #19
Hi @lwasser I filled in the survey, I hope the results will be useful for you!

[2022-11-03 19:11] lwasser commented on #19
@Roel thank you SO SO MUCH for that!! i appreciate it.

[2022-11-03 22:02] lwasser commented on #60
Hi, Alexey.

First and foremost I wanted to say thank you for all of the energy that you’ve put into this review and as a maintainer for pyGMTstar. We know that working with the GMT tools is not easy. And we appreciate your expertise as a maintainer and your efforts to make accessing sentinel data easier for scientists.

I want to start by saying we are not rejecting your package. However, in orde

[2022-11-29 16:19] lwasser commented on #60
closing this given there has been no engagement in a few weeks. thank you everyone for your patience.

[2022-11-29 16:19] #60 closed

[2022-11-29 16:21] lwasser commented on #58
hey there @njr0 i'm going through and checkin in on stale issues. Do you intend to submit a package for review? I think we can close this issue regardless but if you do intend to submit, please go ahead and do say as @NickleDave suggests above! We can absolutely get your package going in our review chain once you submit a review issue.

reach out with any questions and reopen this if you feel like

[2022-11-29 16:21] #58 closed

[2022-11-29 19:12] njr0 commented on #58
Hi @lwasser, @NickleDave.

I'm so sorry, I completely missed this. Yes, I will do a full submission.

Thanks!

Nick

[2022-11-29 20:47] NickleDave commented on #58
Great, glad to hear it @njr0, thank you. I'll ping @lwasser in the pyOpenSci Slack just to make sure it's on our radar.